<div class="row">
  <div class="col-md-12">
    <h2 class="h4 margin-none">
      You have
      <span class="bold number-title">18</span>
      <span class="bold eob-title">Prescription Drug EOBs</span> for the
      <span class="bold days-title">Last 90 days</span>
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <a href="#collapseEOB-2" role="button" data-toggle="collapse"
      aria-expanded="false" aria-controls="collapseEOB-2" class="display-inline-block collapse-expand">
      Learn More About My Prescription Drug EOB
      <span class="material-icons">keyboard_arrow_down</span>
    </a>
    <div class="collapse-wrapper margin-small">
      <div class="collapse" id="collapseEOB-2">
        <p class="margin-small">
          We will send you a Prescription Drug EOB statement for each month you buy prescription drugs. The statement can help you keep track of your monthly prescription drug costs. It includes helpful definitions, drug list updates, phone numbers to call for help and other useful information. See below for descriptions of each section of the Prescription Drug EOB.
        </p>
        <p class="margin-extra-small semi-bold text-uppercase">Section 1: Your prescription drugs during the past month</p>
        <p class="margin-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum commodo rutrum. Sed a diam non urna efficitur finibus. Etiam eros nunc, posuere ut tincidunt sit amet, molestie id mauris.</p>
        <p class="margin-extra-small semi-bold text-uppercase">Section 2: Your drug payment stage</p>
        <p class="margin-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum commodo rutrum. Sed a diam non urna efficitur finibus. Etiam eros nunc, posuere ut tincidunt sit amet, molestie id mauris.</p>
        <p class="margin-extra-small semi-bold text-uppercase">Section 3: Your out-of-pocket costs and total drug costs</p>
        <p class="margin-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum commodo rutrum. Sed a diam non urna efficitur finibus. Etiam eros nunc, posuere ut tincidunt sit amet, molestie id mauris.</p>
        <p class="margin-extra-small semi-bold text-uppercase">Section 4: Updates to the plan’s Drug List for drugs you take</p>
        <p class="margin-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum commodo rutrum. Sed a diam non urna efficitur finibus. Etiam eros nunc, posuere ut tincidunt sit amet, molestie id mauris.</p>
        <p class="margin-extra-small semi-bold text-uppercase">Section 5: What to do if you see mistakes or if you have questions</p>
        <p class="margin-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum commodo rutrum. Sed a diam non urna efficitur finibus. Etiam eros nunc, posuere ut tincidunt sit amet, molestie id mauris.</p>
        <p class="margin-extra-small semi-bold text-uppercase">Section 6: Important things to know about your drug coverage and your rights</p>
        <p class="margin-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vestibulum commodo rutrum. Sed a diam non urna efficitur finibus. Etiam eros nunc, posuere ut tincidunt sit amet, molestie id mauris.</p>
      </div>
    </div>

    {{> eob-table extended="true" }}
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <p class="margin-small margin-auto align-center">
      18 items found.  Displaying 1 to 10
    </p>
    <ul class="uhc-pagination margin-large">
      <li>Page 1 of 2</li>
      <li class="disabled">
        <a href="#"><span class="material-icons">keyboard_arrow_left</span></a>
      </li>
      <li>
        <a href="#"><span class="material-icons">keyboard_arrow_right</span></a>
      </li>
    </ul>
  </div>
</div>
