<div class="row">
  <div class="col-md-12">
    <h2 class="h4 margin-none">
      You have
      <span class="bold number-title">0</span>
      <span class="bold eob-title">Prescription Drug EOBs</span> for the
      <span class="bold days-title">Last Custom Days</span>
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <p class="margin-large">The Medical EOB is a summary of the claims we get for your medical care in a particular month. For example, if we get claims in April, you’ll get a EOB in May. If there are no claims in May, you won’t get a EOB in June.</p>
    <p class="color-red semi-bold">{{> important }} No results were found. Please select a different Date Range to search again. Only EOBs from the Last 18 months are searchable.</p>
  </div>
</div>
