<h2 class="h3">Colors</h2>

{{!-- Blue --}}
<h3 class="h5 semi-bold text-uppercase margin-small">Blue</h3>
<ul class="color-container">
  <li class="color-container-item">
    <div class="color-sample" data-color="#003DA1"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Base</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#E8F6FA"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Light</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#C0E9FF"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Medium</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#122377"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Dark</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#00A8F7"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Accent</p>
    </div>
  </li>
</ul>

{{!-- Gray --}}
<h3 class="h5 semi-bold text-uppercase margin-small">Gray</h3>
<ul class="color-container">
  <li class="color-container-item">
    <div class="color-sample" data-color="#8C9599"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Base</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#F5F5F5"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Light</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#E0E0E0"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Medium</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#444444"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Dark</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#B3BABC"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Accent</p>
    </div>
  </li>
</ul>

{{!-- Violet --}}
<h3 class="h5 semi-bold text-uppercase margin-small">Violet</h3>
<ul class="color-container">
  <li class="color-container-item">
    <div class="color-sample" data-color="#9521AD"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Base</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#F3E4F7"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Light</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#E3C5EA"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Medium</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#5C1D6B"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Dark</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#D360EF"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Accent</p>
    </div>
  </li>
</ul>

{{!-- Teal --}}
<h3 class="h5 semi-bold text-uppercase margin-small">Teal</h3>
<ul class="color-container">
  <li class="color-container-item">
    <div class="color-sample" data-color="#00BCD6"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Base</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#DFF7FA"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Light</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#A5EBEF"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Medium</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#007C89"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Dark</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#4DEEFF"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Accent</p>
    </div>
  </li>
</ul>

{{!-- Orange --}}
<h3 class="h5 semi-bold text-uppercase margin-small">Orange</h3>
<ul class="color-container">
  <li class="color-container-item">
    <div class="color-sample" data-color="#FF5F0E"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Base</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#FFE7E1"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Light</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#FFC9B6"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Medium</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#D53704"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Dark</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#FFAA25"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Accent</p>
    </div>
  </li>
</ul>

{{!-- Green --}}
<h3 class="h5 semi-bold text-uppercase margin-small">Green</h3>
<ul class="color-container">
  <li class="color-container-item">
    <div class="color-sample" data-color="#21B01E"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Base</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#E1FADF"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Light</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#BBEABB"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Medium</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#007000"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Dark</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#93ED58"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Accent</p>
    </div>
  </li>
</ul>

{{!-- Purple --}}
<h3 class="h5 semi-bold text-uppercase margin-small">Purple</h3>
<ul class="color-container">
  <li class="color-container-item">
    <div class="color-sample" data-color="#6636BA"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Base</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#EDE9FF"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Light</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#D0C7EF"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Medium</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#3E2087"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Dark</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#AF71FF"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Accent</p>
    </div>
  </li>
</ul>

{{!-- Red --}}
<h3 class="h5 semi-bold text-uppercase margin-small">Red</h3>
<ul class="color-container">
  <li class="color-container-item">
    <div class="color-sample" data-color="#E91B18"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Base</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#FFE6F0"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Light</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#FFB8C9"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Medium</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#B10C00"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Dark</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#FA69BF"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Accent</p>
    </div>
  </li>
</ul>

{{!-- Yellow --}}
<h3 class="h5 semi-bold text-uppercase margin-small">Yellow</h3>
<ul class="color-container">
  <li class="color-container-item">
    <div class="color-sample" data-color="#FFD00D"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Base</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#FFFCD9"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Light</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#FFFA97"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Medium</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#DB9C00"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Dark</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#FFFF00"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Accent</p>
    </div>
  </li>
</ul>

{{!-- Digital only colors --}}
<h3 class="h5 semi-bold text-uppercase margin-small">Digital only colors</h3>
<ul class="color-container">
  <li class="color-container-item">
    <div class="color-sample" data-color="#196ECF"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Primary Button / text links</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#757588"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Light text</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#2D2D39"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Tertiary buttons / button text</p>
    </div>
  </li>
  <li class="color-container-item">
    <div class="color-sample" data-color="#0D880B"></div>
    <div class="color-label">
      <p class="margin-none semi-bold">Alt. primary button</p>
    </div>
  </li>
</ul>
