<h2 class="h3">Typography</h2>
<h3 class="h5 semi-bold text-uppercase margin-small">Headings</h3>
{{!-- H1 --}}
<div class="heading-level">
  <p class="h1 margin-none">Heading level 1</p>
  <div class="heading-level-label">
    <p class="text-small">Desktop: 3.125em / 50px</p>
    <p class="text-small">Mobile: 2.667em / 42px</p>
  </div>
</div>
{{!-- H2 --}}
<div class="heading-level">
  <p class="h2 margin-none">Heading level 2</p>
  <div class="heading-level-label">
    <p class="text-small">Desktop: 2.375em / 38px</p>
    <p class="text-small">Mobile: 1.883em / 30px</p>
  </div>
</div>
{{!-- H3 --}}
<div class="heading-level">
  <p class="h3 margin-none">Heading level 3</p>
  <div class="heading-level-label">
    <p class="text-small">Desktop: 2.125em / 34px</p>
    <p class="text-small">Mobile: 1.417em / 22px</p>
  </div>
</div>
{{!-- H4 --}}
<div class="heading-level">
  <p class="h4 margin-none">Heading level 4</p>
  <div class="heading-level-label">
    <p class="text-small">Desktop: 1.5625em / 25px</p>
    <p class="text-small">Mobile: 1.25em / 20px</p>
  </div>
</div>
{{!-- H5 --}}
<div class="heading-level">
  <p class="h5 margin-none">Heading level 5</p>
  <div class="heading-level-label">
    <p class="text-small">Desktop: 1.1875em / 19px</p>
    <p class="text-small">Mobile: 1em / 16px</p>
  </div>
</div>
{{!-- H6 --}}
<div class="heading-level margin-large">
  <p class="h6 margin-none">Heading level 6</p>
  <div class="heading-level-label">
    <p class="text-small">Desktop: 0.9375em / 15px</p>
    <p class="text-small">Mobile: 1em / 16px</p>
  </div>
</div>

<h3 class="h5 semi-bold text-uppercase margin-small">Sizes</h3>
{{!-- Small --}}
<p class="margin-none text-small">Lorem ipsum dolor sit amet</p>
<p class="margin-small text-small">Small 0.875em / 14px</p>
{{!-- Regular --}}
<p class="margin-none">Lorem ipsum dolor sit amet</p>
<p class="margin-small text-small">Regular 1em / 16px</p>
{{!-- Medium --}}
<p class="margin-none text-medium">Lorem ipsum dolor sit amet</p>
<p class="margin-small text-small">Medium 1.125em / 18px</p>
{{!-- Large --}}
<p class="margin-none text-large">Lorem ipsum dolor sit amet</p>
<p class="margin-large text-small">Large 1.375em / 22px</p>

<h3 class="h5 semi-bold text-uppercase margin-small">Weights</h3>
{{!-- Light --}}
<p class="margin-none light">Lorem ipsum dolor sit amet</p>
<p class="margin-small text-small">Light 300</p>
{{!-- Medium --}}
<p class="margin-none">Lorem ipsum dolor sit amet</p>
<p class="margin-small text-small">Medium (Regular) 400</p>
{{!-- Semi-bold --}}
<p class="margin-none semi-bold">Lorem ipsum dolor sit amet</p>
<p class="margin-small text-small">Semi-bold 500</p>
{{!-- Bold --}}
<p class="margin-none bold">Lorem ipsum dolor sit amet</p>
<p class="margin-none text-small">Bold 600</p>
