<section class="container--base no-margin-bottom">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-6 no-margin-bottom">
				<button data-toggle="modal" data-target="#addToolsModal" class="btn">
					<span class="btn btn--primary">Drug Tools</span>
				</button>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 align-right no-margin-bottom">
				<button data-toggle="modal" data-target="#addPrescriptionModal" class="btn btn--right">
					<span class="btn btn--primary">Add a Drug</span>
				</button>
			</div>
		</div>
	</div>
</section>
