<!-- Start: Add modal -->
<div id="addPrescriptionModal" tabindex="-1" role="dialog" aria-labelledby="addPrescriptionModalLabel" class="modal fade">
	<div role="document" class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<a class="link link--icon-right link--icon-circled align-right" data-icon="î—" data-dismiss="modal" aria-label="Cancel">Cancel</a>
				<div id="addPrescriptionModalLabel" class="modal-title">
					<h1 class="h3 margin-none">Albuterol</h1>
				</div>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<div class="table-body responsive margin-large">
								<div class="table-body-row field--row">
									<div class="table-body-cell">
										<label for="auto-payments-routing">Name:</label>
									</div>
									<div class="table-body-cell">
										<div class="field-input">
											<input type="number" name="auto-payments-routing" id="auto-payments-routing">
										</div>
									</div>
								</div>
								<div class="table-body-row field--row">
									<div class="table-body-cell">
										<label for="auto-payments-routing-confirm">Strength:</label>
									</div>
									<div class="table-body-cell">
										<div class="field-input">
											<input type="number" name="auto-payments-routing-confirm" id="auto-payments-routing-confirm">
										</div>
									</div>
								</div>
								<div class="table-body-row field--row">
									<div class="table-body-cell">
										<label for="auto-payments-account-number" class="display-inline-block">Provider:</label>
									</div>
									<div class="table-body-cell">
										<div class="field-input">
											<input type="number" name="auto-payments-account-number" id="auto-payments-account-number">
										</div>
									</div>
								</div>
								<div class="table-body-row field--row">
									<div class="table-body-cell">
										<label for="auto-payments-first-name" class="display-inline-block">Date:</label>
									</div>
									<div class="table-body-cell">
										<div class="field-input">
											<input type="text" name="auto-payments-first-name" id="auto-payments-first-name">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" data-dismiss="modal" class="btn">
					<span class="btn btn--primary">Add</span>
				</button>
				<a href="#" data-dismiss="modal">CANCEL</a>
			</div>
		</div>
	</div>
</div>
