<!-- Start: Add modal -->
<div id="drugToolsModal" tabindex="-1" role="dialog" aria-labelledby="drugToolsModalLabel" class="modal fade">
	<div role="document" class="modal-dialog modal-md rx-tools-modal">
		<div class="modal-content">
			<div class="modal-header">
				<a class="link link--icon-right link--icon-circled align-right" data-icon="î—" data-dismiss="modal" aria-label="Close">Close</a>
				<div id="drugToolsModalLabel" class="modal-title">
					<h1 class="h3 margin-none">Drug Tools</h1>
				</div>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<p>
                <a href="#" class="btn btn--primary btn--large-width" target="_blank">Drug Cost Estimator</a>
								{{!-- <button type="button" data-dismiss="modal" class="btn btn--center">
									<span class="btn btn--primary">Cost Estimator</span>
								</button> --}}
							</p>
							<p>
                <a href="#" class="btn btn--primary btn--large-width" target="_blank">Drug Search</a>
								{{!-- <button type="button" data-dismiss="modal" class="btn btn--center">
									<span class="btn btn--primary">Drug Search</span>
								</button> --}}
							</p>
							<p>
                <a href="#" class="btn btn--primary btn--large-width" target="_blank">Pill Finder</a>
								{{!-- <button type="button" data-dismiss="modal" class="btn btn--center">
									<span class="btn btn--primary">Pill Finder</span>
								</button> --}}
							</p>
							<p>
                <a href="#" class="btn btn--primary btn--large-width" target="_blank">Drug Compare</a>
								{{!-- <button type="button" data-dismiss="modal" class="btn btn--center">
									<span class="btn btn--primary">Drug Compare</span>
								</button> --}}
							</p>
							<p>
                <a href="#" class="btn btn--primary btn--large-width" target="_blank">Drug Interaction</a>
								{{!-- <button type="button" data-dismiss="modal" class="btn btn--center">
									<span class="btn btn--primary">Drug Interaction</span>
								</button> --}}
							</p>
							<p>
                <a href="#" class="btn btn--primary btn--large-width" target="_blank">Drugs A-Z</a>
								{{!-- <button type="button" data-dismiss="modal" class="btn btn--center">
									<span class="btn btn--primary">Drugs A-Z</span>
								</button> --}}
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				{{!-- <button type="button" data-dismiss="modal" class="btn btn--center">
					<span class="btn btn--primary">Add</span>
				</button>
				<a href="#" data-dismiss="modal">CANCEL</a> --}}
			</div>
		</div>
	</div>
</div>
