<!-- Start: Add modal -->
<div id="viewProviderModal" tabindex="-1" role="dialog" aria-labelledby="viewProviderModalLabel" class="modal fade">
  <div role="document" class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <a class="link link--icon-right link--icon-circled align-right" data-icon="î—" data-dismiss="modal" aria-label="Close">Close</a>
        <div id="viewProviderModalLabel" class="modal-title">
          <h1 class="h4 margin-none" id="provider-name">Smithsberg, Jonathen; MD</h1>
        </div>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
							<div class="table-body margin-small">
								{{!-- Name --}}
								<div class="table-body-row field--row">
									<div class="table-body-cell">
										<label for="provider-name">Specialty:</label>
									</div>
									<div class="table-body-cell" id="provider-specialty">
										Generalist
									</div>
								</div>
                <div class="table-body-row field--row">
                  <div class="table-body-cell">
                    <label for="provider-facility">Facility:</label>
                  </div>
                  <div class="table-body-cell" id="provider-facility">
                    ABC Building
                  </div>
                </div>
								{{!-- <div class="table-body-row field--row">
									<div class="table-body-cell">
										<label for="provider-name">Address::</label>
									</div>
									<div class="table-body-cell">
										301 NW 84th Ave
									</div>
								</div> --}}
								<div class="table-body-row field--row">
									<div class="table-body-cell">
										<label for="provider-city">City:</label>
									</div>
									<div class="table-body-cell" id="provider-city">
										Eden Prairie
									</div>
								</div>
								{{!-- <div class="table-body-row field--row">
									<div class="table-body-cell">
										<label for="provider-state">State:</label>
									</div>
									<div class="table-body-cell" id="provider-state">
										MN
									</div>
								</div> --}}
								{{!-- <div class="table-body-row field--row">
									<div class="table-body-cell">
										<label for="provider-name">ZIP code:</label>
									</div>
									<div class="table-body-cell">
										33324
									</div>
								</div> --}}
								<div class="table-body-row field--row">
									<div class="table-body-cell">
										<label for="provider-phone">Phone:</label>
									</div>
									<div class="table-body-cell" id="provider-phone">
										(777) 777-7777
									</div>
								</div>
								<div class="table-body-row field--row">
									<div class="table-body-cell">
										<label for="provider-date">Date:</label>
									</div>
									<div class="table-body-cell" id="provider-date">
										12/15/2014
									</div>
								</div>
							</div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        {{!-- <button type="button" data-dismiss="modal" class="btn">
          <span class="btn btn--primary">Add</span>
        </button>
        <a href="#" data-dismiss="modal">CANCEL</a> --}}
      </div>
    </div>
  </div>
</div>
