<table class="phr-table phr-drug-table table-responsive margin-small">
    <tr>
      <th>Name</th>
      <th>Provider</th>
      <th>Frequency</th>
      <th>Date Prescribed</th>
    </tr>
    <tr class="drug-row">
      <td>
        <a href="#">SYNTHROID 200MCG TABLET ORAL<img src="/images/icon-svgs/external-link.svg" alt="" class="external-link" /></a>
      </td>
      <td>
        <span class="provider-name">Smithsberg, Jonathen; MD</span>
      </td>
      <td>
        <span class="mobile-table-header">Frequency</span>
        <div class="table-dots"></div>
        <span>1 per day</span>
      </td>
      <td>
        <span class="mobile-table-header">Date Prescribed</span>
        <div class="table-dots"></div>
        <span>11/20/2017</span>
      </td>
    </tr>
    <tr class="drug-row">
      <td>
        <a href="#">Hydrochlorothiazide 10 MG<img src="/images/icon-svgs/external-link.svg" alt="" class="external-link" /></a>
      </td>
      <td>
        <span class="provider-name">Smithsberg, Jonathen; MD</span>
      </td>
      <td>
        <span class="mobile-table-header">Frequency</span>
        <div class="table-dots"></div>
        <span>2 per day</span>
      </td>
      <td>
        <span class="mobile-table-header">Date Prescribed</span>
        <div class="table-dots"></div>
        <span>11/20/2017</span>
      </td>
    </tr>
    <tr class="drug-row">
      <td>
        <a href="#">ALBUTEROL INHALANT 0.63 MG/3ML
          <img src="/images/icon-svgs/external-link.svg" alt="" class="external-link" />
        </a>
      </td>
      <td>
        <span class="provider-name">Swain, Roselin; MD</span>
      </td>
      <td>
        <span class="mobile-table-header">Frequency</span>
        <div class="table-dots"></div>
        <span>PRN</span>
      </td>
      <td>
        <span class="mobile-table-header">Date Prescribed</span>
        <div class="table-dots"></div>
        <span>6/15/2017</span>
      </td>
    </tr>
    <tr class="drug-row">
      <td>
        <a href="#" target="_blank">MECLIZINE HCL 12.5MG<img src="/images/icon-svgs/external-link.svg" alt="" class="external-link" /></a>
      </td>
      <td>
        <span class="provider-name">Swain, Roselin; MD</span>
      </td>
      <td>
        <span class="mobile-table-header">Frequency</span>
        <div class="table-dots"></div>
        <span>1 per day</span>
      </td>
      <td>
        <span class="mobile-table-header">Date Prescribed</span>
        <div class="table-dots"></div>
        <span>6/15/2017</span>
      </td>
    </tr>
    <tr class="drug-row">
      <td>
        <a href="#">BACTROBAN 2% OINT.<img src="/images/icon-svgs/external-link.svg" alt="" class="external-link" /></a>
      </td>
      <td>
        <span class="provider-name">Swain, Roselin; MD</span>
      </td>
      <td>
        <span class="mobile-table-header">Frequency</span>
        <div class="table-dots"></div>
        <span>3 per day</span>
      </td>
      <td>
        <span class="mobile-table-header">Date Prescribed</span>
        <div class="table-dots"></div>
        <span>10/10/2016</span>
      </td>
    </tr>
    <tr class="drug-row">
      <td>
        <a href="#">Sertraline HCL 50MG<img src="/images/icon-svgs/external-link.svg" alt="" class="external-link" /></a>
      </td>
      <td>
        <span class="provider-name">Swain, Roselin; MD</span>
      </td>
      <td>
        <span class="mobile-table-header">Frequency</span>
        <div class="table-dots"></div>
        <span>1 per day</span>
      </td>
      <td>
        <span class="mobile-table-header">Date Prescribed</span>
        <div class="table-dots"></div>
        <span>10/10/2016</span>
      </td>
    </tr>
    <tr class="drug-row">
      <td>
        <a href="#">Levothyroxine 25MCG<img src="/images/icon-svgs/external-link.svg" alt="" class="external-link" /></a>
      </td>
      <td>
        <span class="provider-name">Swain, Roselin; MD</span>
      </td>
      <td>
        <span class="mobile-table-header">Frequency</span>
        <div class="table-dots"></div>
        <span>1 per day</span>
      </td>
      <td>
        <span class="mobile-table-header">Date Prescribed</span>
        <div class="table-dots"></div>
        <span>10/10/2016</span>
      </td>
    </tr>
    <tr class="drug-row">
      <td>
        <a href="#">Lisinopril 5MG<img src="/images/icon-svgs/external-link.svg" alt="" class="external-link" /></a>
      </td>
      <td>
        <span class="provider-name">Swain, Roselin; MD</span>
      </td>
      <td>
        <span class="mobile-table-header">Frequency</span>
        <div class="table-dots"></div>
        <span>1 per day</span>
      </td>
      <td>
        <span class="mobile-table-header">Date Prescribed</span>
        <div class="table-dots"></div>
        <span>10/10/2016</span>
      </td>
    </tr>
    <tr class="drug-row">
      <td>
        <a href="#">ZITHROMAX 250MG
          <img src="/images/icon-svgs/external-link.svg" alt="" class="external-link" />
        </a>
      </td>
      <td>
        <span class="provider-name">Franklin, Timothy; MD</span>
      </td>
      <td>
        <span class="mobile-table-header">Frequency</span>
        <div class="table-dots"></div>
        <span>1 per day</span>
      </td>
      <td>
        <span class="mobile-table-header">Date Prescribed</span>
        <div class="table-dots"></div>
        <span>5/3/2017</span>
      </td>
    </tr>
    <tr class="drug-row">
      <td>
        <a href="#">Omeprazole 20 MG<img src="/images/icon-svgs/external-link.svg" alt="" class="external-link" /></a>
      </td>
      <td>
        <span class="provider-name">Wali, Sanjay; MD</span>
      </td>
      <td>
        <span class="mobile-table-header">Frequency</span>
        <div class="table-dots"></div>
        <span>1 per day</span>
      </td>
      <td>
        <span class="mobile-table-header">Date Prescribed</span>
        <div class="table-dots"></div>
        <span>3/16/2016</span>
      </td>
    </tr>
    <tr class="drug-row">
      <td>
        <a href="#">Lipitor 10 MG<img src="/images/icon-svgs/external-link.svg" alt="" class="external-link" /></a>
      </td>
      <td>
        <span class="provider-name">Wali, Sanjay; MD</span>
      </td>
      <td>
        <span class="mobile-table-header">Frequency</span>
        <div class="table-dots"></div>
        <span>1 per day</span>
      </td>
      <td>
        <span class="mobile-table-header">Date Prescribed</span>
        <div class="table-dots"></div>
        <span>8/20/2015</span>
      </td>
    </tr>
    <tr class="drug-row">
      <td>
        <a href="#">Amlodipine 5MG<img src="/images/icon-svgs/external-link.svg" alt="" class="external-link" /></a>
      </td>
      <td>
        <span class="provider-name">Ramirez, Steven; MD</span>
      </td>
      <td>
        <span class="mobile-table-header">Frequency</span>
        <div class="table-dots"></div>
        <span>1 per day</span>
      </td>
      <td>
        <span class="mobile-table-header">Date Prescribed</span>
        <div class="table-dots"></div>
        <span>3/3/2015</span>
      </td>
    </tr>
    <tr class="drug-row">
      <td>
        <a href="#">Simvastatin 20MG<img src="/images/icon-svgs/external-link.svg" alt="" class="external-link" /></a>
      </td>
      <td>
        <span class="provider-name">Ramirez, Steven; MD</span>
      </td>
      <td>
        <span class="mobile-table-header">Frequency</span>
        <div class="table-dots"></div>
        <span>1 per day</span>
      </td>
      <td>
        <span class="mobile-table-header">Date Prescribed</span>
        <div class="table-dots"></div>
        <span>3/3/2015</span>
      </td>
    </tr>
    <tr class="drug-row">
      <td>
        <a href="#">Clotrimazole 10MG<img src="/images/icon-svgs/external-link.svg" alt="" class="external-link" /></a>
      </td>
      <td>
        <span class="provider-name">Ramirez, Steven; MD</span>
      </td>
      <td>
        <span class="mobile-table-header">Frequency</span>
        <div class="table-dots"></div>
        <span>5 per day</span>
      </td>
      <td>
        <span class="mobile-table-header">Date Prescribed</span>
        <div class="table-dots"></div>
        <span>3/3/2015</span>
      </td>
    </tr>
    <tr class="drug-row">
      <td>
        <a href="#">Metoprolol ER 25MG<img src="/images/icon-svgs/external-link.svg" alt="" class="external-link" /></a>
      </td>
      <td>
        <span class="provider-name">Ramirez, Steven; MD</span>
      </td>
      <td>
        <span class="mobile-table-header">Frequency</span>
        <div class="table-dots"></div>
        <span>1 per day</span>
      </td>
      <td>
        <span class="mobile-table-header">Date Prescribed</span>
        <div class="table-dots"></div>
        <span>1/26/2015</span>
      </td>
    </tr>
</table>
