<div class="row">
	<div class="col-md-12">
		<p class="margin-small margin-auto align-center">
			Showing 4 of 12 records. <a class="show-records-btn btn btn--primary" href="#">Show All</a>
		</p>
	</div>
</div>
