<!-- Start: Add modal -->
<div id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" class="modal fade">
	<div role="document" class="modal-dialog modal-md rx-tools-modal">
		<div class="modal-content">
			<div class="modal-header">
				<a class="link link--icon-right link--icon-circled align-right" data-icon="î—" data-dismiss="modal" aria-label="Close">Close</a>
				<div id="successModalLabel" class="modal-title">
					<h1 class="h3 margin-none">Success!</h1>
				</div>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 col-sm-8 col-sm-offset-2">
              <div class="message-block--full-width success margin-large variation-el text-center">
                <div class="message-block-header margin-top-small">
                  <span>You have found the Pill Finder button.</span>
                </div>
                <div class="message-block-body">
                  <p class="margin-top-small margin-small">You have completed this task.</p>
                </div>
              </div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" data-dismiss="modal" class="btn btn--center">
					<span class="btn btn--primary">Close</span>
				</button>
         {{!--<a href="#" data-dismiss="modal">CANCEL</a> --}}
			</div>
		</div>
	</div>
</div>
