---
title: Page Headline Lorem Ipsum
layout: default
backTitle: Return to previous
hasFooter: true
hasHeader: true
hasScript:
  - content-only
hasHelp: FED
---
<div class="content-only">
  {{> co-accordion }}
  {{> form-disclaimer }}
  {{> co-modals }}
</div>
