<footer class="nav-footer" role="contentinfo" aria-label="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1 class="h6 medium">Member Support</h1>
        <ul class="nav-footer--list">
          <li>Customer Service 1-800-555-5555</li>
          <li><a href="#">All Contact Info</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h1 class="h6 medium">Quick Links</h1>
        <ul class="nav-footer--list">
          <li><a href="#">Find A Provider</a></li>
          <li><a href="#">Send Feedback</a></li>
          <li><a href="#">Report Incorrect Info</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h1 class="h6 medium">Ask A Nurse</h1>
        <ul class="nav-footer--list">
          <li>Registered nurses available 24/7</li>
          <li>1-888-842-4224</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12"><span style="font-size: .875rem;">UHC &copy; 2016 | All Rights Reserved</span></div>
    </div>
  </div>
</footer>
