<footer class="nav-footer unauthenticated" role="contentinfo" aria-label="footer">
  {{#if footerDisclaimer}}
  <div class="footer-disclaimer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p>
            If you would like to provide feedback regarding your Medicare Advantage
            or Medicare prescription drug plan, you can call the number on the back
            of your member ID card (health insurance card) to contact Customer Service
            or you can provide feedback directly to Medicare through their
            <a href="#" class="lowercase">Complaint Form</a>.  Please read the
            <a href="#" class="lowercase">UnitedHealthcare Non-Discrimination Notice (PDF)</a>.
          </p>
          <p>
            Learn more about support in the event of a
            <a href="#" class="lowercase">declaration of disaster or emergency</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
  {{/if}}
  <div class="footer-list">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="unauth-footer-list">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Disclaimers</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="pull-left">
            Last updated: 01.01.2017 at 120:01 AM CT
          </div>
          <div class="pull-right">
            &copy; 2017 United HealthCare Services, Inc. All rights reserved
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
