<div class="container--base gray">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="h3 medium margin-none">Annual Notice of Changes Documents</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="margin-small">
          <fieldset>
            <legend>
              <label for="lang-select-2" class="display-inline-block">View </label>
            </legend>
            <div class="select--inline">
              <select id="lang-select-2" class="lang-select">
                <option>ENGLISH</option>
                <option>SPANISH</option>
                <option>CHINESE</option>
              </select>
            </div>
            <span class="display-inline-block bold">documents</span>
          </fieldset>
        </div>
        <h2 class="h4 color-blue medium margin-small">2016</h2>
        {{> link-list resources-ssup-group.annual-changes.year-2016}}
        <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h2 class="h4 color-blue medium margin-small">2017</h2>
        {{> link-list resources-ssup-group.annual-changes.year-2017}}
        <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>
</div>

<div class="container--base">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="h3 medium margin-none">Annual Directories</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="margin-small">
          <fieldset>
            <legend>
              <label for="lang-select-3" class="display-inline-block">View </label>
            </legend>
            <div class="select--inline">
              <select id="lang-select-3" class="lang-select">
                <option>ENGLISH</option>
                <option>SPANISH</option>
                <option>CHINESE</option>
              </select>
            </div>
            <span class="display-inline-block bold">documents</span>
          </fieldset>
        </div>
        <!--<h2 class="h4 color-blue medium margin-small">2016</h2>-->
        {{> link-list resources-ssup-group.annual-changes.directory}}
      </div>
    </div>
  </div>
</div>
