<div class="divider"></div>
<section class="container--base" id="resources">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="h3 medium margin-none">Forms and Resources</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <a class="collapse-header--alt" role="button" data-toggle="collapse" href="#collapse-0" aria-expanded="false" aria-controls="collapse-0">
          <span class="header-text">
            Premium Payment and Claim Reimbursement Forms
          </span>
        </a>
        <div id="collapse-0" class="collapse">
          {{> link-list resources-ssup-group.resources.premium-payment-claim}}
        </div>

        <a class="collapse-header--alt" role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
          <span class="header-text">
            Authorization Forms
          </span>
        </a>
        <div id="collapse-1" class="collapse">
          {{> link-list resources-ssup-group.resources.authorization}}
        </div>

        <a class="collapse-header--alt" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
          <span class="header-text">
            Other Resources
          </span>
        </a>
        <div id="collapse-2" class="collapse">
          {{> link-list resources-ssup-group.resources.other}}
        </div>

        <a class="collapse-header--alt" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
          <span class="header-text">
            Disenrollment Information
          </span>
        </a>
        <div id="collapse-3" class="collapse">
          {{> link-list resources-ssup-group.resources.disenrollment}}
        </div>
      </div>
    </div>
  </div>
</section>
