<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/styles/vendor/bootstrap.css">

    {{!-- <!-- build:css ./styles/main.css -->
    <link rel="stylesheet" href="/styles/main.css?v={{moment cachebust "YYYYHHmmssZZ"}}">
    <!-- endbuild --> --}}

    <link rel="stylesheet" href="/styles/main.css">


    {{!-- <!-- build:js ./scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild --> --}}

    <script src="/scripts/vendor/modernizr.js"></script>

</head>
<body>

    <header class="uhc-nav-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="uhc-nav-header--body">
                        <a href="/">
                            <img src="/images/logos/aarp-logo.png" alt="UHC Logo Large" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <nav class="uhc-nav">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="uhc-nav-body">
                    </div>
                </div>
            </div>
        </div>
    </nav>

    {% body %}

    <!-- Start: Footer scripts -->
    {{> footer-scripts}}

</body>
</html>
