@media print {
    @page {
        margin: 1cm !important;
    }

    table,
    a {
        font-size: 12px !important;
    }

    a[href]:after {
        content: '';
    }

    .personal-health-record {
        .btn,
        .card-buttons,
        .add-link,
        .drug-tools-link,
        .records-container,
        .external-link,
        .nav-footer,
        .print-email-container,
        .intro-text {
            display: none !important;
        }

        .print-only {
            display: block !important;
        }

        td.print-only,
        th.print-only {
            display: table-cell !important;
        }

        .container--base {
            background-color: none !important;
            margin: 0 !important;
            padding: 20px 0;
        }

        .row-hidden {
            display: table-row !important;
        }
    }
}
