<section class="container--base gray">
  <div class="container">
    <div class="row">
      {{!-- Start: section header --}}
      <div class="col-md-8 margin-small">
        <h2 class="h3 medium margin-none">Benefits Summary</h2>
      </div>
    </div>

    {{!-- Start: section partials --}}
    {{> BC-card-medical-emergency-ship}}
    {{> BC-card-extended-care-ship}}
  </div>
</section>
