<div class="container--base form-disclaimer yellow">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-9">
        <div class="display-flex v-center">
          <div>
            <img src="/images/icon-svgs/info_outlined.svg" alt="Info" class="img-medium">
          </div>
          <div>
            <span class="text-small"><span class="bold">This page contains documents in PDF format.</span> PDF (Portable Document Format) files can be viewed with Adobe® Reader®. If you don't already have this viewer on your computer, download it free from the <a href="#" class="text-link text-small">Adobe website.</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
