<div class="container--base">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p class="margin-none">Find forms, plan materials and other resources to help you get the most out of your plan.</p>
      </div>
    </div>
  </div>
</div>
<div class="container--base">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="h3 medium margin-small">Plan Materials</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="variation-el">
          <ul class="document-utilities">
            <li>
              <a href="#"><img src="/images/icon-svgs/plan.svg" alt="plan"> Order Plan Materials</a>
            </li>
            <li>
              <a href="#"><img src="/images/icon-svgs/card.svg" alt="card"> View Temporary ID Card</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="margin-small">
          <label for="lang-select" class="display-inline-block">View </label>
          <div class="select--inline select-no-underlin">
            <select id="lang-select" class="lang-select">
              <option>ENGLISH</option>
              <option>SPANISH</option>
              <option>CHINESE</option>
            </select>
          </div>
          <label for="lang-select" class="display-inline-block">documents</label>
        </div>
        {{!-- List group --}}
        <ul class="list-group document-list margin-small">
          <li class="list-group-item clearfix">
            <div class="pull-left margin-none">
              <img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF" class="icon"/>
              <span class="bold">Summary of Benefits <span class="medium">(size)</span></span>
            </div>
            <div class="pull-right">
              <a href="#">
                <img src="/images/icon-svgs/eye.svg" alt="View" class="icon"/>
                <span class="bold">VIEW</span>
              </a>
              <a href="#">
                <img src="/images/icon-svgs/download.svg" alt="Download" class="icon"/>
                <span class="bold">DOWNLOAD</span>
              </a>
            </div>
            <div class="pull-left margin-none">
              <p class="display-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </li>
          <li class="list-group-item clearfix">
            <div class="pull-left margin-none">
              <img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF" class="icon"/>
              <span class="bold">Evidence of Coverage <span class="medium">(size)</span></span>
            </div>
            <div class="pull-right">
              <a href="#">
                <img src="/images/icon-svgs/eye.svg" alt="View" class="icon"/>
                <span class="bold">VIEW</span>
              </a>
              <a href="#">
                <img src="/images/icon-svgs/download.svg" alt="Download" class="icon"/>
                <span class="bold">DOWNLOAD</span>
              </a>
            </div>
          </li>
          <li class="list-group-item clearfix">
            <div class="pull-left margin-none">
              <img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF" class="icon"/>
              <span class="bold">Non-Discrimination Notice <span class="medium">(size)</span></span>
            </div>
            <div class="pull-right">
              <a href="#">
                <img src="/images/icon-svgs/eye.svg" alt="View" class="icon"/>
                <span class="bold">VIEW</span>
              </a>
              <a href="#">
                <img src="/images/icon-svgs/download.svg" alt="Download" class="icon"/>
                <span class="bold">DOWNLOAD</span>
              </a>
            </div>
          </li>
          <li class="list-group-item clearfix no-icon">
            <div class="pull-left margin-none">
              <span class="bold">Order Plan Materials</span>
            </div>
            <div class="pull-right">
              <a href="#">
                <img src="/images/icon-svgs/external-link.svg" alt="Go to" class="icon"/>
                <span class="bold">Go to link</span>
              </a>
            </div>
          </li>
          <li class="list-group-item clearfix no-icon">
            <div class="pull-left margin-none">
              <span class="bold">View/Print member ID card information</span>
            </div>
            <div class="pull-right">
              <a href="#">
                <img src="/images/icon-svgs/external-link.svg" alt="Go to" class="icon"/>
                <span class="bold">Go to link</span>
              </a>
            </div>
          </li>
        </ul>
        <nav aria-label="Page navigation">
          <ul class="uhc-pagination">
            <li>Page 1 of 2</li>
            <li class="disabled"><a href="#"><span class="material-icons">keyboard_arrow_left</span></a></li>
            <li><a href="#"><span class="material-icons">keyboard_arrow_right</span></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="container--base">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="block">
          <section class="block-body block-flex no-wrap">
            <div>
              <img src="/images/icon-svgs/catalog.svg" alt="hand" class="img-extra-large">
            </div>
            <div class="padding-large">
              <h1 class="h4 medium margin-extra-small">Renew Magazine</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Mauris commodo elementum libero, quis ultricies odio luctus sit amet.
              </p>
              <a href="#" class="btn btn--primary margin-small">Current Issue</a>
              <a href="#" class="btn btn--secondary margin-small">Previous Issues</a>
              <div>
                <a href="#" class="display-block text-link">Renew Bonus Content <span class="medium">(size)</span></a>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
