<div class="container--base">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="block match-height">
          <section class="block-body">
            <h2 class="h5 medium margin-small">Provider Search</h2>
            <p class="">You can also search for a physician, facility or medical group online and print directory results based on your specific search criteria.</p>
            <p class="margin-medium"><span class="bold">Please note:</span> You should enter your ZIP code and select your plan to search for providers online. If you choose to view another ZIP code or plan, the results may not apply.</p>
            <button class="btn btn--secondary">Find a provider</button>
          </section>
        </div>
      </div>
      <div class="col-md-4 border-left match-height">
        <div class="block border-left">
          <section class="block-body padding-left">
            <h2 class="h5 medium margin-small">Pharmacy Locator</h2>
            <p class="margin-medium">Use the online directory to locate a pharmacy and map its location. For further information about network pharmacies, you can reference the Pharmacy Directory Information (PDF).</p>
            <button class="btn btn--secondary">Locate a pharmacy</button>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
