<section class="container--base">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="card promo blue">
          <div class="card-header margin-small">
            <div class="block">
              <div class="block-body block-flex">
                <div>
                  <img src="/images/icon-svgs/catalog.svg" alt="Hearing Aid" class="img-medium">
                </div>
                <div class="v-center display-flex">
                  <h3 class="h4 margin-extra-small">Renew Magazine</h3>
                  <!--<span class="subtitle">Just for UHC Members</span>-->
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="margin-medium">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Mauris commodo elementum libero, quis ultricies odio luctus sit amet.
            </p>
            <a href="#" class="btn btn--primary margin-small">Current Issue</a>
            <a href="#" class="btn btn--secondary margin-small">Previous Issues</a>
            <a href="#" class="display-block text-link">Renew Bonus Content <span class="medium">(size)</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
