<div class="divider"></div>
<div class="container--base">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1 class="h3 medium margin-none">Forms and Resources</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <a href="#collapseResources1" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseResources1" class="collapse-expand margin-small display-block bold">
          Premium Payment and Claim Reimbursement Forms
          <span class="material-icons">keyboard_arrow_down</span>
        </a>
        <div id="collapseResources1" class="collapse" aria-expanded="false">
          {{!-- List group --}}
          <ul class="list-group document-list margin-none">
            <li class="list-group-item clearfix">
              <div class="pull-left margin-none">
                <img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF" class="icon"/>
                <span class="bold">How to read your bill <span class="medium">(size)</span></span>
              </div>
              <div class="pull-right">
                <a href="#">
                  <img src="/images/icon-svgs/eye.svg" alt="View" class="icon"/>
                  <span class="bold">VIEW</span>
                </a>
                <a href="#">
                  <img src="/images/icon-svgs/download.svg" alt="Download" class="icon"/>
                  <span class="bold">DOWNLOAD</span>
                </a>
              </div>
            </li>
            <li class="list-group-item clearfix">
              <div class="pull-left margin-none">
                <img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF" class="icon"/>
                <span class="bold">Electronic Funds Transfer (EFT) Form <span class="medium">(size)</span></span>
              </div>
              <div class="pull-right">
                <a href="#">
                  <img src="/images/icon-svgs/eye.svg" alt="View" class="icon"/>
                  <span class="bold">VIEW</span>
                </a>
                <a href="#">
                  <img src="/images/icon-svgs/download.svg" alt="Download" class="icon"/>
                  <span class="bold">DOWNLOAD</span>
                </a>
              </div>
            </li>
            <li class="list-group-item clearfix">
              <div class="pull-left margin-none">
                <img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF" class="icon"/>
                <span class="bold">Premium Deduction from Social Security Payment Form <span class="medium">(size)</span></span>
              </div>
              <div class="pull-right">
                <a href="#">
                  <img src="/images/icon-svgs/eye.svg" alt="View" class="icon"/>
                  <span class="bold">VIEW</span>
                </a>
                <a href="#">
                  <img src="/images/icon-svgs/download.svg" alt="Download" class="icon"/>
                  <span class="bold">DOWNLOAD</span>
                </a>
              </div>
            </li>
            <li class="list-group-item clearfix">
              <div class="pull-left margin-none">
                <img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF" class="icon"/>
                <span class="bold">Medical Reimbursement Form <span class="medium">(size)</span></span>
              </div>
              <div class="pull-right">
                <a href="#">
                  <img src="/images/icon-svgs/eye.svg" alt="View" class="icon"/>
                  <span class="bold">VIEW</span>
                </a>
                <a href="#">
                  <img src="/images/icon-svgs/download.svg" alt="Download" class="icon"/>
                  <span class="bold">DOWNLOAD</span>
                </a>
              </div>
            </li>
            <li class="list-group-item clearfix">
              <div class="pull-left margin-none">
                <img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF" class="icon"/>
                <span class="bold">Medical Reimbursement Form - For outside of United States and U.S. Territories. <span class="medium">(size)</span></span>
              </div>
              <div class="pull-right">
                <a href="#">
                  <img src="/images/icon-svgs/eye.svg" alt="View" class="icon"/>
                  <span class="bold">VIEW</span>
                </a>
                <a href="#">
                  <img src="/images/icon-svgs/download.svg" alt="Download" class="icon"/>
                  <span class="bold">DOWNLOAD</span>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <a href="#collapseResources2" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseResources2" class="collapse-expand margin-small display-block bold">
          Authorization Forms
          <span class="material-icons">keyboard_arrow_down</span>
        </a>
        <div id="collapseResources2" class="collapse" aria-expanded="false">
            {{!-- List group --}}
            <ul class="list-group document-list margin-none">
              <li class="list-group-item clearfix">
                <div class="pull-left margin-none">
                  <img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF" class="icon"/>
                  <span class="bold">How to appoint a representative <span class="medium">(size)</span></span>
              </div>
              <div class="pull-right">
                <a href="#">
                  <img src="/images/icon-svgs/eye.svg" alt="View" class="icon"/>
                  <span class="bold">VIEW</span>
                </a>
                <a href="#">
                  <img src="/images/icon-svgs/download.svg" alt="Download" class="icon"/>
                  <span class="bold">DOWNLOAD</span>
                </a>
              </div>
            </li>
            <li class="list-group-item clearfix">
              <div class="pull-left margin-none">
                <img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF" class="icon"/>
                <span class="bold">Appointment of Representative Form <span class="medium">(size)</span></span>
              </div>
              <div class="pull-right">
                <a href="#">
                  <img src="/images/icon-svgs/eye.svg" alt="View" class="icon"/>
                  <span class="bold">VIEW</span>
                </a>
                <a href="#">
                  <img src="/images/icon-svgs/download.svg" alt="Download" class="icon"/>
                  <span class="bold">DOWNLOAD</span>
                </a>
              </div>
            </li>
            <li class="list-group-item clearfix">
              <div class="pull-left margin-none">
                <img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF" class="icon"/>
                <span class="bold">Authorization to Share Personal Information Form <span class="medium">(size)</span></span>
              </div>
              <div class="pull-right">
                <a href="#">
                  <img src="/images/icon-svgs/eye.svg" alt="View" class="icon"/>
                  <span class="bold">VIEW</span>
                </a>
                <a href="#">
                  <img src="/images/icon-svgs/download.svg" alt="Download" class="icon"/>
                  <span class="bold">DOWNLOAD</span>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <a href="#collapseResources3" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseResources3" class="collapse-expand margin-small display-block bold">
          Other Resources
          <span class="material-icons">keyboard_arrow_down</span>
        </a>
        <div id="collapseResources3" class="collapse" aria-expanded="false">
            {{!-- List group --}}
            <ul class="list-group document-list margin-none">
              <li class="list-group-item clearfix">
                <div class="pull-left margin-none">
                  <img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF" class="icon"/>
                  <span class="bold">Appeals and Grievances - Medicare Advantage Plus <span class="medium">(size)</span></span>
              </div>
              <div class="pull-right">
                <a href="#">
                  <img src="/images/icon-svgs/eye.svg" alt="View" class="icon"/>
                  <span class="bold">VIEW</span>
                </a>
                <a href="#">
                  <img src="/images/icon-svgs/download.svg" alt="Download" class="icon"/>
                  <span class="bold">DOWNLOAD</span>
                </a>
              </div>
            </li>
            <li class="list-group-item clearfix">
              <div class="pull-left margin-none">
                <img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF" class="icon"/>
                <span class="bold">Commitment to quality <span class="medium">(size)</span></span>
              </div>
              <div class="pull-right">
                <a href="#">
                  <img src="/images/icon-svgs/eye.svg" alt="View" class="icon"/>
                  <span class="bold">VIEW</span>
                </a>
                <a href="#">
                  <img src="/images/icon-svgs/download.svg" alt="Download" class="icon"/>
                  <span class="bold">DOWNLOAD</span>
                </a>
              </div>
            </li>
            <li class="list-group-item clearfix">
              <div class="pull-left margin-none">
                <img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF" class="icon"/>
                <span class="bold">UnitedHeathcare Medicare Advantage Coverage Summaries <span class="medium">(size)</span></span>
              </div>
              <div class="pull-right">
                <a href="#">
                  <img src="/images/icon-svgs/eye.svg" alt="View" class="icon"/>
                  <span class="bold">VIEW</span>
                </a>
                <a href="#">
                  <img src="/images/icon-svgs/download.svg" alt="Download" class="icon"/>
                  <span class="bold">DOWNLOAD</span>
                </a>
              </div>
            </li>
            <li class="list-group-item clearfix">
              <div class="pull-left margin-none">
                <img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF" class="icon"/>
                <span class="bold">Member rights and responsibilities <span class="medium">(size)</span></span>
              </div>
              <div class="pull-right">
                <a href="#">
                  <img src="/images/icon-svgs/eye.svg" alt="View" class="icon"/>
                  <span class="bold">VIEW</span>
                </a>
                <a href="#">
                  <img src="/images/icon-svgs/download.svg" alt="Download" class="icon"/>
                  <span class="bold">DOWNLOAD</span>
                </a>
              </div>
            </li>
            <li class="list-group-item clearfix">
              <div class="pull-left margin-none">
                <img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF" class="icon"/>
                <span class="bold">Potential for Contract Termination <span class="medium">(size)</span></span>
              </div>
              <div class="pull-right">
                <a href="#">
                  <img src="/images/icon-svgs/eye.svg" alt="View" class="icon"/>
                  <span class="bold">VIEW</span>
                </a>
                <a href="#">
                  <img src="/images/icon-svgs/download.svg" alt="Download" class="icon"/>
                  <span class="bold">DOWNLOAD</span>
                </a>
              </div>
            </li>
            <li class="list-group-item clearfix">
              <div class="pull-left margin-none">
                <img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF" class="icon"/>
                <span class="bold">Seasonal flu shot informtion <span class="medium">(size)</span></span>
              </div>
              <div class="pull-right">
                <a href="#">
                  <img src="/images/icon-svgs/eye.svg" alt="View" class="icon"/>
                  <span class="bold">VIEW</span>
                </a>
                <a href="#">
                  <img src="/images/icon-svgs/download.svg" alt="Download" class="icon"/>
                  <span class="bold">DOWNLOAD</span>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <a href="#collapseResources4" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseResources4" class="collapse-expand margin-small display-block bold">
          Disenrollment Information
          <span class="material-icons">keyboard_arrow_down</span>
        </a>
        <div id="collapseResources4" class="collapse" aria-expanded="false">
            {{!-- List group --}}
            <ul class="list-group document-list margin-none">
            <li class="list-group-item clearfix no-icon">
              <div class="pull-left margin-none">
                <span class="bold">Disenrollment Form <span class="medium">(online)</span></span>
              </div>
              <div class="pull-right">
                <a href="#">
                  <img src="/images/icon-svgs/external-link.svg" alt="Go to" class="icon"/>
                  <span class="bold">Go To Link</span>
                </a>
              </div>
            </li>
            <li class="list-group-item clearfix">
              <div class="pull-left margin-none">
                <img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF" class="icon"/>
                <span class="bold">Disenrollment Form <span class="medium">(size)</span></span>
            </div>
            <div class="pull-right">
              <a href="#">
                <img src="/images/icon-svgs/eye.svg" alt="View" class="icon"/>
                <span class="bold">VIEW</span>
              </a>
              <a href="#">
                <img src="/images/icon-svgs/download.svg" alt="Download" class="icon"/>
                <span class="bold">DOWNLOAD</span>
              </a>
            </div>
          </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
