<div class="container--base gray">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1 class="h3 margin-none">
          Ways to
          <span class="bold">save you money</span>
          message lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        {{> card--feature BC-pdp.cards.switch-drugs attribute='match-height'}}
      </div>
      <div class="col-md-4">
        {{> card--feature BC-pdp.cards.pharmacy attribute='match-height'}}
      </div>
      <div class="col-md-4">
        {{> card--feature BC-pdp.cards.mail attribute='match-height'}}
      </div>
    </div>
  </div>
</div>
