<section class="container--base">
  <div class="container">
    <div class="row">
      <div class="col-md-12 margin-small">
        <h2 class="h3 medium margin-small">Current Status</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="/images/partials/DrugPayment.png" alt="Drug Payment" class="img-responsive" />
      </div>
      <div class="col-md-4 border-left">
        <img src="/images/partials/TotalDrugCost.png" alt="Total Drug Cost" class="img-responsive" />
      </div>
      <div class="col-md-4 border-left">
        <img src="/images/partials/OOP.png" alt="Drug Payment" class="img-responsive" />
      </div>
    </div>
  </div>
</section>
