<!-- Start: info collapse -->
<div class="row">
  <div class="col-md-12">
    <div class="margin-extra-small display-block">
      <a href="#collapseTiers" role="button" data-toggle="collapse"
        aria-expanded="false" aria-controls="collapseTiers" class="display-block collapse-expand">
        Learn More about Drug Pricing Tiers
        <span class="material-icons">keyboard_arrow_down</span>
      </a>
      <div class="collapse-wrapper">
        <div class="collapse" id="collapseTiers">
          {{!-- Tier 1 --}}
          <p class="bold margin-extra-small">Tier 1 Drugs</p>
          <p class="margin-small">
            Nulla ea veniam nostrud reprehenderit eiusmod excepteur adipisicing nulla cupidatat cupidatat.
            Excepteur amet exercitation minim sint nulla occaecat dolor anim duis proident ad ea voluptate do enim consequat ea.
          </p>
          {{!-- Tier 2 --}}
          <p class="bold margin-extra-small">Tier 2 Drugs</p>
          <p class="margin-small">
            Nulla ea veniam nostrud reprehenderit eiusmod excepteur adipisicing nulla cupidatat cupidatat.
            Excepteur amet exercitation minim sint nulla occaecat dolor anim duis proident ad ea voluptate do enim consequat ea.
          </p>
          {{!-- Tier 3 --}}
          <p class="bold margin-extra-small">Tier 3 Drugs</p>
          <p class="margin-small">
            Nulla ea veniam nostrud reprehenderit eiusmod excepteur adipisicing nulla cupidatat cupidatat.
            Excepteur amet exercitation minim sint nulla occaecat dolor anim duis proident ad ea voluptate do enim consequat ea.
          </p>
          {{!-- Tier 4 --}}
          <p class="bold margin-extra-small">Tier 4 Drugs</p>
          <p class="margin-small">
            Nulla ea veniam nostrud reprehenderit eiusmod excepteur adipisicing nulla cupidatat cupidatat.
            Excepteur amet exercitation minim sint nulla occaecat dolor anim duis proident ad ea voluptate do enim consequat ea.
          </p>
          {{!-- Tier 5 --}}
          <p class="bold margin-extra-small">Tier 5 Drugs</p>
          <p class="margin-small">
            Nulla ea veniam nostrud reprehenderit eiusmod excepteur adipisicing nulla cupidatat cupidatat.
            Excepteur amet exercitation minim sint nulla occaecat dolor anim duis proident ad ea voluptate do enim consequat ea.
          </p>
        </div>
      </div>
    </div>
    <div class="margin-none display-block">
      <a href="#collapseStages" role="button" data-toggle="collapse"
        aria-expanded="false" aria-controls="collapseStages" class="display-block collapse-expand">
        Learn More about Drug Pricing Stages
        <span class="material-icons">keyboard_arrow_down</span>
      </a>
      <div class="collapse-wrapper">
        <div class="collapse" id="collapseStages">
          {{!-- Stage 1 --}}
          <p class="bold margin-extra-small">Annual Deductible Stage</p>
          <p class="margin-small">
            Nulla ea veniam nostrud reprehenderit eiusmod excepteur adipisicing nulla cupidatat cupidatat.
            Excepteur amet exercitation minim sint nulla occaecat dolor anim duis proident ad ea voluptate do enim consequat ea.
          </p>
          {{!-- Stage 2 --}}
          <p class="bold margin-extra-small">Initial Coverage Stage</p>
          <p class="margin-small">
            Nulla ea veniam nostrud reprehenderit eiusmod excepteur adipisicing nulla cupidatat cupidatat.
            Excepteur amet exercitation minim sint nulla occaecat dolor anim duis proident ad ea voluptate do enim consequat ea.
          </p>
          {{!-- Stage 3 --}}
          <p class="bold margin-extra-small">Coverage Gap Stage</p>
          <p class="margin-small">
            Nulla ea veniam nostrud reprehenderit eiusmod excepteur adipisicing nulla cupidatat cupidatat.
            Excepteur amet exercitation minim sint nulla occaecat dolor anim duis proident ad ea voluptate do enim consequat ea.
          </p>
          {{!-- Stage 4 --}}
          <p class="bold margin-extra-small">Catastrophic Coverage Stage</p>
          <p class="margin-small">
            Nulla ea veniam nostrud reprehenderit eiusmod excepteur adipisicing nulla cupidatat cupidatat.
            Excepteur amet exercitation minim sint nulla occaecat dolor anim duis proident ad ea voluptate do enim consequat ea.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
  <h1>Retail Cost Sharing</h1>
  <!-- Mobile table start -->
  <div class="mobile-table-wrapper">
    <div class="row">
      <div class="col-md-12 clearfix">
        <!-- Slick Navigation -->
        <div class="table-nav-block">
          <div class="prev-arrow prev-arrow-retail">
            <span class="material-icons">keyboard_arrow_left</span> Prev
          </div>
          <div class="nav-dots nav-dots-retail"></div>
          <div class="next-arrow next-arrow-retail">
            Next
            <span class="material-icons">keyboard_arrow_right</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-slick table-slick">
          <div class="table-slick-slide">
            <!-- Table column one -->
            <table class="mobile-table mobile-table-retail">
              <tr>
                <th scope="col" colspan="2" class="align-center" id="ads-header-mobile">
                  <span>Annual Deductible Stage</span>
                </th>
              </tr>
              <tr>
                <th scope="row">Tier 1:</th>
                <td rowspan="2" headers="ads-header-mobile">No Deductible</td>
              </tr>
              <tr>
                <th scope="row">Tier 2:</th>
              </tr>
              <tr>
                <th scope="row">Tier 3:</th>
                <td rowspan="3" headers="ads-header-mobile">You pay 100% until $180.00 deductible is met*</td>
              </tr>
              <tr>
                <th scope="row">Tier 4:</th>
              </tr>
              <tr>
                <th scope="row">Tier 5:</th>
              </tr>
            </table>
          </div>
          <div class="table-slick-slide">
            <!-- Table column two -->
            <table class="mobile-table mobile-table-retail">
              <tr>
                <th scope="col" colspan="2" class="align-center" id="ics-header-mobile">
                  <span>Initial Coverage Stage</span>
                </th>
              </tr>
              <tr>
                <th scope="row">Tier 1:</th>
                <td headers="ics-header-mobile">$2.00 copay</td>
              </tr>
              <tr>
                <th scope="row">Tier 2:</th>
                <td headers="ics-header-mobile">$8.00 copay</td>
              </tr>
              <tr>
                <th scope="row">Tier 3:</th>
                <td headers="ics-header-mobile">$45.00 copay</td>
              </tr>
              <tr>
                <th scope="row">Tier 4:</th>
                <td headers="ics-header-mobile">$95.00 copay</td>
              </tr>
              <tr>
                <th scope="row">Tier 5:</th>
                <td headers="ics-header-mobile">28% co-insurance</td>
              </tr>
            </table>
          </div>
          <div class="table-slick-slide">
            <!-- Table column three -->
            <table class="mobile-table mobile-table-retail">
              <tr>
                <th scope="col" colspan="2" class="align-center" id="cgs-header-mobile">
                  <span>Coverage Gap Stage</span>
                </th>
              </tr>
              <tr>
                <th scope="row">Tier 1:</th>
                <td headers="cgs-header-mobile">100%</td>
              </tr>
              <tr>
                <th scope="row">Tier 2:</th>
                <td headers="cgs-header-mobile">100%</td>
              </tr>
              <tr>
                <th scope="row">Tier 3:</th>
                <td headers="cgs-header-mobile">100%</td>
              </tr>
              <tr>
                <th scope="row">Tier 4:</th>
                <td headers="cgs-header-mobile">100%</td>
              </tr>
              <tr>
                <th scope="row">Tier 5:</th>
                <td headers="cgs-header-mobile">100%</td>
              </tr>
            </table>
          </div>
          <div class="table-slick-slide">
            <!-- Table column four -->
            <table class="mobile-table mobile-table-retail">
              <tr>
                <th scope="col" colspan="2" class="align-center" id="ccs-header-mobile">
                  <span>Catastrophic Coverage Stage</span>
                </th>
              </tr>
              <tr>
                <th scope="row">Tier 1:</th>
                <td headers="ccs-header-mobile">Greater of $2.95 or 5%</td>
              </tr>
              <tr>
                <th scope="row">Tier 2:</th>
                <td headers="ccs-header-mobile">Greater of $7.40 or 5%</td>
              </tr>
              <tr>
                <th scope="row">Tier 3:</th>
                <td headers="ccs-header-mobile">Greater of $7.40 or 5%</td>
              </tr>
              <tr>
                <th scope="row">Tier 4:</th>
                <td headers="ccs-header-mobile">Greater of $7.40 or 5%</td>
              </tr>
              <tr>
                <th scope="row">Tier 5:</th>
                <td headers="ccs-header-mobile">Greater of $7.40 or 5%</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Desktop table start -->
  <div class="desktop-table-wrapper">
    <div class="row">
      <div class="col-md-12">
        <table class="table-white">
          <tr>
            <th scope="row"></th>
            <th scope="row" id="ads-header"><span>Annual Deductible Stage</span></th>
            <th scope="row" id="ics-header"><span>Initial Coverage Stage</span></th>
            <th scope="row" id="cgp-header"><span>Coverage Gap Stage</span></th>
            <th scope="row" id="ccs-header"><span>Catastrophic Coverage Stage</span></th>
          </tr>
          <tr>
            <th scope="col">Tier 1</th>
            <td rowspan="2" headers="ads-header">No Deductible</td>
            <td headers="ics-header">$X.XX</td>
            <td headers="cgp-header">100%</td>
            <td headers="ccs-header">Greater of $2.95 or 5%</td>
          </tr>
          <tr>
            <th scope="col">Tier 2</th>
            <td headers="ics-header">$X.XX</td>
            <td headers="cgp-header">100%</td>
            <td headers="ccs-header">Greater of $7.40 or 5%</td>
          </tr>
          <tr>
            <th scope="col">Tier 3</th>
            <td rowspan="3" headers="ads-header">You pay 100% until $180.00 deductible is met*</td>
            <td headers="ics-header">$45.00 copay</td>
            <td headers="cgp-header">100%</td>
            <td headers="ccs-header">Greater of $7.40 or 5%</td>
          </tr>
          <tr>
            <th scope="col" headers="">Tier 4</th>
            <td headers="ics-header">$95.00 copay</td>
            <td headers="cgp-header">100%</td>
            <td headers="ccs-header">Greater of $7.40 or 5%</td>
          </tr>
          <tr>
            <th scope="col" headers="">Tier 5</th>
            <td headers="ics-header">28% co-insurance</td>
            <td headers="cgp-header">100%</td>
            <td headers="ccs-header">Greater of $7.40 or 5%</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  

