<!-- Start: info collapse -->
<div class="row">
  <div class="col-md-12">
    <div class="margin-extra-small display-block">
      <a href="#collapseTiers" role="button" data-toggle="collapse"
        aria-expanded="false" aria-controls="collapseTiers" class="display-block collapse-expand">
        Learn More about Drug Pricing Tiers
        <span class="material-icons">keyboard_arrow_down</span>
      </a>
      <div class="collapse-wrapper">
        <div class="collapse" id="collapseTiers">
          {{!-- Tier 1 --}}
          <p class="bold margin-extra-small">Tier 1 Drugs</p>
          <p class="margin-small">
            Nulla ea veniam nostrud reprehenderit eiusmod excepteur adipisicing nulla cupidatat cupidatat.
            Excepteur amet exercitation minim sint nulla occaecat dolor anim duis proident ad ea voluptate do enim consequat ea.
          </p>
          {{!-- Tier 2 --}}
          <p class="bold margin-extra-small">Tier 2 Drugs</p>
          <p class="margin-small">
            Nulla ea veniam nostrud reprehenderit eiusmod excepteur adipisicing nulla cupidatat cupidatat.
            Excepteur amet exercitation minim sint nulla occaecat dolor anim duis proident ad ea voluptate do enim consequat ea.
          </p>
          {{!-- Tier 3 --}}
          <p class="bold margin-extra-small">Tier 3 Drugs</p>
          <p class="margin-small">
            Nulla ea veniam nostrud reprehenderit eiusmod excepteur adipisicing nulla cupidatat cupidatat.
            Excepteur amet exercitation minim sint nulla occaecat dolor anim duis proident ad ea voluptate do enim consequat ea.
          </p>
          {{!-- Tier 4 --}}
          <p class="bold margin-extra-small">Tier 4 Drugs</p>
          <p class="margin-small">
            Nulla ea veniam nostrud reprehenderit eiusmod excepteur adipisicing nulla cupidatat cupidatat.
            Excepteur amet exercitation minim sint nulla occaecat dolor anim duis proident ad ea voluptate do enim consequat ea.
          </p>
          {{!-- Tier 5 --}}
          <p class="bold margin-extra-small">Tier 5 Drugs</p>
          <p class="margin-small">
            Nulla ea veniam nostrud reprehenderit eiusmod excepteur adipisicing nulla cupidatat cupidatat.
            Excepteur amet exercitation minim sint nulla occaecat dolor anim duis proident ad ea voluptate do enim consequat ea.
          </p>
        </div>
      </div>
    </div>
    <div class="margin-none display-block">
      <a href="#collapseStages" role="button" data-toggle="collapse"
        aria-expanded="false" aria-controls="collapseStages" class="display-block collapse-expand">
        Learn More about Drug Pricing Stages
        <span class="material-icons">keyboard_arrow_down</span>
      </a>
      <div class="collapse-wrapper">
        <div class="collapse" id="collapseStages">
          {{!-- Stage 1 --}}
          <p class="bold margin-extra-small">Annual Deductible Stage</p>
          <p class="margin-small">
            Nulla ea veniam nostrud reprehenderit eiusmod excepteur adipisicing nulla cupidatat cupidatat.
            Excepteur amet exercitation minim sint nulla occaecat dolor anim duis proident ad ea voluptate do enim consequat ea.
          </p>
          {{!-- Stage 2 --}}
          <p class="bold margin-extra-small">Initial Coverage Stage</p>
          <p class="margin-small">
            Nulla ea veniam nostrud reprehenderit eiusmod excepteur adipisicing nulla cupidatat cupidatat.
            Excepteur amet exercitation minim sint nulla occaecat dolor anim duis proident ad ea voluptate do enim consequat ea.
          </p>
          {{!-- Stage 3 --}}
          <p class="bold margin-extra-small">Coverage Gap Stage</p>
          <p class="margin-small">
            Nulla ea veniam nostrud reprehenderit eiusmod excepteur adipisicing nulla cupidatat cupidatat.
            Excepteur amet exercitation minim sint nulla occaecat dolor anim duis proident ad ea voluptate do enim consequat ea.
          </p>
          {{!-- Stage 4 --}}
          <p class="bold margin-extra-small">Catastrophic Coverage Stage</p>
          <p class="margin-small">
            Nulla ea veniam nostrud reprehenderit eiusmod excepteur adipisicing nulla cupidatat cupidatat.
            Excepteur amet exercitation minim sint nulla occaecat dolor anim duis proident ad ea voluptate do enim consequat ea.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="retail-table">
  <h1>Retail Cost Sharing</h1>
  <!-- Mobile table start -->
  <div class="mobile-table-wrapper">
    <div class="row">
      <div class="col-md-12 clearfix">
        <!-- Slick Navigation -->
        <div class="table-nav-block">
          <div class="prev-arrow prev-arrow-retail">
            <span class="material-icons">keyboard_arrow_left</span> Prev
          </div>
          <div class="nav-dots nav-dots-retail"></div>
          <div class="next-arrow next-arrow-retail">
            Next
            <span class="material-icons">keyboard_arrow_right</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
{{!--         <div class="table-slick table-slick-retail">
          <div class="table-slick-slide-retail">
            <!-- Table column one -->
            <table class="mobile-table mobile-table-retail">
              <tr>
                <th scope="col" colspan="2" class="align-center" id="ads-header-mobile">
                  <span>Annual Deductible Stage</span>
                </th>
              </tr>
              <tr>
                <th scope="row">Tier 1:</th>
                <td rowspan="2" headers="ads-header-mobile">No Deductible</td>
              </tr>
              <tr>
                <th scope="row">Tier 2:</th>
              </tr>
              <tr>
                <th scope="row">Tier 3:</th>
                <td rowspan="3" headers="ads-header-mobile">You pay 100% until $180.00 deductible is met*</td>
              </tr>
              <tr>
                <th scope="row">Tier 4:</th>
              </tr>
              <tr>
                <th scope="row">Tier 5:</th>
              </tr>
            </table>
          </div>
          <div class="table-slick-slide-retail">
            <!-- Table column two -->
            <table class="mobile-table mobile-table-retail">
              <tr>
                <th scope="col" colspan="2" class="align-center" id="ics-header-mobile">
                  <span>Initial Coverage Stage</span>
                </th>
              </tr>
              <tr>
                <th scope="row">Tier 1:</th>
                <td headers="ics-header-mobile">$2.00 copay</td>
              </tr>
              <tr>
                <th scope="row">Tier 2:</th>
                <td headers="ics-header-mobile">$8.00 copay</td>
              </tr>
              <tr>
                <th scope="row">Tier 3:</th>
                <td headers="ics-header-mobile">$45.00 copay</td>
              </tr>
              <tr>
                <th scope="row">Tier 4:</th>
                <td headers="ics-header-mobile">$95.00 copay</td>
              </tr>
              <tr>
                <th scope="row">Tier 5:</th>
                <td headers="ics-header-mobile">28% co-insurance</td>
              </tr>
            </table>
          </div>
          <div class="table-slick-slide-retail">
            <!-- Table column three -->
            <table class="mobile-table mobile-table-retail">
              <tr>
                <th scope="col" colspan="2" class="align-center" id="cgs-header-mobile">
                  <span>Coverage Gap Stage</span>
                </th>
              </tr>
              <tr>
                <th scope="row">Tier 1:</th>
                <td headers="cgs-header-mobile">100%</td>
              </tr>
              <tr>
                <th scope="row">Tier 2:</th>
                <td headers="cgs-header-mobile">100%</td>
              </tr>
              <tr>
                <th scope="row">Tier 3:</th>
                <td headers="cgs-header-mobile">100%</td>
              </tr>
              <tr>
                <th scope="row">Tier 4:</th>
                <td headers="cgs-header-mobile">100%</td>
              </tr>
              <tr>
                <th scope="row">Tier 5:</th>
                <td headers="cgs-header-mobile">100%</td>
              </tr>
            </table>
          </div>
          <div class="table-slick-slide-retail">
            <!-- Table column four -->
            <table class="mobile-table mobile-table-retail">
              <tr>
                <th scope="col" colspan="2" class="align-center" id="ccs-header-mobile">
                  <span>Catastrophic Coverage Stage</span>
                </th>
              </tr>
              <tr>
                <th scope="row">Tier 1:</th>
                <td headers="ccs-header-mobile">Greater of $2.95 or 5%</td>
              </tr>
              <tr>
                <th scope="row">Tier 2:</th>
                <td headers="ccs-header-mobile">Greater of $7.40 or 5%</td>
              </tr>
              <tr>
                <th scope="row">Tier 3:</th>
                <td headers="ccs-header-mobile">Greater of $7.40 or 5%</td>
              </tr>
              <tr>
                <th scope="row">Tier 4:</th>
                <td headers="ccs-header-mobile">Greater of $7.40 or 5%</td>
              </tr>
              <tr>
                <th scope="row">Tier 5:</th>
                <td headers="ccs-header-mobile">Greater of $7.40 or 5%</td>
              </tr>
            </table>
          </div>
        </div> --}}
        <div class="table-slick table-slick-retail">
          <div class="table-slick-slide-retail">
            <!-- Table column one -->
            <table class="mobile-table mobile-table-retail">
              <tr>
                <th scope="col" colspan="3" class="align-center" id="ads-header-mobile">
                  <span>Annual Prescription Deductible</span>
                </th>
              </tr>
              <tr>
                <th scope="row" colspan="1">Tier 1:</th>
                <td rowspan="3" colspan="2" headers="ads-header-mobile">You pay 100% of costs until $50 deductible is met</td>
              </tr>
              <tr>
                <th scope="row" colspan="1">Tier 2:</th>
              </tr>
              <tr>
                <th scope="row" colspan="1">Tier 3:</th>
              </tr>

            </table>
          </div>
          <div class="table-slick-slide-retail">
            <!-- Table column two -->
            <table class="mobile-table mobile-table-retail">
              <tr>
                <th scope="col" colspan="3" class="align-center" id="ics-header-mobile">
                  <span>Initial Coverage Stage (1 of 2)</span>
                </th>
              </tr>
              <tr class="mobile-table-col">
                <th></th>
								<td valign="top" ><strong>30-day supply</strong> (non-maintenance drugs)</td>
                <td valign="top" ><strong>30-day supply</strong> (maintenance drugs*)</td>
              </tr>
              <tr class="mobile-table-col">
                <th>Tier 1:</th>
                <td  headers="ics-header-mobile">$10 copay</td>
                <td  headers="ics-header-mobile">$10 copay</td>
              </tr>
              <tr class="mobile-table-col">
                <th>Tier 2:</th>
                <td  headers="ics-header-mobile">$35 copay</td>
                <td  headers="ics-header-mobile">$45 copay</td>
              </tr>
              <tr class="mobile-table-col">
                <th>Tier 3:</th>
                <td  headers="ics-header-mobile">$60 copay</td>
                <td  headers="ics-header-mobile">$75 copay</td>
              </tr>
              <tr>
            </table>
          </div>
          <div class="table-slick-slide-retail">
            <!-- Table column two -->
            <table class="mobile-table mobile-table-retail">
              <tr>
                <th scope="col" colspan="3" class="align-center" id="ics-header-mobile">
                  <span>Initial Coverage Stage (2 of 2)</span>
                </th>
              </tr>
              <tr>
                <td></td>
                <td valign="top" ><strong>31- to 60-day supply**</strong></td>
                <td valign="top" ><strong>61- to 90-day supply**</strong></td>
              </tr>
              <tr>
                <th scope="row">Tier 1:</th>
                <td  headers="ics-header-mobile">$20 copay</td>
                <td  headers="ics-header-mobile">$30 copay</td>
              </tr>
              <tr>
                <th scope="row">Tier 2:</th>
                <td  headers="ics-header-mobile">$70 copay</td>
                <td  headers="ics-header-mobile">$105 copay</td>
              </tr>
              <tr>
                <th scope="row">Tier 3:</th>
                <td  headers="ics-header-mobile">$120 copay</td>
                <td  headers="ics-header-mobile">$180 copay</td>
              </tr>
              <tr>
            </table>
          </div>
          <div class="table-slick-slide-retail">
            <!-- Table column three -->
            <table class="mobile-table mobile-table-retail">
              <tr>
                <th scope="col" colspan="3" class="align-center" id="cgs-header-mobile">
                  <span>Coverage Gap Stage</span>
                </th>
              </tr>
              <tr>
                <th scope="row" colspan="1">Tier 1:</th>
                <td headers="cgs-header-mobile" rowspan="3" colspan="2">After your total drug costs reach $3,750, the plan covers all formulary drugs through the coverage gap at the same copays listed under the Initial Coverage Stage
                </td>
              </tr>
              <tr>
                <th scope="row" colspan="1">Tier 2:</th>
              </tr>
              <tr>
                <th scope="row" colspan="1">Tier 3:</th>
              </tr>
            </table>
          </div>
          <div class="table-slick-slide-retail">
            <!-- Table column four -->
            <table class="mobile-table mobile-table-retail">
              <tr>
                <th scope="col" colspan="3" class="align-center" id="ccs-header-mobile">
                  <span>Catastrophic Coverage Stage</span>
                </th>
              </tr>
              <tr>
                <th scope="row" colspan="1">Tier 1:</th>
                <td headers="ccs-header-mobile" rowspan="3" colspan="2">You pay the lesser of:
                <ul>
                  <li>Your normal tier copay OR</li>
                  <li>5% coinsurance on the cost of the drug OR a copay of $3.35 for a generic drug or a drug that is treated like a generic and $8.35 for all other drugs, whichever is the larger amount.</li>
                  <li>Our plan pays the rest of the cost.</li>
                  <li>The catastrophic coverage will go towards Part D covered medications  </li>
                </ul>
                </td>
              </tr>
              <tr>
                <th scope="row" colspan="1">Tier 2:</th>
              </tr>
              <tr>
                <th scope="row" colspan="1">Tier 3:</th>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Desktop table start -->
  <div class="desktop-table-wrapper">
    <div class="row">
      <div class="col-md-12">
        {{!-- <table class="table-white">
          <tr>
            <th scope="row"></th>
            <th scope="row" id="ads-header"><span>Annual Deductible Stage</span></th>
            <th scope="row" id="ics-header"><span>Initial Coverage Stage</span></th>
            <th scope="row" id="cgp-header"><span>Coverage Gap Stage</span></th>
            <th scope="row" id="ccs-header"><span>Catastrophic Coverage Stage</span></th>
          </tr>
          <tr>
            <th scope="col">Tier 1</th>
            <td rowspan="2" headers="ads-header">No Deductible</td>
            <td headers="ics-header">$X.XX</td>
            <td headers="cgp-header">100%</td>
            <td headers="ccs-header">Greater of $2.95 or 5%</td>
          </tr>
          <tr>
            <th scope="col">Tier 2</th>
            <td headers="ics-header">$X.XX</td>
            <td headers="cgp-header">100%</td>
            <td headers="ccs-header">Greater of $7.40 or 5%</td>
          </tr>
          <tr>
            <th scope="col">Tier 3</th>
            <td rowspan="3" headers="ads-header">You pay 100% until $180.00 deductible is met*</td>
            <td headers="ics-header">$45.00 copay</td>
            <td headers="cgp-header">100%</td>
            <td headers="ccs-header">Greater of $7.40 or 5%</td>
          </tr>
          <tr>
            <th scope="col" headers="">Tier 4</th>
            <td headers="ics-header">$95.00 copay</td>
            <td headers="cgp-header">100%</td>
            <td headers="ccs-header">Greater of $7.40 or 5%</td>
          </tr>
          <tr>
            <th scope="col" headers="">Tier 5</th>
            <td headers="ics-header">28% co-insurance</td>
            <td headers="cgp-header">100%</td>
            <td headers="ccs-header">Greater of $7.40 or 5%</td>
          </tr>
        </table> --}}
        <table class="table-white">
          <tr>
            <th scope="row" rowspan="2"></th>
            <th scope="row" rowspan="2" style="width: 130px;"><span>Annual Prescription Deductible</span></th>
            <th scope="row" id="ics-header" colspan="4"><span>Initial Coverage Stage</span></th>
            <th scope="row" rowspan="2" colspan="2" id="cgp-header"><span>Coverage Gap Stage</span></th>
            <th scope="row" rowspan="2" colspan="2" id="ccs-header"><span>Catastrophic Coverage Stage</span></th>
          </tr>
          <tr class="table-subheader">
          	<td valign="top"><strong>30-day supply</strong> (non-maintenance drugs)</td>
            <td valign="top"><strong>30-day supply</strong> (maintenance drugs*)</td>
            <td valign="top"><strong>31- to 60-day supply**</strong></td>
            <td valign="top"><strong>61- to 90-day supply**</strong></td>
          </tr>
          <tr>
            <th scope="col">Tier 1:</th>
            <td rowspan="3" headers="ads-header">You pay 100% of costs until $50 deductible is met*</td>
            <td>$10 copay</td>
            <td>$10 copay</td>
            <td>$20 copay</td>
            <td>$30 copay</td>

            <td headers="cgp-header" rowspan="3" colspan="2">After your total drug costs reach $3,750, the plan covers all formulary drugs through the coverage gap at the same copays listed under the Initial Coverage Stage

      </td>
            <td headers="ccs-header" rowspan="3" colspan="2">You pay the lesser of:
                <ul>
                  <li>Your normal tier copay OR</li>
                  <li>5% coinsurance on the cost of the drug OR a copay of $3.35 for a generic drug or a drug that is treated like a generic and $8.35 for all other drugs, whichever is the larger amount.</li>
                  <li>Our plan pays the rest of the cost.</li>
                  <li>The catastrophic coverage will go towards Part D covered medications  </li>
                </ul>
            </td>
          </tr>
          <tr>
            <th scope="col">Tier 2:</th>
            <td headers="ics-header">$35 copay</td>
            <td>$45 copay</td>
            <td>$70 copay</td>
            <td>$105 copay</td>
          </tr>
          <tr>
            <th scope="col">Tier 3:</th>
            <td headers="ics-header">$60 copay</td>
            <td>$75 copay</td>
            <td>$120 copay</td>
            <td>$180 copay</td>
          </tr>
        </table>
      </div>
    </div>

  </div>
  <div class="table-footnote">
  	<span>* Please see Additional Drug Coverage for a list of the plan’s maintenance drugs. ERS is continuing to offer additional coverage on some prescription drugs that are normally excluded from coverage on your Formulary. Please see your Additional Drug Coverage list for more information.</span><br />
  	<span>** In the Extended Days Supply (EDS) Network</span>
  </div>
</div>
<div class="mail-table" style="display: none;">
  <h1>Mail Order Cost Sharing</h1>
  <!-- Mobile table start -->
  <div class="mobile-table-wrapper">
    <div class="row">
      <div class="col-md-12 clearfix">
        <!-- Slick Navigation -->
        <div class="table-nav-block">
          <div class="prev-arrow prev-arrow-mail">
            <span class="material-icons">keyboard_arrow_left</span> Prev
          </div>
          <div class="nav-dots nav-dots-mail"></div>
          <div class="next-arrow next-arrow-mail">
            Next
            <span class="material-icons">keyboard_arrow_right</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-slick table-slick-mail">
          <div class="table-slick-slide-mail">
            <!-- Table column one -->
            <table class="mobile-table mobile-table-mail">
              <tr>
                <th scope="col" colspan="2" class="align-center" id="ads-header-mobile">
                  <span>Annual Prescription Deductible</span>
                </th>
              </tr>
              <tr>
                <th scope="row">Tier 1:</th>
                <td headers="ads-header-mobile" rowspan="3">You pay 100% of costs until $50 deductible is met</td>
              </tr>
              <tr>
                <th scope="row">Tier 2:</th>
              </tr>
              <tr>
                <th scope="row">Tier 3:</th>
              </tr>

            </table>
          </div>
          <div class="table-slick-slide-mail">
            <!-- Table column two -->
            <table class="mobile-table mobile-table-mail">
              <tr>
                <th scope="col" colspan="3" class="align-center" id="ics-header-mobile">
                  <span>Initial Coverage Stage</span>
                </th>
              </tr>
              <tr>
                <th></th>
                <th valign="top"><strong>31- to 60-day supply</strong></th>
                <th valign="top"><strong>61- to 90-day supply</strong></th>
              </tr>
              <tr>
                <th scope="row">Tier 1:</th>
                <td headers="ics-header-mobile">$20 copay</td>
                <td headers="ics-header-mobile">$30 copay</td>

              </tr>
              <tr>
                <th scope="row">Tier 2:</th>
                <td headers="ics-header-mobile">$70 copay</td>
                <td headers="ics-header-mobile">$105 copay</td>
              </tr>
              <tr>
                <th scope="row">Tier 3:</th>
                <td headers="ics-header-mobile">$120 copay</td>
                <td headers="ics-header-mobile">$180 copay</td>

              </tr>
            </table>
          </div>
          <div class="table-slick-slide-mail">
            <!-- Table column three -->
            <table class="mobile-table mobile-table-mail">
              <tr>
                <th scope="col" colspan="2" class="align-center" id="cgs-header-mobile">
                  <span>Coverage Gap Stage</span>
                </th>
              </tr>
              <tr>
                <th scope="row">Tier 1:</th>
                <td headers="cgs-header-mobile" rowspan="3">After your total drug costs reach $3,750, the plan covers all formulary drugs through the coverage gap at the same copays listed above</td>
              </tr>
              <tr>
                <th scope="row">Tier 2:</th>
              </tr>
              <tr>
                <th scope="row">Tier 3:</th>
              </tr>
            </table>
          </div>
          <div class="table-slick-slide-mail">
            <!-- Table column four -->
            <table class="mobile-table mobile-table-mail">
              <tr>
                <th scope="col" colspan="3" class="align-center" id="ccs-header-mobile">
                  <span>Catastrophic Coverage Stage</span>
                </th>
              </tr>
              <tr>
                <th scope="row">Tier 1:</th>
                <td headers="ccs-header-mobile" rowspan="3" colspan="2">
                  You pay the lesser of:
                <ul>
                  <li>Your normal tier copay OR</li>
                  <li>5% coinsurance on the cost of the drug OR a copay of $3.35 for a generic drug or a drug that is treated like a generic and $8.35 for all other drugs, whichever is the larger amount.</li>
                  <li>Our plan pays the rest of the cost.</li>
                  <li>The catastrophic coverage will go towards Part D covered medications  </li>
                </ul>
                </td>
              </tr>
              <tr>
                <th scope="row">Tier 2:</th>
              </tr>
              <tr>
                <th scope="row">Tier 3:</th>
              </tr>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Desktop table start -->
  <div class="desktop-table-wrapper">
    <div class="row">
      <div class="col-md-12">
        <table class="table-white">
          <tr>
            <th scope="row" rowspan="2"></th>
            <th scope="row" rowspan="2"><span>Annuals Prescription Deductible</span></th>
            <th scope="row" colspan="2"><span>Initial Coverage Stage</span></th>
            <th scope="row" rowspan="2" colspan="2" id="cgp-header"><span>Coverage Gap Stage</span></th>
            <th scope="row" rowspan="2" colspan="2" id="ccs-header"><span>Catastrophic Coverage Stage</span></th>
          </tr>
          <tr class="table-subheader">
            <td valign="top"><strong>31- to 60-day supply</strong></td>
            <td valign="top"><strong>61- to 90-day supply</strong></td>
          </tr>
          <tr>
            <th scope="col">Tier 1:</th>
            <td rowspan="3" headers="ads-header">You pay 100% of costs until $50 deductible is met*</td>

            <td>$20 copay</td>
            <td>$30 copay</td>

            <td headers="cgp-header" rowspan="3" colspan="2">After your total drug costs reach $3,750, the plan covers all formulary drugs through the coverage gap at the same copays listed under the Initial Coverage Stage

      </td>
            <td headers="ccs-header" rowspan="3" colspan="2">You pay the lesser of:
                <br />
                  - Your normal tier copay OR
                 <ul>
                  <li>Your normal tier copay OR</li>
                  <li>5% coinsurance on the cost of the drug OR a copay of $3.35 for a generic drug or a drug that is treated like a generic and $8.35 for all other drugs, whichever is the larger amount.</li>
                  <li>Our plan pays the rest of the cost.</li>
                  <li>The catastrophic coverage will go towards Part D covered medications  </li>
                </ul>
                  </td>
          </tr>
          <tr>
            <th scope="col">Tier 2:</th>

            <td>$70 copay</td>
            <td>$105 copay</td>
          </tr>
          <tr>
            <th scope="col">Tier 3:</th>

            <td>$120 copay</td>
            <td>$180 copay</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
