<!-- Start: Add plan modal -->
<div id="addPlanModal" tabindex="-1" role="dialog" aria-labelledby="addPlanModalLabel" class="modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="link link--icon-right link--icon-circled align-right" data-icon="&#xE5CD;" data-dismiss="modal" aria-label="Close">Cancel</a>
        <div id="addPlanModalLabel" class="modal-title">
          <h1 class="h3 margin-none">Confirm Plan Details</h1>
        </div>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="table-body wide">
                <div class="table-body-row">
                  <div class="table-body-cell bold">Member ID</div>
                  <div class="table-body-cell">12345</div>
                </div>
                <div class="table-body-row">
                  <div class="table-body-cell bold">Plan Name(s)</div>
                  <div class="table-body-cell">&lt;SHIP Plan Name&gt;</div>
                </div>
                <div class="table-body-row">
                  <div class="table-body-cell bold">Name</div>
                  <div class="table-body-cell">John Smith</div>
                </div>
                <div class="table-body-row">
                  <div class="table-body-cell bold">Date of Birth</div>
                  <div class="table-body-cell">&lt;MM/DD/YYYY&gt;</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn" id="add-plan-confirm">
          <span class="btn btn--primary">Continue</span>
        </button>
        <a href="#" data-dismiss="modal">Cancel</a>
      </div>
    </div>
  </div>
</div>
