<!-- Start: Add plan modal -->
<div id="existingPlanWarningModal" tabindex="-1" role="dialog" aria-labelledby="existingPlanWarningModalLabel" class="modal fade">
	<div role="document" class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a class="link link--icon-right link--icon-circled align-right" data-icon="&#xE5CD;" data-dismiss="modal" aria-label="Close">Cancel</a>
				<div id="existingPlanWarningModalLabel" class="modal-title">
					<h1 class="h3 margin-none">Combine Accounts</h1>
				</div>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<p>By clicking Continue, the existing account, <span class="bold">&lt;username&gt;</span> and any preferences will be deleted.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer display-flex direction-column v-center">
				<a href="/register/register-step3.html" class="btn btn--primary margin-small">Continue</a>
				<a href="#" data-dismiss="modal">Cancel</a>
			</div>
		</div>
	</div>
</div>
