---
title: My Profile and Preferences
layout: default
hasFooter: true
hasHeader: true
hasHelp: SHIP
hasScript:
  - profile
registerTooltips: true
---
<div class="profile">
  {{> pp-account-profile }}
  {{> pp-plan-profile ship="true"}}
</div>
