// Blue
$color-blue-base: #003DA1;
$color-blue-light: #E8F6FA;
$color-blue-medium: #C0E9FF;
$color-blue-dark: #122377;
$color-blue-accent: #00A8F7;

// Gray
$color-gray-base: #8C9599;
$color-gray-light: #F5F5F5;
$color-gray-medium: #E0E0E0;
$color-gray-dark: #444444;
$color-gray-accent: #B3BABC;

// Violet
$color-violet-base: #9521AD;
$color-violet-light: #F3E4F7;
$color-violet-medium: #E3C5EA;
$color-violet-dark: #5C1D6B;
$color-violet-accent: #D360EF;

// Teal
$color-teal-base: #00BCD6;
$color-teal-light: #DFF7FA;
$color-teal-medium: #A5EBEF;
$color-teal-dark: #007C89;
$color-teal-accent: #4DEEFF;

// Orange
$color-orange-base: #FF5F0E;
$color-orange-light: #FFE7E1;
$color-orange-medium: #FFC9B6;
$color-orange-dark: #D53704;
$color-orange-accent: #FFAA25;

// Green
$color-green-base: #21B01E;
$color-green-light: #E1FADF;
$color-green-medium: #BBEABB;
$color-green-dark: #007000;
$color-green-accent: #93ED58;

// Purple
$color-purple-base: #6636BA;
$color-purple-light: #EDE9FF;
$color-purple-medium: #D0C7EF;
$color-purple-dark: #3E2087;
$color-purple-accent: #AF71FF;

// Red
$color-red-base: #E91B18;
$color-red-light: #FFE6F0;
$color-red-medium: #FFB8C9;
$color-red-dark: #B10C00;
$color-red-accent: #FA69BF;

// Yellow
$color-yellow-base: #FFD00D;
$color-yellow-light: #FFFCD9;
$color-yellow-medium: #FFFA97;
$color-yellow-dark: #DB9C00;
$color-yellow-accent: #FFFF00;

// Digital only
$color-digital-blue: #196ECF;
$color-digital-gray: #757588;
$color-digital-gray-dark: #2D2D39;
$color-digital-green: #0D880B;

// Button only
$color-btn-secondary-bg: #F2F2F2;
$color-btn-primary-hover: #115FA0;

// General
$color-white: #FFFFFF;
$color-black: #2D2D39;
