<!-- Start: Replace modal -->
<div id="tempCardModal" tabindex="-1" role="dialog" aria-labelledby="tempCardModalLabel" class="modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="link link--icon-right link--icon-circled align-right" data-icon="&#xE5CD;" data-dismiss="modal" aria-label="Close">Close</a>
        <div id="tempCardModalLabel" class="modal-title">
          <h1 class="h3 margin-none">My Temporary ID Card</h1>
        </div>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <span>
                Below is your temporary ID card. Please print it and cut it out.
                You may use it until you receive a permanent member ID card. If
                you have ordered a replacement ID card, it should arrive in 7-10
                days.
              </span>
            </div>
          </div>
          <div class="row align-center">
            <div class="col-md-10 col-md-offset-1">
              <span class="display-inline-block margin-extra-small bold">CARD FRONT</span>
              <img src="/images/partials/ID-card-front.jpg" alt="Card Front" class="img-responsive margin-auto view-card-front margin-large" />
              <span class="display-inline-block margin-extra-small bold">CARD BACK</span>
              <img src="/images/partials/ID-card-back.jpg" alt="Card Back" class="img-responsive margin-auto view-card-back" />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn hidden-xs hidden-sm">
          <span class="btn btn--primary">Print</span>
        </button>
        <a href="#" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>
