<section class="container--base gray">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="h3 medium margin-none">Annual Notice of Changes Documents</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="margin-small dfag">
          <fieldset>
            <legend class="sr-only">ANCD</legend>
            <label for="lang-select-2" class="display-inline-block">View </label>
            <div class="select--inline">
              <select id="lang-select-2" class="lang-select">
                <option>ENGLISH</option>
                <option>SPANISH</option>
                <option>CHINESE</option>
              </select>
            </div>
            <span class="display-inline-block bold">documents</span>
          </fieldset>
        </div>
        <h3 class="h4 color-blue medium margin-small">2016</h3>
        {{> link-list resources-ma.annual-changes.year-2016}}
        <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h3 class="h4 color-blue medium margin-small">2017</h3>
        {{> link-list resources-ma.annual-changes.year-2017}}
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>
</section>

<section class="container--base">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="h3 medium margin-none">Annual Directories</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="card promo yellow margin-medium">
          <div class="card-header margin-extra-small">
            <div class="block">
              <div class="block-body block-flex">
                <div>
                  <p class="margin-none bold">2017 Directories Now Available!</p>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="margin-none">
              If you can continue to have your Medicare coverage with AARP MedicareComplete insured through UnitedHealthcare next year as indicated in your Annual Notice of Changes packet, you can now view the Provider and Pharmacy Directories for your 2017 plan. If you decide to enroll in a different plan, the information found in these directories could change.
            </p>
          </div>
        </div>
        <div class="margin-small">
          <fieldset>
            <legend class="sr-only">NA</legend>
            <label for="lang-select-3" class="display-inline-block">View </label>
            <div class="select--inline">
              <select id="lang-select-3" class="lang-select">
                <option>ENGLISH</option>
                <option>SPANISH</option>
                <option>CHINESE</option>
              </select>
            </div>
            <span class="display-inline-block bold">documents</span>
          </fieldset>
        </div>
        <!--<h2 class="h4 color-blue medium margin-small">2016</h2>-->
        <h3 class="h4 color-blue medium margin-small">2016</h3>
        <ul class="document-list-new margin-large variation-el">
          <li><a href="#"><img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF">2016 Provider Directory <span class="doc-specs">(PDF, size)</span></a></li>
        </ul>

        <h3 class="h4 color-blue medium margin-small">2017</h3>
        <ul class="document-list-new margin-large variation-el">
          <li><a href="#"><img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF">2017 Provider Directory <span class="doc-specs">(PDF, size)</span></a></li>
        </ul>
        <ul class="document-utilities variation-el">
          <li>
            <a href="#"><img src="/images/icon-svgs/plus-outline.svg" alt="plus"> Provider Search</a>
            <p>You can also search for a physician, facility or medical group online and print directory results based on your specific search criteria.</p>
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>
