<div class="container--base">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="h3 medium">Ask Us a Question</h2>
        <p class="margin-none ask-question" aria-hidden="false">
          Fill out the form below and we will respond to you by phone, e-mail, or mailing address depending on the nature of your inquiry
        </p>
        <p class="bold ask-question-submit hidden" aria-hidden="true">
          Thank you for your inquiry!
        </p>
        <p class="margin-none ask-question-submit hidden" aria-hidden="true">
          We value your input, and will be happy to answer your questions. A Customer Service representative will review your question and respond to you shortly.
        </p>
      </div>
    </div>
    <div class="row ask-question" aria-hidden="false">
      <div class="col-md-12">
        <form>
          {{!-- Question --}}
          <label for="ask-question-select">I Have a Question About:</label>
          <div class="select--regular margin-large">
            <select id="ask-question-select">
              {{#if ship}}
                <option value="topic">Topic</option>
              {{/if}}
              <option value="pharmacy-rx">Pharmacy (Rx) Benefits</option>
              <option value="physician">Finding a Physician or Provider</option>
              <option value="pharmacy">Finding a Pharmacy</option>
              <option value="member-info">Updating Member Information</option>
              <option value="billing-info">Billing Information</option>
              <option value="payment-info">Payment Information</option>
              <option value="other">Other</option>
            </select>
          </div>
          {{!-- Message --}}
          <label for="ask-question-message">Message:</label>
          <div id="ask-question-message" class="margin-large">
            <textarea maxlength="1000" class="margin-extra-small"></textarea>
            <div class="display-block align-right">
              Characters Remaining: <span id="message-count">1000</span>
            </div>
          </div>
          {{!-- Ship form --}}
          {{#if ship}}
            <div class="table-body responsive wide-responsive margin-large">
              <div class="table-body-row">
                <div class="table-body-cell"><label for="question-ID" data-tooltip="aarp-card">AARP Membership Number:</label></div>
                <div class="table-body-cell"><input type="text" name="question-ID" id="question-ID"></div>
              </div>
              <div class="table-body-row">
                <div class="table-body-cell"><label for="question-fname">First Name:</label></div>
                <div class="table-body-cell"><input type="text" name="question-fname" id="question-fname"></div>
              </div>
              <div class="table-body-row">
                <div class="table-body-cell"><label for="question-lname">Last Name:</label></div>
                <div class="table-body-cell"><input type="text" name="question-lname" id="question-lname"></div>
              </div>
              <div class="table-body-row">
                <div class="table-body-cell"><label for="question-email">Email Address:</label></div>
                <div class="table-body-cell"><input type="text" name="question-email" id="question-email"></div>
              </div>
              <div class="table-body-row">
                <div class="table-body-cell"><label for="question-dob">Date of Birth:</label></div>
                <div class="table-body-cell"><input type="date" name="question-dob" id="question-dob"></div>
              </div>
              <div class="table-body-row">
                <div class="table-body-cell"><label for="question-address">Address:</label></div>
                <div class="table-body-cell"><input type="text" name="question-address" id="question-address"></div>
              </div>
              <div class="table-body-row">
                <div class="table-body-cell"><label for="question-address2">Address Line 2:</label></div>
                <div class="table-body-cell"><input type="text" name="question-address2" id="question-address2"></div>
              </div>
              <div class="table-body-row">
                <div class="table-body-cell"><label for="question-city">City:</label></div>
                <div class="table-body-cell"><input type="text" name="question-city" id="question-city"></div>
              </div>
              <div class="table-body-row">
                <div class="table-body-cell"><label for="question-state">State:</label></div>
                <div class="table-body-cell"><input type="text" name="question-state" id="question-state"></div>
              </div>
              <div class="table-body-row">
                <div class="table-body-cell"><label for="question-zipcode">Zip Code:</label></div>
                <div class="table-body-cell"><input type="text" name="question-zipcode" id="question-zipcode"></div>
              </div>
            </div>
            {{else}}
              {{!-- Mostly Static --}}
              <div class="table-body responsive wide margin-large">
                <div class="table-body-row">
                  <div class="table-body-cell"><span class="bold">Membership ID:</span></div>
                  <div class="table-body-cell"><span class="bold">123456789</span></div>
                </div>
                <div class="table-body-row">
                  <div class="table-body-cell"><span class="bold">First Name:</span></div>
                  <div class="table-body-cell"><span class="bold">John</span></div>
                </div>
                <div class="table-body-row">
                  <div class="table-body-cell"><span class="bold">Last Name:</span></div>
                  <div class="table-body-cell"><span class="bold">Doe</span></div>
                </div>
                <div class="table-body-row">
                  <div class="table-body-cell"><span class="bold">Email Address:</span></div>
                  <div class="table-body-cell"><span class="bold">johndoe@gmail.com</span></div>
                </div>
                <div class="table-body-row">
                  <div class="table-body-cell"><label for="question-email">Alternate Email Address:</label></div>
                  <div class="table-body-cell">
                    <input type="text" name="question-email" id="question-email">
                  </div>
                </div>
                <div class="table-body-row">
                  <div class="table-body-cell"><span class="bold">Date of Birth:</span></div>
                  <div class="table-body-cell"><span class="bold">XX/XX/XXXX</span></div>
                </div>
                <div class="table-body-row">
                  <div class="table-body-cell"><span class="bold">Phone Number:</span></div>
                  <div class="table-body-cell"><span class="bold">XXX-XXX-XXXX</span></div>
                </div>
                <div class="table-body-row">
                  <div class="table-body-cell"><label for="alt-phone-number">Alternate Phone Number:</label></div>
                  <div class="table-body-cell">
                    <input type="text" name="alt-phone-number" id="alt-phone-number">
                  </div>
                </div>
                <div class="table-body-row">
                  <div class="table-body-cell"><span class="bold">Address:</span></div>
                  <div class="table-body-cell"><span class="bold">12345 1st Ave</span></div>
                </div>
                <div class="table-body-row">
                  <div class="table-body-cell"><span class="bold">Address Line 2:</span></div>
                  <div class="table-body-cell"><span class="bold">Apt A</span></div>
                </div>
                <div class="table-body-row">
                  <div class="table-body-cell"><span class="bold">City:</span></div>
                  <div class="table-body-cell"><span class="bold">Minneapolis</span></div>
                </div>
                <div class="table-body-row">
                  <div class="table-body-cell"><span class="bold">State:</span></div>
                  <div class="table-body-cell"><span class="bold">MN</span></div>
                </div>
                <div class="table-body-row">
                  <div class="table-body-cell"><span class="bold">Zip Code:</span></div>
                  <div class="table-body-cell"><span class="bold">55408</span></div>
                </div>
              </div>
          {{/if}}
          <button class="btn btn--primary" id="ask-question-btn">Submit Question</button>
        </form>
      </div>
    </div>
  </div>
</div>
