<div id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" class="modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="link link--icon-right link--icon-circled align-right" data-icon="&#xE5CD;" data-dismiss="modal" aria-label="Close">Cancel</a>
        <div id="messageModalLabel" class="modal-title">
          <h1 class="h3 margin-none">Secure Messaging</h1>
        </div>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          {{!-- Start: Thank you alt --}}
          <div class="row">
            <div class="col-md-12">
              <p class="bold margin-small">Please do not send messages regarding the following time- sensitive situations:</p>
              <ul class="margin-small">
                <li><p class="margin-none">If this is an emergency medical situation, please call 911</p></li>
                <li>
                  <p class="margin-none">
                  If you are asking for a coverage determination or cost share adjustment for <span class="bold">urgently needed</span> medical or prescription drug services, please call Customer Service at the number listed on the back of your member ID card.  You may also
                  <a href="#" class="lowercase">request a prescription drug coverage determination online</a>
                  </p>
                </li>
              </ul>
              <p class="margin-none">We will reply to your email within 24 hours. All messages are sent and stored securely.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal">
          <span class="btn btn--primary">Continue</span>
        </button>
        <a href="#" data-dismiss="modal">Cancel</a>
      </div>
    </div>
  </div>
</div>
