<div class="variation-toggles">
  <div class="btn btn--primary variation-btn" data-variation="false" id="highlight-variation">Highlight Variations</div>
  <div class="btn btn--primary variation-btn" data-variation="true" id="toggle-variation">Toggle Variation</div>
</div>
