---
title: My Claims
layout: default
hasFooter: true
hasHeader: true
hasScript:
  - medical-claims
  - table
hasHelp: FED
---
<div class="medical-claims">
  {{> mc-summary-intro type="mapd" variation="nice" }}
  {{> mc-summary-claims type="mapd" variation="nice" }}
</div>
