---
title: My Claims
layout: default
hasFooter: true
hasHeader: true
hasScript:
  - medical-claims
  - table
hasHelp: PDP
---
<div class="medical-claims">
  {{> mc-summary-intro type="mapd" variation="pdp"}}
  {{> mc-summary-claims type="mapd" variation="pdp"}}
</div>
