---
title: My Claims
layout: default
hasFooter: true
hasHeader: true
hasScript:
  - medical-claims
  - table
hasHelp: SHIP
---
<div class="medical-claims">
  {{> mc-summary-intro type="ship" }}
  {{> mc-summary-claims type="ship" }}
  {{> mc-summary-info }}
  <div class="divider"></div>
</div>
