<!-- Start: info collapse -->
<div class="row">
  <div class="col-md-12">
    <div class="margin-none display-block">
      <a href="#collapseStages" role="button" data-toggle="collapse"
        aria-expanded="false" aria-controls="collapseStages" class="display-block collapse-expand">
        Learn More about Drug Pricing Stages
        <span class="material-icons">keyboard_arrow_down</span>
      </a>
      <div class="collapse-wrapper">
        <div class="collapse" id="collapseStages">
          {{!-- Stage 1 --}}
          <p class="bold margin-extra-small">Annual Deductible Stage</p>
          <p class="margin-small">
            Nulla ea veniam nostrud reprehenderit eiusmod excepteur adipisicing nulla cupidatat cupidatat.
            Excepteur amet exercitation minim sint nulla occaecat dolor anim duis proident ad ea voluptate do enim consequat ea.
          </p>
          {{!-- Stage 2 --}}
          <p class="bold margin-extra-small">Initial Coverage Stage</p>
          <p class="margin-small">
            Nulla ea veniam nostrud reprehenderit eiusmod excepteur adipisicing nulla cupidatat cupidatat.
            Excepteur amet exercitation minim sint nulla occaecat dolor anim duis proident ad ea voluptate do enim consequat ea.
          </p>
          {{!-- Stage 3 --}}
          <p class="bold margin-extra-small">Catastrophic Coverage Stage</p>
          <p class="margin-small">
            Nulla ea veniam nostrud reprehenderit eiusmod excepteur adipisicing nulla cupidatat cupidatat.
            Excepteur amet exercitation minim sint nulla occaecat dolor anim duis proident ad ea voluptate do enim consequat ea.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Mobile table start -->
<div class="mobile-table-wrapper">
  <div class="row">
    <div class="col-md-12 clearfix">
      <!-- Slick Navigation -->
      <div class="table-nav-block">
        <div class="prev-arrow">
          <span class="material-icons">keyboard_arrow_left</span> Prev
        </div>
        <div class="nav-dots"></div>
        <div class="next-arrow">
          Next
          <span class="material-icons">keyboard_arrow_right</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="table-slick">
        <div class="table-slick-slide">
          <!-- Table column one -->
          <table class="mobile-table">
            <tr>
              <th scope="col" colspan="2" class="align-center" id="ads-header-mobile">
                <span>Annual Deductible Stage</span>
              </th>
            </tr>
            <tr>
              <th scope="row">Covered Generic Drugs</th>
              <td rowspan="2" headers="ads-header-mobile">No Deductible</td>
            </tr>
            <tr>
              <th scope="row">All Other Covered Drugs</th>
            </tr>
          </table>
        </div>
        <div class="table-slick-slide">
          <!-- Table column two -->
          <table class="mobile-table">
            <tr>
              <th scope="col" colspan="2" class="align-center" id="ics-header-mobile">
                <span>Initial Coverage Stage</span>
              </th>
            </tr>
            <tr>
              <th scope="row">Covered Generic Drugs</th>
              <td headers="ice-header-mobile">$X.XX</td>
            </tr>
            <tr>
              <th scope="row">All Other Covered Drugs</th>
              <td headers="ice-header-mobile">X.XX</td>
            </tr>
          </table>
        </div>
        <div class="table-slick-slide">
          <!-- Table column three -->
          <table class="mobile-table">
            <tr>
              <th scope="col" colspan="2" class="align-center" id="ccs-header-mobile">
                <span>Catastrophic Coverage Stage</span>
              </th>
            </tr>
            <tr>
              <th scope="row">Covered Generic Drugs</th>
              <td headers="ccs-header-mobile">$X.XX</td>
            </tr>
            <tr>
              <th scope="row">All Other Covered Drugs</th>
              <td headers="ccs-header-mobile">X.XX</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Desktop table start -->
<div class="desktop-table-wrapper">
  <div class="row">
    <div class="col-md-12">
      <table class="table-white">
        <tr>
          <th scope="row"></th>
          <th scope="row" id="ads-header"><span>Annual Deductible Stage</span></th>
          <th scope="row" id="ics-header"><span>Initial Coverage Stage</span></th>
          <th scope="row" id="ccs-header"><span>Catastrophic Coverage Stage</span></th>
        </tr>
        <tr>
          <th scope="col">Covered Generic Drugs</th>
          <td rowspan="2" headers="ads-header">No Deductible</td>
          <td headers="ics-header">$X.XX</td>
          <td headers="ccs-header">$X.XX</td>
        </tr>
        <tr>
          <th scope="col">All Other Covered Drugs</th>
          <td headers="ics-header">$X.XX</td>
          <td headers="ccs-header" rowspan="4">$X.XX</td>
        </tr>
      </table>
    </div>
  </div>
</div>
