<div>
    <svg id="svg-icons" width="0" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <symbol id="icon-info" viewBox="0 0 512 512" enable-background="new 0 0 512 512">
                <path d="M230.4,384H281.6V230.4H230.4V384z M256,0C114.562,0,0,114.562,0,256s114.562,256,256,256s256-114.562,256-256  S397.438,0,256,0z M256,460.8C143.106,460.8,51.2,368.9,51.2,256c0-112.894,91.906-204.8,204.8-204.8  c112.9,0,204.8,91.906,204.8,204.8C460.8,368.9,368.9,460.8,256,460.8z M230.4,179.2H281.6V128H230.4V179.2z"
                />
            </symbol>
            <symbol id="external-link" viewBox="243 461 895.9 832">
                <title>external link</title>
                <path d="M979 888c-17.7 0-32 14.3-32 32v277c0 17.7-14.3 32-32 32H339c-17.7 0-32-14.3-32-32V621c0-17.7 14.3-32 32-32h384l0 0c0.3 0 0.7 0 1 0 17.7 0 32-14.3 32-32s-14.3-32-32-32c-0.3 0-0.7 0-1 0l0 0H307c-35.3 0-64 28.7-64 64v640c0 35.3 28.7 64 64 64h640c35.3 0 64-28.7 64-64V920C1011 902.3 996.7 888 979 888zM1112 461H851c-17.7 0-21.9 10.1-9.4 22.6L945 587 613.9 918.1c-18.8 18.8-18.7 49.1 0 67.9 18.7 18.8 49.1 18.7 67.9 0l331.1-331.1 103.4 103.4c12.5 12.5 22.6 8.3 22.6-9.4V488C1139 470.3 1129.7 461 1112 461z"
                />
            </symbol>
        </defs>
    </svg>
</div>

