<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="card">
      <header class="card-header">
        <p class="margin-none">Please create a username and password. You will use this to access your account on future visits.</p>
      </header>
      <div class="card-body">
        <div class="field">
          <label for="username">Username:</label>
          <div class="field-input">
            <input type="text" name="username" id="username" class="tooltip-username">
          </div>
        </div>
        <div class="field">
          <label for="password">Password:</label>
          <div class="field-input">
            <input type="password" name="password" id="password" class="tooltip-password">
          </div>
        </div>
        <div class="field">
          <label for="password-confirm">Confirm Password:</label>
          <div class="field-input">
            <input type="password" name="password-confirm" id="password-confirm">
          </div>
        </div>
        <div class="field">
          <label for="email">Email:</label>
          <div class="field-input">
            <input type="email" name="email" id="email">
          </div>
        </div>
        <div class="field margin-none">
          <label for="email-confirm">Confirm Email:</label>
          <div class="field-input">
            <input type="email" name="email-confirm" id="email-confirm">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
