<p>Please print this page for your records.</p>
<p class="margin-large italic">To print this page from a mobile device, download the print application suitable for your device. Print apps are available on the Apple and Google stores and are specific to your mobile device. Please follow the manufacturer’s directions to enable printing capability. To save or print, please first click the “View As PDF” button.</p>
<a href="#" class="btn btn--secondary">Back to payment history</a>
<a href="#" class="btn btn--primary">View as PDF</a>
