<div class="cc-btn-group">
  <button href="{{continueUrl}}" class="btn btn--primary cc-btn-group__primary">{{btnName}}</button>
  <a class="cc-btn-group__secondary" data-toggle="modal" data-target="#cancelModal" href="#">Cancel</a>
</div>
