<div class="tabs-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs display-none" role="tablist">
          <li role="presentation" class="active"><a href="#tab-1" aria-controls="tab-1" role="tab" data-toggle="tab">Tab One</a></li>
          <li role="presentation"><a href="#tab-2" aria-controls="tab-2" role="tab" data-toggle="tab">Tab Two</a></li>
        </ul>
        
          <label for="tab-select">My Plans (2)</label>
          <div class="select--regular select--medium margin-small">
            <select name="tab-select" id="tab-select">
              <option value="tab-1">Prescription Drug plan</option>
              <option value="tab-2">State Health Insurance Plan</option>
            </select>
          </div>
          <div class="text-small italic">
            Select one of your plans to see corresponding details
          </div>

      </div>
    </div>
  </div>
</div>
<div class="divider"></div>
