<section class="container--base">
  <div class="container">
    <div class="row section-header">
      <div class="col-md-8 margin-large">
        <h2 class="h3 medium">Account Profile</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="card-animation-wrapper simple">
          <div class="card account-profile padding-none">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12 margin-small">
                  <span class="bold">Username</span>
                  <span class="display-block">&lt;username&gt;</span>
                </div>
              </div>
              <!-- fields display -->
              <div class="card-slide" aria-hidden="false">
                <div class="row margin-small">
                  <div class="col-sm-12">
                    <span class="bold">Password</span>
                    <span class="display-block">&lt;**********&gt;</span>
                  </div>
                </div>
                <a href="#" class="edit-btn display-inline-block" role="button">Edit Password
                  <svg version="1.1" id="Artwork" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve">
                  <line fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" x1="6.4" y1="9.7" x2="9.8" y2="6.3"/>
                  <path d="M21.1,16.6c0-0.2-0.1-0.5-0.3-0.6L7.7,2.8C7.5,2.7,7.2,2.6,7,2.6c-0.3,0-0.5,0.1-0.7,0.3L2.9,6.4c-0.4,0.4-0.4,1,0,1.4
                    L16,20.9c0.2,0.2,0.4,0.3,0.6,0.3l3.7,0.2c0,0,0,0,0.1,0c0.3,0,0.5-0.1,0.7-0.3c0.2-0.2,0.3-0.5,0.3-0.8L21.1,16.6z M7,5l1.8,1.8
                    l-2.1,2L5,7L7,5z M17.2,19.2L16,18l2-2l1.2,1.2l0.2,2.2L17.2,19.2z"/>
                  <rect fill="none" width="24" height="24"/>
                  </svg>
                </a>
              </div>
              <!-- fields edit -->
              <div class="card-slide" aria-hidden="true">
                <form id="password-form">
                  <div class="field">
                    <label for="passwordOld" class="bold">Current Password</label>
                    <div class="field-input">
                      <input type="password" name="passwordOld" id="passwordOld"/>
                    </div>
                  </div>
                  <div class="field">
                    <label for="passwordNew" class="bold">New Password</label>
                    <div class="field-input">
                      <input type="password" name="passwordNew" id="passwordNew" class="tooltip-password"/>
                    </div>
                  </div>
                  <div class="field margin-large">
                    <label for="passwordNewConfirm" class="bold">Confirm New Password</label>
                    <div class="field-input">
                      <input type="password" name="passwordNewConfirm" id="passwordNewConfirm"/>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <button type="button" name="password-submit" class="btn--center margin-small save-btn"><span class="btn btn--primary">Save</span></button>
                      <a href="#" class="cancel-btn" role="button">Cancel</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
