<img src="/images/partials/iframe-profile.png" alt="Profile" class="img-responsive" id="large">
<img src="/images/partials/iframe-profile-mobile.png" alt="Profile Mobile" class="img-responsive hidden" id="small">
{{!-- <div class="container--base gray padding-none">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 iframe-column">
				<div class="card-animation-wrapper margin-large">
					<div class="card">
						<div class="card-header clearfix">
							<p class="subtitle semi-bold margin-none card-title">Email</p>
							<a href="#" class="edit-btn">Edit</a>
							<a href="#" class="cancel-btn">Cancel</a>
						</div>
						<div class="card-body">
							<div class="card-slide" aria-hidden="false">
								<div class="row">
									<div class="col-sm-12">
										<span class="bold">Email Address</span>
										<span class="display-block">&lt;name@domain.com&gt;</span>
									</div>
								</div>
							</div>
							<!-- fields display -->
							<div class="card-slide" aria-hidden="true">
								<div class="row">
									<div class="col-sm-12">
										<span class="bold">Email Address</span>
										<span class="display-block">&lt;name@domain.com&gt;</span>
									</div>
								</div>
								<form id="call-form">
									<div class="field">
										<label for="emailNew" class="bold">New Email</label>
										<div class="field-input">
											<input type="text" name="emailNew" id="emailNew" />
										</div>
									</div>
									<div class="field">
										<label for="emailNewConfirm" class="bold">Confirm New Email</label>
										<div class="field-input">
											<input type="text" name="emailNewConfirm" id="emailNewConfirm" />
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12">
											<button type="button" name="call-submit" class="btn--center margin-small save-btn"><span class="btn btn--primary">Save</span></button>
											<a href="#" class="display-block align-center cancel-btn">Cancel</a>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

				<div class="card-animation-wrapper margin">
					<div class="card">
						<div class="card-header clearfix">
							<p class="subtitle semi-bold margin-none card-title">Permenant Address</p>
						</div>
						<div class="card-body">
							<div class="row">
								<div class="col-sm-12 margin-small">
									<span class="">&lt;address&gt;</span>
									<span class="display-block">&lt;city, state, zip&gt;</span>
								</div>
							</div>
							<p>To update your permenant address please <a href="#" class="text-link">contact us</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-6 iframe-column">
				<div class="card-animation-wrapper margin-large">
					<div class="card ">
						<div class="card-header clearfix">
							<p class="subtitle semi-bold margin-none card-title">Phone</p>
							<a href="#" class="edit-btn">Edit</a>
							<a href="#" class="cancel-btn">Cancel</a>
						</div>
						<div class="card-body">
							<div class="card-slide" aria-hidden="false">
								<div class="row">
									<div class="col-sm-12 margin-small">
										<span class="bold">Daytime Phone</span>
										<span class="display-block">(612) 867-5309</span>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<span class="bold">Evening Phone</span>
										<span class="display-block">(612) 867-5309</span>
									</div>
								</div>
							</div>
							<!-- fields display -->
							<div class="card-slide" aria-hidden="true">
								<form id="call-form">
									<div class="field">
										<label for="daytimePhone" class="bold">Daytime Phone</label>
										<div class="field-input">
											<input type="text" name="daytimePhone" id="daytimePhone" />
										</div>
									</div>
									<div class="field">
										<label for="eveningPhone" class="bold">Evening Phone</label>
										<div class="field-input">
											<input type="text" name="eveningPhone" id="eveningPhone" />
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12">
											<button type="button" name="call-submit" class="btn--center margin-small save-btn"><span class="btn btn--primary">Save</span></button>
											<a href="#" class="display-block align-center cancel-btn">Cancel</a>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>

				<div class="card-animation-wrapper adding">
					<div class="card">
						<div class="card-header clearfix">
							<p class="subtitle semi-bold margin-none card-title">Temporary Address</p>
							<a href="#" class="edit-btn">Edit</a>
							<a href="#" class="cancel-btn">Cancel</a>
						</div>
						<div class="card-body">

							<div class="card-slide" aria-hidden="false">
								<div class="row">
									<div class="col-sm-12 align-center">
										<a href="#" class="add-address-btn">+ Add Temporary Address</a>
									</div>
								</div>
							</div>

							<div class="card-slide" aria-hidden="true">
								<form id="call-form">
									<div class="field">
										<label for="altStreet" class="bold">Street Address</label>
										<div class="field-input">
											<input type="text" name="altStreet" id="altStreet" />
										</div>
									</div>
									<div class="field">
										<label for="altStreet2" class="bold">Street Address 2 <span class="normal">(optional)</span></label>
										<div class="field-input">
											<input type="text" name="altStreet2" id="altStreet2" />
										</div>
									</div>
									<div class="field">
										<label for="altStreet" class="bold">City</label>
										<div class="field-input">
											<input type="text" name="altCity" id="altCity" />
										</div>
									</div>
									<div class="field">
										<label for="altState" class="bold">State</label>
										<div class="select--regular">
											<select name="altState" id="altState">
	                            <option value="">Select State</option>
	                            <option value="California">California</option>
	                          </select>
										</div>
									</div>
									<div class="field">
										<label for="altZip" class="bold">Zip</label>
										<div class="field-input">
											<input type="number" name="altZip" id="altZip" />
										</div>
									</div>
									<div class="divider"></div>
									<fieldset>
										<div class="field--dob">
											<legend>Start Date</legend>
											<div class="field-input">
												<input type="number" name="startDateMM" id="startDateMM">
												<label for="startDateMM">MM</label>
											</div>
											<div class="field-input">
												<input type="number" name="startDateDD" id="startDateDD">
												<label for="startDateDD">DD</label>
											</div>
											<div class="field-input">
												<input type="number" name="startDateYYYY" id="startDateYYYY">
												<label for="startDateYYYY">YYYY</label>
											</div>
										</div>
									</fieldset>
									<fieldset class="margin-small">
										<div class="field--dob">
											<legend>End Date</legend>
											<div class="field-input">
												<input type="number" name="endDateMM" id="endDateMM">
												<label for="endDateMM">MM</label>
											</div>
											<div class="field-input">
												<input type="number" name="endDateDD" id="endDateDD">
												<label for="endDateDD">DD</label>
											</div>
											<div class="field-input">
												<input type="number" name="endDateYYYY" id="endDateYYYY">
												<label for="endDateYYYY">YYYY</label>
											</div>
										</div>
									</fieldset>
									<div class="row">
										<div class="col-xs-12">
											<p>Note: If you make an address change that begins on a future date, that change won’t be reflected on your plan information until the date it becomes effective.</p>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12">
											<button type="button" name="call-submit" class="btn--center margin-small save-btn"><span class="btn btn--primary">Save</span></button>
											<a href="#" class="display-block align-center cancel-btn">Cancel</a>
										</div>
									</div>
								</form>
							</div>

							<div class="card-slide" aria-hidden="true">
								<div class="row">
									<div class="col-sm-12 margin-small">
										<span class="">&lt;address&gt;</span>
										<span class="display-block">&lt;city, state, zip&gt;</span>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="row"></div>
	</div>
</div> --}}
