<div class="container--base">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="margin-small">Click on any of the headlines below to learn more.</p>
        {{!-- Collapse 0 --}}
        <a class="collapse-header--alt" role="button" data-toggle="collapse" href="#collapse-0" aria-expanded="false" aria-controls="collapse-0">
          <span class="header-text">
            Filing a grievance (making a complaint) about your prescription
            coverage
          </span>
        </a>
        <div class="collapse-wrapper">
          <div class="collapse" id="collapse-0">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dolor
              ante, placerat ac tristique nec, maximus ut justo. Proin congue risus
              eget purus ornare, ac euismod ex ultricies. Suspendisse at tristique
              ligula. Phasellus magna arcu, egestas eu metus ac, commodo aliquam nulla.
              Donec libero arcu, egestas nec nisi ac, tincidunt mattis orci. Donec
              laoreet diam vel scelerisque Tier 1 <sup>[1]</sup>. Vestibulum efficitur Tier 2
              <sup>[2]</sup> nunc, at euismod orci convallis id.
              Ut non volutpat enim, sit amet posuere tellus. Nam orci nulla,
              eleifend ultricies fermentum accumsan, porttitor id velit. Integer massa
              quam, sollicitudin non molestie eu, iaculis ultricies est.
            </p>
            <p>
              Cras sollicitudin nisl nec placerat euismod. Nulla facilisi.
            </p>
            <ul class="margin-large">
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
            </ul>
            <h2 class="h5 text-uppercase semi-bold margin-small">Who may file a grievance</h2>
            <p class="margin-large">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dolor
              ante, placerat ac tristique nec, maximus ut justo.
            </p>
            <h2 class="h5 text-uppercase semi-bold margin-small">Filing a grievance with our plan</h2>
            <p class="margin-large">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dolor
              ante, placerat ac tristique nec, maximus ut justo.
            </p>
            <p class="bold margin-small">
              Use this form to request an exception:
            </p>
            <div class="row">
              <div class="col-md-8">
                <ul class="document-list-new margin-large">
                  <li>
                    <a href="#"><img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF">Medicare Part D Coverage Determination Request Form <span class="doc-specs">(PDF, size)</span></a>
                  </li>
                  <li>
                    <a href="#"><img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF">Medicare Prior Authorization Request Form <span class="doc-specs">(PDF, size)</span></a>
                  </li>

                </ul>
              </div>
            </div>
            <h2 class="h5 text-uppercase semi-bold margin-small">
              Additional Resources
            </h2>
            <a href="#" class="display-inline-block margin-small" data-toggle="modal" data-target="#leaveSiteModal">
              <i class="material-icons icon--link">link</i>
              Centers for Disease Control and Prevention website
            </a>
            <p class="bold margin-small">
              Footnotes
            </p>
            <ul class="numbered-list margin-small">
              <li>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                dolor ante, placerat ac tristique nec, maximus ut justo.
              </li>
              <li>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                dolor ante, placerat ac tristique nec, maximus ut justo.
              </li>
            </ul>
            <div class="display-block align-right margin-small">
              <a href="#" class="collapse-close">
                Close <span class="material-icons">keyboard_arrow_up</span>
              </a>
            </div>
          </div>
        </div>
        {{!-- Collapse 1 --}}
        <a class="collapse-header--alt" role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
          <span class="header-text">
            Asking for a coverage determination (coverage decision)
          </span>
        </a>
        <div class="collapse-wrapper">
          <div class="collapse" id="collapse-1">
            <p class="margin-small">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porta
              dui ac ex hendrerit vestibulum. Praesent pharetra libero eu justo
              sagittis, nec posuere magna ullamcorper. Nullam urna massa, tempus
              et leo et, tincidunt scelerisque dui. Cras quis finibus diam. Ut
              ac dui turpis. Donec tempus eros lorem, ut sodales odio lacinia
              id. Nam gravida sit amet felis eu porttitor. Vestibulum eu felis
              fringilla, rhoncus sapien non, venenatis nisl. Nulla facilisi.
              Fusce commodo eleifend consectetur. Quisque rhoncus, justo vel
              gravida mollis, diam elit aliquet est, at ultrices arcu eros
              tincidunt ipsum. Etiam molestie commodo rutrum. Nullam eros nisi,
              aliquet nec pretium eget, bibendum id lectus. Suspendisse fringilla
              a leo nec imperdiet. Maecenas id convallis velit, ac accumsan diam.
              Maecenas venenatis erat bibendum, semper ex nec, ultricies mauris.
            </p>
            <div class="display-block align-right margin-small">
              <a href="#" class="collapse-close">
                Close <span class="material-icons">keyboard_arrow_up</span>
              </a>
            </div>
          </div>
        </div>
        {{!-- Collapse 2 --}}
        <a class="collapse-header--alt" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
          <span class="header-text">
            Drug requirements and limitations
          </span>
        </a>
        <div class="collapse-wrapper">
          <div class="collapse" id="collapse-2">
            <p class="margin-small">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porta
              dui ac ex hendrerit vestibulum. Praesent pharetra libero eu justo
              sagittis, nec posuere magna ullamcorper. Nullam urna massa, tempus
              et leo et, tincidunt scelerisque dui. Cras quis finibus diam. Ut
              ac dui turpis. Donec tempus eros lorem, ut sodales odio lacinia
              id. Nam gravida sit amet felis eu porttitor. Vestibulum eu felis
              fringilla, rhoncus sapien non, venenatis nisl. Nulla facilisi.
              Fusce commodo eleifend consectetur. Quisque rhoncus, justo vel
              gravida mollis, diam elit aliquet est, at ultrices arcu eros
              tincidunt ipsum. Etiam molestie commodo rutrum. Nullam eros nisi,
              aliquet nec pretium eget, bibendum id lectus. Suspendisse fringilla
              a leo nec imperdiet. Maecenas id convallis velit, ac accumsan diam.
              Maecenas venenatis erat bibendum, semper ex nec, ultricies mauris.
            </p>
            <div class="display-block align-right margin-small">
              <a href="#" class="collapse-close">
                Close <span class="material-icons">keyboard_arrow_up</span>
              </a>
            </div>
          </div>
        </div>
        {{!-- Collapse 3 --}}
        <a class="collapse-header--alt" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
          <span class="header-text">
            How to request a coverage determination (including benefit exceptions)
          </span>
        </a>
        <div class="collapse-wrapper">
          <div class="collapse" id="collapse-3">
            <p class="margin-small">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porta
              dui ac ex hendrerit vestibulum. Praesent pharetra libero eu justo
              sagittis, nec posuere magna ullamcorper. Nullam urna massa, tempus
              et leo et, tincidunt scelerisque dui. Cras quis finibus diam. Ut
              ac dui turpis. Donec tempus eros lorem, ut sodales odio lacinia
              id. Nam gravida sit amet felis eu porttitor. Vestibulum eu felis
              fringilla, rhoncus sapien non, venenatis nisl. Nulla facilisi.
              Fusce commodo eleifend consectetur. Quisque rhoncus, justo vel
              gravida mollis, diam elit aliquet est, at ultrices arcu eros
              tincidunt ipsum. Etiam molestie commodo rutrum. Nullam eros nisi,
              aliquet nec pretium eget, bibendum id lectus. Suspendisse fringilla
              a leo nec imperdiet. Maecenas id convallis velit, ac accumsan diam.
              Maecenas venenatis erat bibendum, semper ex nec, ultricies mauris.
            </p>
            <div class="display-block align-right margin-small">
              <a href="#" class="collapse-close">
                Close <span class="material-icons">keyboard_arrow_up</span>
              </a>
            </div>
          </div>
        </div>
        {{!-- Collapse 4 --}}
        <a class="collapse-header--alt" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
          <span class="header-text">
            How to appoint a representative to help you with a coverage determination
          </span>
        </a>
        <div class="collapse-wrapper">
          <div class="collapse" id="collapse-4">
            <p class="margin-small">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porta
              dui ac ex hendrerit vestibulum. Praesent pharetra libero eu justo
              sagittis, nec posuere magna ullamcorper. Nullam urna massa, tempus
              et leo et, tincidunt scelerisque dui. Cras quis finibus diam. Ut
              ac dui turpis. Donec tempus eros lorem, ut sodales odio lacinia
              id. Nam gravida sit amet felis eu porttitor. Vestibulum eu felis
              fringilla, rhoncus sapien non, venenatis nisl. Nulla facilisi.
              Fusce commodo eleifend consectetur. Quisque rhoncus, justo vel
              gravida mollis, diam elit aliquet est, at ultrices arcu eros
              tincidunt ipsum. Etiam molestie commodo rutrum. Nullam eros nisi,
              aliquet nec pretium eget, bibendum id lectus. Suspendisse fringilla
              a leo nec imperdiet. Maecenas id convallis velit, ac accumsan diam.
              Maecenas venenatis erat bibendum, semper ex nec, ultricies mauris.
            </p>
            <div class="display-block align-right margin-small">
              <a href="#" class="collapse-close">
                Close <span class="material-icons">keyboard_arrow_up</span>
              </a>
            </div>
          </div>
        </div>
        {{!-- Collapse 5 --}}
        <a class="collapse-header--alt" role="button" data-toggle="collapse" href="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
          <span class="header-text">
            Making an appeal
          </span>
        </a>
        <div class="collapse-wrapper">
          <div class="collapse" id="collapse-5">
            <p class="margin-small">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porta
              dui ac ex hendrerit vestibulum. Praesent pharetra libero eu justo
              sagittis, nec posuere magna ullamcorper. Nullam urna massa, tempus
              et leo et, tincidunt scelerisque dui. Cras quis finibus diam. Ut
              ac dui turpis. Donec tempus eros lorem, ut sodales odio lacinia
              id. Nam gravida sit amet felis eu porttitor. Vestibulum eu felis
              fringilla, rhoncus sapien non, venenatis nisl. Nulla facilisi.
              Fusce commodo eleifend consectetur. Quisque rhoncus, justo vel
              gravida mollis, diam elit aliquet est, at ultrices arcu eros
              tincidunt ipsum. Etiam molestie commodo rutrum. Nullam eros nisi,
              aliquet nec pretium eget, bibendum id lectus. Suspendisse fringilla
              a leo nec imperdiet. Maecenas id convallis velit, ac accumsan diam.
              Maecenas venenatis erat bibendum, semper ex nec, ultricies mauris.
            </p>
            <div class="display-block align-right margin-small">
              <a href="#" class="collapse-close">
                Close <span class="material-icons">keyboard_arrow_up</span>
              </a>
            </div>
          </div>
        </div>
        {{!-- Collapse 6 --}}
        <a class="collapse-header--alt" role="button" data-toggle="collapse" href="#collapse-6" aria-expanded="false" aria-controls="collapse-6">
          <span class="header-text">
            Quality Assurance policies and procedures
          </span>
        </a>
        <div class="collapse-wrapper">
          <div class="collapse" id="collapse-6">
            <p class="margin-small">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porta
              dui ac ex hendrerit vestibulum. Praesent pharetra libero eu justo
              sagittis, nec posuere magna ullamcorper. Nullam urna massa, tempus
              et leo et, tincidunt scelerisque dui. Cras quis finibus diam. Ut
              ac dui turpis. Donec tempus eros lorem, ut sodales odio lacinia
              id. Nam gravida sit amet felis eu porttitor. Vestibulum eu felis
              fringilla, rhoncus sapien non, venenatis nisl. Nulla facilisi.
              Fusce commodo eleifend consectetur. Quisque rhoncus, justo vel
              gravida mollis, diam elit aliquet est, at ultrices arcu eros
              tincidunt ipsum. Etiam molestie commodo rutrum. Nullam eros nisi,
              aliquet nec pretium eget, bibendum id lectus. Suspendisse fringilla
              a leo nec imperdiet. Maecenas id convallis velit, ac accumsan diam.
              Maecenas venenatis erat bibendum, semper ex nec, ultricies mauris.
            </p>
            <div class="display-block align-right margin-small">
              <a href="#" class="collapse-close">
                Close <span class="material-icons">keyboard_arrow_up</span>
              </a>
            </div>
          </div>
        </div>
        {{!-- Collapse 7 --}}
        <a class="collapse-header--alt" role="button" data-toggle="collapse" href="#collapse-7" aria-expanded="false" aria-controls="collapse-7">
          <span class="header-text">
            Lorem ipsum dolor sit amet
          </span>
        </a>
        <div class="collapse-wrapper">
          <div class="collapse" id="collapse-7">
            <p class="margin-small">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porta
              dui ac ex hendrerit vestibulum. Praesent pharetra libero eu justo
              sagittis, nec posuere magna ullamcorper. Nullam urna massa, tempus
              et leo et, tincidunt scelerisque dui. Cras quis finibus diam. Ut
              ac dui turpis. Donec tempus eros lorem, ut sodales odio lacinia
              id. Nam gravida sit amet felis eu porttitor. Vestibulum eu felis
              fringilla, rhoncus sapien non, venenatis nisl. Nulla facilisi.
              Fusce commodo eleifend consectetur. Quisque rhoncus, justo vel
              gravida mollis, diam elit aliquet est, at ultrices arcu eros
              tincidunt ipsum. Etiam molestie commodo rutrum. Nullam eros nisi,
              aliquet nec pretium eget, bibendum id lectus. Suspendisse fringilla
              a leo nec imperdiet. Maecenas id convallis velit, ac accumsan diam.
              Maecenas venenatis erat bibendum, semper ex nec, ultricies mauris.
            </p>
            <div class="display-block align-right margin-small">
              <a href="#" class="collapse-close">
                Close <span class="material-icons">keyboard_arrow_up</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {{!-- Disclaimers --}}
        <div class="disclaimers">
          <a href="#collapseDisclaimer" role="button" data-toggle="collapse"
            aria-expanded="false" aria-controls="collapseDisclaimer" class="link-black">
            Disclaimers
            <span class="material-icons">keyboard_arrow_down</span>
          </a>
          <div class="collapse-wrapper">
            <div class="collapse" id="collapseDisclaimer">
              <p class="margin-none">
                Qui non exercitation aliquip do pariatur voluptate officia culpa consectetur mollit laborum reprehenderit.
                Laborum enim aliquip dolor consequat nisi pariatur dolore esse aliqua officia laborum consequat voluptate.
                Fugiat veniam officia id laboris in excepteur voluptate exercitation fugiat ullamco ullamco incididunt pariatur
                fugiat reprehenderit voluptate. Pariatur nisi do aute aliqua consectetur cupidatat adipisicing officia consectetur
                culpa qui anim dolore dolore. Tempor ad ut excepteur cillum velit commodo sit nisi aliquip aute veniam aliqua anim
                dolor aute voluptate deserunt. In anim et reprehenderit veniam in ipsum laboris incididunt voluptate sint.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
