<section class="container--base">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="h3 margin-large">
          Filing a grievance (making a complaint) about your prescription
          coverage
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dolor
          ante, placerat ac tristique nec, maximus ut justo. Proin congue risus
          eget purus ornare, ac euismod ex ultricies. Suspendisse at tristique
          ligula. Phasellus magna arcu, egestas eu metus ac, commodo aliquam nulla.
          Donec libero arcu, egestas nec nisi ac, tincidunt mattis orci. Donec
          laoreet diam vel scelerisque Tier 1 <sup>[1]</sup>. Vestibulum efficitur Tier 2
          <sup>[2]</sup> nunc, at euismod orci convallis id.
          Ut non volutpat enim, sit amet posuere tellus. Nam orci nulla,
          eleifend ultricies fermentum accumsan, porttitor id velit. Integer massa
          quam, sollicitudin non molestie eu, iaculis ultricies est.
        </p>
        <p>
          Cras sollicitudin nisl nec placerat euismod. Nulla facilisi.
        </p>
        <ul class="margin-large">
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
        </ul>
        <h3 class="h5 text-uppercase semi-bold margin-small">Who may file a grievance</h3>
        <p class="margin-large">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dolor
          ante, placerat ac tristique nec, maximus ut justo.
        </p>
        <h3 class="h5 text-uppercase semi-bold margin-small">Filing a grievance with our plan</h3>
        <p class="margin-large">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dolor
          ante, placerat ac tristique nec, maximus ut justo.
        </p>
        <p class="bold margin-small">
          Use this form to request an exception:
        </p>
        <div class="row">
          <div class="col-md-8">
            <ul class="document-list-new margin-large">
              <li>
                <a href="#"><img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF">Medicare Part D Coverage Determination Request Form <span class="doc-specs">(PDF, size)</span></a>
              </li>
              <li>
                <a href="#"><img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF">Medicare Prior Authorization Request Form <span class="doc-specs">(PDF, size)</span></a>
              </li>

            </ul>
          </div>
        </div>
        <h3 class="h5 text-uppercase semi-bold margin-small">
          Additional Resources
        </h3>
        <a href="#" class="display-inline-block margin-small" data-toggle="modal" data-target="#leaveSiteModal">
          <i class="material-icons icon--link">link</i>
          Centers for Disease Control and Prevention website
        </a>
        <p class="bold margin-small">
          Footnotes
        </p>
        <ul class="numbered-list">
          <li>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
            dolor ante, placerat ac tristique nec, maximus ut justo.
          </li>
          <li>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
            dolor ante, placerat ac tristique nec, maximus ut justo.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
