<div id="leaveSiteModal" tabindex="-1" role="dialog" aria-labelledby="leaveSiteModalLabel" class="modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="link link--icon-right link--icon-circled align-right" data-icon="&#xE5CD;" data-dismiss="modal" aria-label="Close">Cancel</a>
        <div id="leaveSiteModalLabel" class="modal-title">
          <h1 class="h3 margin-none">Leaving member.AARPMedicarePlans.com</h1>
        </div>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <p>
                This link is being made available so that you will have an opportunity
                to obtain information from the third party on its website.  This link
                is provided solely as a convenience and not as an endorsement of the
                content of the third party site or any products or services offered
                or the content on any linked site or any link contained in a linked site.
                We do not make any representations regarding the quality of products
                or services offered, or the content or accuracy of the materials on
                such sites.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn">
          <span class="btn btn--primary">Proceed</span>
        </button>
        <a href="#" data-dismiss="modal">Cancel</a>
      </div>
    </div>
  </div>
</div>
