<!-- Desktop tables start -->
<div class="row">
  <div class="col-md-12">
    <table class="table-responsive">
      <tr>
        <th>Premium Due Date</th>
        <th>Premium Amount</th>
        <th>Payment Status</th>
      </tr>
      <tr>
        <td><span class="mobile-table-header">Premium Due Date</span><div class="table-dots"></div><span>06/01/2016</span></td>
        <td><span class="mobile-table-header">Premium Amount</span><div class="table-dots"></div><span>$33.50</span></td>
        <td><span class="mobile-table-header">Payment Status</span><div class="table-dots"></div><span>Unpaid</span></td>
      </tr>
      <tr>
        <td><span class="mobile-table-header">Premium Due Date</span><div class="table-dots"></div><span>05/01/2016</span></td>
        <td><span class="mobile-table-header">Premium Amount</span><div class="table-dots"></div><span>$33.50</span></td>
        <td><span class="mobile-table-header">Payment Status</span><div class="table-dots"></div><span>Paid</span></td>
      </tr>
      <tr>
        <td><span class="mobile-table-header">Premium Due Date</span><div class="table-dots"></div><span>04/01/2016</span></td>
        <td><span class="mobile-table-header">Premium Amount</span><div class="table-dots"></div><span>$33.50</span></td>
        <td><span class="mobile-table-header">Payment Status</span><div class="table-dots"></div><span>Paid</span></td>
      </tr>
    </table>
  </div>
</div>
