---
title: Explanation of Benefits (EOB)
layout: default
hasFooter: true
hasHeader: true
hasHelp: FED
hasScript:
  - explanation-benefits
---
<div class="explanation-benefits">
  {{> eob-search mapd="true" }}
  {{> eob-results mapd="true" }}
  {{> form-disclaimer }}
  {{> video-modal }}
</div>
