---
title: Explanation of Benefits (EOB)
layout: default
hasFooter: true
hasHeader: true
hasHelp: PDP
hasScript:
  - explanation-benefits
---
<div class="explanation-benefits">
  {{> eob-search }}
  {{> eob-results pdp="true" }}
  {{> form-disclaimer }}
</div>
