<section class="container--base">
  <div class="container">
    <div class="row">
      <!-- start card -->
      <div class="col-md-12">
        <div class="card large-card">
          <div class="row">
            <div class="col-md-12">
              <div class="card-body-main clearfix">
                <div class="row">
                  <div class="col-md-4">
                    <div class="img-wrapper">
                      <div class="img">
                        <img src="http://placehold.it/320x200" alt="card image">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="text-wrapper">
                      <h2 class="h4 medium margin-small">
                        Nurse Health Line
                      </h2>
                      <p class="sub-text gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                      <a href="#" class="btn btn--primary margin-small">Main CTA</a>
                      <a href="#collapseLargeCard1" class="collapse-toggle" role="button" data-toggle="collapse" aria-expanded="false" aria-label="Nurse Healthline View More/Less" aria-controls="collapseLargeCard1"><span class="collapsed-label">VIEW MORE</span><span class="expanded-label">VIEW LESS</span><span class="material-icons">keyboard_arrow_down</span></a>

                    </div>
                  </div>
                </div>
              </div>
              <section id="collapseLargeCard1" class="card-body-collapse collapse" aria-expanded="true">
                <div class="row">
                  <div class="col-md-6">
                    <h3 class="h5 semi-bold margin-small">
                      Why call Nurse Healthline?
                    </h3>
                    <ul class="margin-small">
                      <li>Understand your symptoms</li>
                      <li>Decide if you should see a doctor, or wait and try self-care</li>
                      <li>Explore treatment options soc you can make the decision that’s best for you.</li>
                      <li>Learn more about a new diagnosis</li>
                      <li>Understand ongoing health concerns</li>
                    </ul>
                    <p class="margin-small">There is no additonal cost to you as an insured member covered under an AARP Medicare Supplement plan.</p>
                    <a href="#" class="text-large">XXX-XXX-XXXX</a>
                    <p class="text-medium">24 hours / 7 days a week</p>
                    {{> VAS-disclaimer attribute='1'}}
                  </div>
                  <div class="col-md-5 col-md-offset-1">
                    <div class="video-tout">
                      <div class="video-thumbnail">
                        <img src="http://placehold.it/356x220" alt="card image">
                        <!--<a href="#" class="video-play"></a>-->
                      </div>
                      <p>See how a registered nurse can help you explore your treatement options.</p>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <!-- end card -->
    </div>
  </div>
</section>
<section class="container--base">
  <div class="container">
    <div class="row">
      <!-- start card -->
      <div class="col-md-12">
        <div class="card large-card">
          <div class="row">
            <div class="col-md-12">
              <div class="card-body-main clearfix">
                <div class="row">
                  <div class="col-md-4">
                    <div class="img-wrapper">
                      <div class="img">
                        <img src="http://placehold.it/320x200" alt="card image">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="text-wrapper">
                      <h2 class="h4 medium margin-small">
                        Silver Sneakers<sup>&reg;</sup>
                      </h2>
                      <p class="sub-text gray">Lorem ipsum dolor sit amet, Ut enim ad minim veniam, quis nostrud exercitation ut aliquip ex ea commodo consequat.</p>
                      <a href="#" class="btn btn--primary margin-small">Main CTA</a>
                      <a href="#collapseLargeCard2" class="collapse-toggle" role="button" data-toggle="collapse" aria-expanded="false" aria-label="Silver Sneakers View More/Less" aria-controls="collapseLargeCard2"><span class="collapsed-label">VIEW MORE</span><span class="expanded-label">VIEW LESS</span><span class="material-icons">keyboard_arrow_down</span></a>                    </div>
                  </div>
                </div>
              </div>
              <section id="collapseLargeCard2" class="card-body-collapse collapse" aria-expanded="true">
                <div class="row">
                  <div class="col-md-6">
                    <h3 class="h5 semi-bold margin-small">
                      Lorem ipsum dolor
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    {{> VAS-disclaimer attribute='2'}}
                  </div>
                  <div class="col-md-5 col-md-offset-1">

                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <!-- end card -->
    </div>
  </div>
</section>
<section class="container--base">
  <div class="container">
    <div class="row">
      <!-- start card -->
      <div class="col-md-12">
        <div class="card large-card">
          <div class="row">
            <div class="col-md-12">
              <div class="card-body-main clearfix">
                <div class="row">
                  <div class="col-md-4">
                    <div class="img-wrapper">
                      <div class="img">
                        <img src="http://placehold.it/320x200" alt="card image">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="text-wrapper">
                      <h2 class="h4 medium margin-small">
                        AARP<sup>&reg;</sup> Vision Discount Program
                      </h2>
                      <p class="sub-text gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ut aliquip ex ea commodo consequat.</p>
                      <a href="#" class="btn btn--primary margin-small">Main CTA</a>
                      <a href="#collapseLargeCard3" class="collapse-toggle" role="button" data-toggle="collapse" aria-expanded="false" aria-label="AARP Vision Discount View More/Less" aria-controls="collapseLargeCard3"><span class="collapsed-label">VIEW MORE</span><span class="expanded-label">VIEW LESS</span><span class="material-icons">keyboard_arrow_down</span></a>
                    </div>
                  </div>
                </div>
              </div>
              <section id="collapseLargeCard3" class="card-body-collapse collapse" aria-expanded="true">
                <div class="row">
                  <div class="col-md-6">
                    <h3 class="h5 semi-bold margin-small">
                      Lorem ipsum dolor
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    {{> VAS-disclaimer attribute='3'}}
                  </div>
                  <div class="col-md-5 col-md-offset-1">

                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <!-- end card -->
    </div>
  </div>
</section>
<section class="container--base">
  <div class="container">
    <div class="row">
      <!-- start card -->
      <div class="col-md-12">
        <div class="card large-card">
          <div class="row">
            <div class="col-md-12">
              <div class="card-body-main clearfix">
                <div class="row">
                  <div class="col-md-4">
                    <div class="img-wrapper">
                      <div class="img">
                        <img src="http://placehold.it/320x200" alt="card image">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="text-wrapper">
                      <h2 class="h4 medium margin-small">
                        My Care Path
                      </h2>
                      <p class="sub-text gray">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ut aliquip ex ea commodo consequat.</p>
                      <a href="#" class="btn btn--primary margin-small">Main CTA</a>
                      <a href="#collapseLargeCard4" class="collapse-toggle" role="button" data-toggle="collapse" aria-expanded="false" aria-label="My Care Path View More/Less" aria-controls="collapseLargeCard4"><span class="collapsed-label">VIEW MORE</span><span class="expanded-label">VIEW LESS</span><span class="material-icons">keyboard_arrow_down</span></a>
                    </div>
                  </div>
                </div>
              </div>
              <section id="collapseLargeCard4" class="card-body-collapse collapse" aria-expanded="true">
                <div class="row">
                  <div class="col-md-6">
                    <h3 class="h5 semi-bold margin-small">
                      Lorem ipsum dolor
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consecteturs adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    {{> VAS-disclaimer attribute='4'}}
                  </div>
                  <div class="col-md-5 col-md-offset-1">

                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <!-- end card -->
    </div>
  </div>
</section>
