<section class="container--base">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h2 class="h3 align-left">
          Services to help you <strong class="semi-bold">get the most</strong> out of medicare message lorem ipsum dolro dit amet, consecteur adipiscing elit.
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Phasellus at erat at nisl tincidunt dignissim. Nam placerat lacus eu ipsum dapibus scelerisque.
          Interdum et malesuada fames ac ante ipsum primis in faucibus.
        </p>
      </div>
    </div>
  </div>
</section>
