---
title: Forms and Resources
layout: default
hasFooter: true
hasHeader: true
hasScript:
  - documents-history
  - table
hasHelp: SHIP
---
<div class="forms-and-resources">
    {{> plan-documents-ship}}
    {{> resources-ship}}
    <section class="container--base">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="card promo blue">
              <div class="card-header margin-small">
                <div class="block">
                  <div class="block-body block-flex">
                    <div>
                      <img src="/images/icon-svgs/catalog.svg" alt="Hearing Aid" class="img-medium">
                    </div>
                    <div class="v-center display-flex">
                      <h2 class="h4 margin-extra-small">Lorem ipsum</h2>
                      <!--<span class="subtitle">Just for UHC Members</span>-->
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="margin-medium">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Mauris commodo elementum libero, quis ultricies odio luctus sit amet.
                </p>
                <a href="#" class="btn btn--primary margin-small">Lorem ipsum</a>
                <a href="#" class="btn btn--secondary margin-small">Dolor sit amet</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {{> form-disclaimer}}
</div>
