---
title: Forms and Resources
layout: default
hasFooter: true
hasHeader: true
hasScript:
  - documents-history
  - table
hasHelp: FED
---
<div class="forms-and-resources">
    {{> plan-documents-ma}}
    {{> annual-documents-ma}}
    {{> my-documents}}

    <section class="container--base">
      <div class="container">
        {{!-- Start: section header --}}
        <div class="row">
          <div class="col-md-12">
            <h2 class="h3 medium margin-small">Explanation of Benefits</h2>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="block">
              <div class="block-body">
                <p class="h5 medium margin-small">Medical EOB</p>
                <a href="#" class="btn btn--secondary">Search your history</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    {{> resources-ma}}
    {{> renew-magazine}}
    {{> form-disclaimer}}
</div>
