<h2 class="h4 color-blue medium margin-small" style="margin-top: 60px;">
    More Information
</h2>
<p>
    This directory is current as of &lt;the first Sunday of each month&gt;.
</p>
<p class="italic">
    All network pharmacies may not be listed in this directory. Inclusion of a pharmacy
    does not guarantee that the pharmacy is open, is at the same location as listed
    in this online directory, or is included in the network. The pharmacy network
    may change at any time. You will receive notice when necessary. Please contact
    UnitedHealthcare® for details.
</p>
<p class="italic">
    <span class="bold display-block">Pharmacy Saver Program</span>
    Drugs and prices may vary between pharmacies and are subject to change during the
    plan year. Prices are based on quantity filled at the pharmacy. Quantities may
    be limited by pharmacy based on their dispensing policy or by the plan based
    on Quantity Limit requirements; if prescription is in excess of a limit, co-pay
    amounts may be higher.
</p>
<p>
    This information is not a complete description of benefits. Contact the plan for
    more information. Limitations, co-payments, and restrictions may apply. Benefits,
    premium and/or co-payment/co-insurance may change on January 1 each year.
</p>
<p style="margin-none">
    Other pharmacies are available in our network. Members may use any pharmacy in the
    network, but may not receive Pharmacy Saver pricing. Pharmacies participating
    in the Pharmacy Saver program may not be available in all areas.
</p>
