{{!-- <p class="bold margin-small">Drug Coverage Legend</p>
<div class="row">
    <div class="col-md-4 margin-none">
        <ul class="style-none">
            <li data-tooltip="small"> NC - Not Covered</li>
            <li data-tooltip="small"> LA - Limited Access</li>
        </ul>
    </div>
    <div class="col-md-4 margin-none">
        <ul class="style-none">
            <li data-tooltip="small"> ST - Step Therapy</li>
            <li data-tooltip="small"> PA - Prior Authorization</li>
        </ul>
    </div>
    <div class="col-md-4 margin-large">
        <ul class="style-none">
            <li data-tooltip="small"> QL - Quantity Limits</li>
            <li data-tooltip="small"> ADC - Additional Drug Coverage</li>
        </ul>
    </div>
</div> --}}
{{!-- <h4 class="h4 color-blue medium margin-small">
    More Information
</h4>
<p class="italic">
    <span class="bold">Note: </span>The co-pay/co-insurance amounts listed above reflect pricing for
    a three-month supply using the Preferred Mail Service Pharmacy
</p>
<p class="italic">
    <span class="bold">Note: </span>Drugs that are not on the plan’s formulary and listed as “Not Covered”
    in the chart above may have quantity limits if we approve a formulary exception
    for you.
</p>
<p>
    Please
    <a href="#" class="lowercase">contact UnitedHealthcare</a> to see if quantity limits apply.
</p> --}}
