<h3 class="h4 color-blue medium margin-small" style="margin-top: 60px;">
    More Information
</h3>
<p>
    The list of covered drugs was last updated on &lt;mm.dd.yyyy.&gt;.
</p>
<p>
    The Formulary may change at any time. You will receive notice when necessary.
</p>
<p>
    The drug costs displayed are estimates and may vary based on the specific quantity,
    strength and/or dosage of the medication and the pharmacy you use.
</p>
<p>
    No drug will move to a higher cost tier unless a new generic version becomes available.
    If this occurs, you will be notified in your Prescription Drug Explanation of
    Benefits (EOB) 60 days before the change takes effect.
</p>
