---
title: My Benefits & Coverage
layout: default
hasTabs:
  - Policy 1
  - Policy 2
  - Policy 3
hasFooter: true
hasHeader: true
---
<div class="benefits-coverage">
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="tab-1" aria-label="Policy 1">
      {{> BC-ship-intro}}
      {{> BC-ship-benefits-summary}}
      {{> BC-ma-discounts}}
      <div class="divider"></div>
      {{> BC-ma-plan-docs id="1"}}
      <div class="divider"></div>
      {{> need-help help-type='SHIP'}}
      <div style="margin: 10px 0 5px;">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <a href="#collapseDisclaimer" role="button" data-toggle="collapse"
                aria-expanded="false" aria-controls="collapseDisclaimer" class="margin-extra-small display-inline-block">
                Disclaimers
                <span class="material-icons">keyboard_arrow_down</span>
              </a>
              <div class="collapse-wrapper">
                <div class="collapse" id="collapseDisclaimer">
                  <p>The list of covered drugs was last updated on &lt;mm.dd.yyyy&gt;.</p>
                  <p>The Formulary may change at any time. You will receive notice when necessary.</p>
                  <p>
                    The drug costs displayed are estimates and may vary based on the specific quantity,
                    strength and/or dosage of the medication and the pharmacy you use.
                  </p>
                  <p>
                    Qui non exercitation aliquip do pariatur voluptate officia culpa consectetur mollit laborum reprehenderit.
                    Laborum enim aliquip dolor consequat nisi pariatur dolore esse aliqua officia laborum consequat voluptate.
                    Fugiat veniam officia id laboris in excepteur voluptate exercitation fugiat ullamco ullamco incididunt pariatur
                    fugiat reprehenderit voluptate. Pariatur nisi do aute aliqua consectetur cupidatat adipisicing officia consectetur
                    culpa qui anim dolore dolore. Tempor ad ut excepteur cillum velit commodo sit nisi aliquip aute veniam aliqua anim
                    dolor aute voluptate deserunt. In anim et reprehenderit veniam in ipsum laboris incididunt voluptate sint.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="tab-2" aria-label="Policy 2">
      {{> BC-ship-intro}}
      {{> BC-ship-benefits-summary}}
      {{> BC-ma-discounts}}
      <div class="divider"></div>
      {{> BC-ma-plan-docs id="2"}}
      <div class="divider"></div>
      {{> need-help help-type='SHIP'}}
      <div style="margin: 10px 0 5px;">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <a href="#collapseDisclaimer2" role="button" data-toggle="collapse"
                aria-expanded="false" aria-controls="collapseDisclaimer2" class="margin-extra-small display-inline-block">
                Disclaimers
                <span class="material-icons">keyboard_arrow_down</span>
              </a>
              <div class="collapse-wrapper">
                <div class="collapse" id="collapseDisclaimer2">
                  <p>The list of covered drugs was last updated on &lt;mm.dd.yyyy&gt;.</p>
                  <p>The Formulary may change at any time. You will receive notice when necessary.</p>
                  <p>
                    The drug costs displayed are estimates and may vary based on the specific quantity,
                    strength and/or dosage of the medication and the pharmacy you use.
                  </p>
                  <p>
                    Qui non exercitation aliquip do pariatur voluptate officia culpa consectetur mollit laborum reprehenderit.
                    Laborum enim aliquip dolor consequat nisi pariatur dolore esse aliqua officia laborum consequat voluptate.
                    Fugiat veniam officia id laboris in excepteur voluptate exercitation fugiat ullamco ullamco incididunt pariatur
                    fugiat reprehenderit voluptate. Pariatur nisi do aute aliqua consectetur cupidatat adipisicing officia consectetur
                    culpa qui anim dolore dolore. Tempor ad ut excepteur cillum velit commodo sit nisi aliquip aute veniam aliqua anim
                    dolor aute voluptate deserunt. In anim et reprehenderit veniam in ipsum laboris incididunt voluptate sint.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="tab-3" aria-label="Policy 3">
      {{> BC-ship-intro}}
      {{> BC-ship-benefits-summary}}
      {{> BC-ma-discounts}}
      <div class="divider"></div>
      {{> BC-ma-plan-docs id="3"}}
      <div class="divider"></div>
      {{> need-help help-type='SHIP'}}
      <div style="margin: 10px 0 5px;">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <a href="#collapseDisclaimer3" role="button" data-toggle="collapse"
                aria-expanded="false" aria-controls="collapseDisclaimer3" class="margin-extra-small display-inline-block">
                Disclaimers
                <span class="material-icons">keyboard_arrow_down</span>
              </a>
              <div class="collapse-wrapper">
                <div class="collapse" id="collapseDisclaimer3">
                  <p>The list of covered drugs was last updated on &lt;mm.dd.yyyy&gt;.</p>
                  <p>The Formulary may change at any time. You will receive notice when necessary.</p>
                  <p>
                    The drug costs displayed are estimates and may vary based on the specific quantity,
                    strength and/or dosage of the medication and the pharmacy you use.
                  </p>
                  <p>
                    Qui non exercitation aliquip do pariatur voluptate officia culpa consectetur mollit laborum reprehenderit.
                    Laborum enim aliquip dolor consequat nisi pariatur dolore esse aliqua officia laborum consequat voluptate.
                    Fugiat veniam officia id laboris in excepteur voluptate exercitation fugiat ullamco ullamco incididunt pariatur
                    fugiat reprehenderit voluptate. Pariatur nisi do aute aliqua consectetur cupidatat adipisicing officia consectetur
                    culpa qui anim dolore dolore. Tempor ad ut excepteur cillum velit commodo sit nisi aliquip aute veniam aliqua anim
                    dolor aute voluptate deserunt. In anim et reprehenderit veniam in ipsum laboris incididunt voluptate sint.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
