---
title: Pharmacy Locator
layout: default
hasFooter: true
hasHeader: true
langSelect: true
hasScript:
  - pharmacy-locator
hasHelp: FED
---
<div class="pharmacy-locator">
  {{> PL-search-parameters PL.MAPD }}
  {{> PL-search-filters PL.MAPD }}
  {{> PL-search-results type="MAPD" }}
  {{> PL-more-info }}
  {{> PL-modals }}
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDbmYpZ-If4XUPHONtC87GHZOjXuvzj1sk"></script>
<script src="/scripts/vendor/maplabel.js"></script>
