<section class="container--base">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="block">
          <div class="block-body block-flex no-wrap">
            <div>
              <img src="/images/icon-svgs/hand-violet.svg" alt="hand" class="img-extra-large" />
            </div>
            <div class="padding-large">
              <h3 class="h4 medium margin-extra-small">We have special discounts and services</h4>
              <p class="h5 subtitle margin-small purple">and Lorem Ipsum Amet</p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Mauris commodo elementum libero, quis ultricies odio luctus sit amet.
              </p>
              <a href="/value-added-services-ma.html" class="btn btn--primary">LEARN MORE</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
