<!-- Start: Replace modal -->
<div id="addBenefitModal" tabindex="-1" role="dialog" aria-labelledby="addBenefitModalLabel" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <a class="link link--icon-right link--icon-circled align-right" data-icon="" data-dismiss="modal" aria-label="Close">Cancel</a>
        <div id="addBenefitModalLabel" class="modal-title">
          <h1 class="h3 margin-none">Would you like to replace your current dental rider?</h1>
        </div>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <span class="bold">You may have only one dental rider active at once.</span>
              <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Mauris commodo elementum libero, quis ultricies odio luctus sit amet.
                Duis ut facilisis purus.
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-md-5 margin-none">
                  <div class="card rider match-height border-gray">
                    <div class="card-header clearfix">
                      <p class="margin-none">Current Rider:</p>
                      <div class="pull-left">
                        <p class="subtitle margin-none">Dental</p>
                        <p class="h6 subtitle gray margin-none">+15.00/mo.</p>
                      </div>
                      <div class="pull-right">
                        <img src="/images/icon-svgs/tooth.svg" alt="tooth" class="img-small" />
                      </div>
                    </div>
                    <div class="card-body">
                      <ul>
                        <li>In labore mollit cupidatat ipsum quis excepteur enim id aute.</li>
                        <li>In labore mollit cupidatat ipsum quis excepteur enim id aute.</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 margin-none">
                  <div class="block align-center margin-none match-height">
                    <div class="block-body v-center">
                      <img src="/images/icon-svgs/arrow-right.svg" alt="arrow right" class="arrow" />
                    </div>
                  </div>
                </div>
                <div class="col-md-5 margin-none">
                  <div class="card rider match-height border-gray">
                    <div class="card-header clearfix">
                      <p class="margin-none">New Rider:</p>
                      <div class="pull-left">
                        <p class="subtitle margin-none">Dental 260</p>
                        <p class="h6 subtitle gray margin-none">+25.00/mo.</p>
                      </div>
                      <div class="pull-right">
                        <img src="/images/icon-svgs/tooth.svg" alt="tooth" class="img-small" />
                      </div>
                    </div>
                    <div class="card-body">
                      <ul>
                        <li>In labore mollit cupidatat ipsum quis excepteur enim id aute.</li>
                        <li>In labore mollit cupidatat ipsum quis excepteur enim id aute.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 align-center">
              Your new rider will take effect at the start of your next billing cycle:
              <span class="bold">&nbsp;XX/XX/XXXX</span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn">
          <span class="btn btn--primary">Replace current rider</span>
        </button>
        <a href="#" data-dismiss="modal">CANCEL</a>
      </div>
    </div>
  </div>
</div>
<!-- Start: Remove modal -->
<div id="removeBenefitModal" tabindex="-1" role="dialog" aria-labelledby="removeBenefitModalLabel" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <a class="link link--icon-right link--icon-circled align-right" data-icon="" data-dismiss="modal" aria-label="Close">Cancel</a>
        <div id="removeBenefitModalLabel" class="modal-title">
          <h1 class="h3 margin-none">Would you like to remove your dental benefit?</h1>
        </div>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <span class="bold">You will change your plan coverage.</span>
              <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Mauris commodo elementum libero, quis ultricies odio luctus sit amet.
                Duis ut facilisis purus.
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="card rider border-gray">
                <div class="card-header clearfix">
                  <p class="margin-none">Current Rider:</p>
                  <div class="pull-left">
                    <p class="subtitle margin-none">Dental</p>
                    <p class="h6 subtitle gray margin-none">+15.00/mo.</p>
                  </div>
                  <div class="pull-right">
                    <img src="/images/icon-svgs/tooth.svg" alt="tooth" class="img-small" />
                  </div>
                </div>
                <div class="card-body">
                  <ul>
                    <li>Details about new rider coverage</li>
                    <li>Veniam adipisicing aute consequat consectetur tempor occaecat irure.</li>
                    <li>Veniam adipisicing aute consequat consectetur tempor occaecat irure.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 align-center">
              Your coverage change will take effect at the start of your next billing cycle:
              <span class="bold">&nbsp;XX/XX/XXXX</span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn">
          <span class="btn btn--primary">Remove current rider</span>
        </button>
        <a href="#" data-dismiss="modal">CANCEL</a>
      </div>
    </div>
  </div>
</div>
<!-- Start: Add modal -->
<div id="addNewBenefitModal" tabindex="-1" role="dialog" aria-labelledby="addNewBenefitModalLabel" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <a class="link link--icon-right link--icon-circled align-right" data-icon="" data-dismiss="modal" aria-label="Close">Cancel</a>
        <div id="addNewBenefitModalLabel" class="modal-title">
          <h1 class="h3 margin-none">Would you like to add a new rider to your plan?</h1>
        </div>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <span class="bold">You will change your plan coverage.</span>
              <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Mauris commodo elementum libero, quis ultricies odio luctus sit amet.
                Duis ut facilisis purus.
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="card rider border-gray">
                <div class="card-header clearfix">
                  <p class="margin-none">Current Rider:</p>
                  <div class="pull-left">
                    <p class="subtitle margin-none">Fitness</p>
                    <p class="h6 subtitle gray margin-none">+37.00/mo.</p>
                  </div>
                  <div class="pull-right">
                    <img src="/images/icon-svgs/shoe.svg" alt="fitness" class="img-small" />
                  </div>
                </div>
                <div class="card-body">
                  <ul>
                    <li>Details about new rider coverage</li>
                    <li>Veniam adipisicing aute consequat consectetur tempor occaecat irure.</li>
                    <li>Veniam adipisicing aute consequat consectetur tempor occaecat irure.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 align-center">
              Your coverage change will take effect at the start of your next billing cycle:
              <span class="bold">&nbsp;XX/XX/XXXX</span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn">
          <span class="btn btn--primary">Add New Rider</span>
        </button>
        <a href="#" data-dismiss="modal">CANCEL</a>
      </div>
    </div>
  </div>
</div>
