<div class="container--base">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p class="margin-none">Find forms, plan materials and other resources to help you get the most out of your plan.</p>
      </div>
    </div>
  </div>
</div>
<section class="container--base">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="h3 medium margin-small">Plan Materials</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="margin-small">
          <fieldset>
            <legend class="sr-only">PM</legend>
            <label for="lang-select-pdp" class="display-inline-block">View </label>
            <div class="select--inline">
              <select id="lang-select-pdp" class="lang-select">
                <option>ENGLISH</option>
                <option>SPANISH</option>
                <option>CHINESE</option>
              </select>
            </div>
            <span class="display-inline-block bold">documents</span>
          </fieldset>
        </div>
        {{> link-list resources-pdp-group.plan-materials.english}}
        <nav aria-label="Page navigation">
          <ul class="uhc-pagination margin-large">
            <li>Page 1 of 2</li>
            <li class="disabled"><a href="#"><span class="material-icons">keyboard_arrow_left</span></a></li>
            <li><a href="#"><span class="material-icons">keyboard_arrow_right</span></a></li>
          </ul>
        </nav>
        <p class="text-no-max"><span class="bold">Don't see the document you're looking for?</span> Go to <a class="text-link" href="#resources">Forms &amp; Resources</a></p>
        <p class="text-no-max">To see documents that have been sent to you electronically, search <a class="text-link" href="#myDocuments">My Documents</a></p>
      </div>
    </div>
  </div>
</section>
