{{#if original}}
<table class="table-responsive no-header">
  <tr>
    <th>EOB Date</th>
    <th>EOB Statement</th>
  </tr>
  <tr>
    <td>12/01/2016</td>
    <td>
      <div>
        <img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF" class="img-extra-small">
        <span class="bold">EOB Statement</span> (size)
      </div>
      <div>
        <a href="#"><img src="/images/icon-svgs/eye.svg" alt="View">View</a>
        <a href="#"><img src="/images/icon-svgs/download.svg" alt="Download">Download</a>
      </div>
    </td>
  </tr>
  <tr>
    <td>11/01/2016</td>
    <td>
      <div>
        <img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF" class="img-extra-small">
        <span class="bold">EOB Statement</span> (size)
      </div>
      <div>
        <a href="#"><img src="/images/icon-svgs/eye.svg" alt="View">View</a>
        <a href="#"><img src="/images/icon-svgs/download.svg" alt="Download">Download</a>
      </div>
    </td>
  </tr>
  <tr>
    <td>10/01/2016</td>
    <td>
      <div>
        <img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF" class="img-extra-small">
        <span class="bold">EOB Statement</span> (size)
      </div>
      <div>
        <a href="#"><img src="/images/icon-svgs/eye.svg" alt="View">View</a>
        <a href="#"><img src="/images/icon-svgs/download.svg" alt="Download">Download</a>
      </div>
    </td>
  </tr>

  {{#if extended}}
    <tr>
      <td>09/01/2016</td>
      <td>
        <div>
          <img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF" class="img-extra-small">
          <span class="bold">EOB Statement</span> (size)
        </div>
        <div>
          <a href="#"><img src="/images/icon-svgs/eye.svg" alt="View">View</a>
          <a href="#"><img src="/images/icon-svgs/download.svg" alt="Download">Download</a>
        </div>
      </td>
    </tr>
    <tr>
      <td>08/01/2016</td>
      <td>
        <div>
          <img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF" class="img-extra-small">
          <span class="bold">EOB Statement</span> (size)
        </div>
        <div>
          <a href="#"><img src="/images/icon-svgs/eye.svg" alt="View">View</a>
          <a href="#"><img src="/images/icon-svgs/download.svg" alt="Download">Download</a>
        </div>
      </td>
    </tr>
    <tr>
      <td>07/01/2016</td>
      <td>
        <div>
          <img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF" class="img-extra-small">
          <span class="bold">EOB Statement</span> (size)
        </div>
        <div>
          <a href="#"><img src="/images/icon-svgs/eye.svg" alt="View">View</a>
          <a href="#"><img src="/images/icon-svgs/download.svg" alt="Download">Download</a>
        </div>
      </td>
    </tr>
    <tr>
      <td>06/01/2016</td>
      <td>
        <div>
          <img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF" class="img-extra-small">
          <span class="bold">EOB Statement</span> (size)
        </div>
        <div>
          <a href="#"><img src="/images/icon-svgs/eye.svg" alt="View">View</a>
          <a href="#"><img src="/images/icon-svgs/download.svg" alt="Download">Download</a>
        </div>
      </td>
    </tr>
    <tr>
      <td>05/01/2016</td>
      <td>
        <div>
          <img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF" class="img-extra-small">
          <span class="bold">EOB Statement</span> (size)
        </div>
        <div>
          <a href="#"><img src="/images/icon-svgs/eye.svg" alt="View">View</a>
          <a href="#"><img src="/images/icon-svgs/download.svg" alt="Download">Download</a>
        </div>
      </td>
    </tr>
    <tr>
      <td>04/01/2016</td>
      <td>
        <div>
          <img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF" class="img-extra-small">
          <span class="bold">EOB Statement</span> (size)
        </div>
        <div>
          <a href="#"><img src="/images/icon-svgs/eye.svg" alt="View">View</a>
          <a href="#"><img src="/images/icon-svgs/download.svg" alt="Download">Download</a>
        </div>
      </td>
    </tr>
    <tr>
      <td>03/01/2016</td>
      <td>
        <div>
          <img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF" class="img-extra-small">
          <span class="bold">EOB Statement</span> (size)
        </div>
        <div>
          <a href="#"><img src="/images/icon-svgs/eye.svg" alt="View">View</a>
          <a href="#"><img src="/images/icon-svgs/download.svg" alt="Download">Download</a>
        </div>
      </td>
    </tr>
  {{/if}}
</table>
{{else}}
<ul class="document-list-new margin-large">
  <li>
    <a href="#"><img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF">EOB Statement <span class="doc-specs">(PDF, size)</span></a>
    <p>12/01/2016</p>
  </li>
  <li>
    <a href="#"><img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF">EOB Statement <span class="doc-specs">(PDF, size)</span></a>
    <p>11/01/2016</p>
  </li>
  <li>
    <a href="#"><img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF">EOB Statement <span class="doc-specs">(PDF, size)</span></a>
    <p>10/01/2016</p>
  </li>
  {{#if extended}}
  <li>
    <a href="#"><img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF">EOB Statement <span class="doc-specs">(PDF, size)</span></a>
    <p>09/01/2016</p>
  </li>
  <li>
    <a href="#"><img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF">EOB Statement <span class="doc-specs">(PDF, size)</span></a>
    <p>08/01/2016</p>
  </li>
  <li>
    <a href="#"><img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF">EOB Statement <span class="doc-specs">(PDF, size)</span></a>
    <p>07/01/2016</p>
  </li>
  <li>
    <a href="#"><img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF">EOB Statement <span class="doc-specs">(PDF, size)</span></a>
    <p>06/01/2016</p>
  </li>
  <li>
    <a href="#"><img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF">EOB Statement <span class="doc-specs">(PDF, size)</span></a>
    <p>05/01/2016</p>
  </li>
  {{/if}}
</ul>
{{/if}}
