<div id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" class="modal fade">
  <div role="document" class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <a class="link link--icon-right link--icon-circled align-right" data-icon="&#xE5CD;" data-dismiss="modal" aria-label="Close">close</a>
        <div id="videoModalLabel" class="modal-title">
          <h1 class="h3 margin-none">How to Read Your Medical EOB</h1>
        </div>
      </div>
      <div class="modal-body mobile-video-padding">
        <div class="container-fluid">
          {{!-- Start: Thank you alt --}}
          <div class="row">
            <div class="col-md-12">
              <!-- 4:3 aspect ratio -->
              <div class="embed-responsive embed-responsive-4by3">
                <iframe title="UHC Video" class="embed-responsive-item" src="https://www.youtube.com/embed/QwLesQCx9FE" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
