{{!-- Claim 1 --}}
<div class="row">
  <div class="col-md-12 mc-summary-margin">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 margin-none">
            <p class="subtitle">HOSPITAL STAY - PENROSE ST. FRANCIS</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 match-height margin-small">
            {{!-- Address Collapse --}}
            <p>
              <a href="#collapseClaim1" role="button" data-toggle="collapse" aria-label="Provider address"
                aria-expanded="false" aria-controls="collapseClaim1" class="display-block collapse-expand lowercase text-small">
                Provider Address
                <span class="material-icons">keyboard_arrow_down</span>
              </a>
            </p>
            <div class="collapse-wrapper">
              <div class="collapse" id="collapseClaim1">
                <p class="bold margin-none text-small">Hospital Name</p>
                <p class="margin-none text-small">1234 Nicollet Ave</p>
                <p class="text-small">Minneapolis, MN 55403</p>
              </div>
            </div>
            <p class="bold color-gray margin-none">Service Dates:</p>
            <p class="color-gray">10/01/2016 - 10/10/2016</p>
            <p class="color-gray"><span class="bold">Days used:</span> 2</p>
            <p class="color-gray"><span class="bold">Plan code:</span> A01</p>
          </div>
          <div class="col-md-9 match-height border-left margin-small">
            <div class="row margin-small">
              <div class="col-md-3">
                <p class="bold margin-none">$200.00</p>
                <span class="italic text-small">
                  {{#if planPays}}Plan Pays Per Day{{else}}Daily Amount{{/if}}
                </span>
              </div>
              <div class="col-md-3">
                <p class="bold margin-none">$20.00</p>
                <span class="italic text-small">Your Plan Paid</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <span class="italic text-small">Insert bill line note here lorem ipsum.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{!-- Claim 2 --}}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 margin-none">
            <p class="subtitle">HOSPITAL STAY - PENROSE ST. FRANCIS</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 match-height margin-small">
            {{!-- Address Collapse --}}
            <p>
              <a href="#collapseClaim2" role="button" data-toggle="collapse" aria-label="Provider 2 address"
                aria-expanded="false" aria-controls="collapseClaim2" class="display-block collapse-expand lowercase text-small">
                Provider Address
                <span class="material-icons">keyboard_arrow_down</span>
              </a>
            </p>
            <div class="collapse-wrapper">
              <div class="collapse" id="collapseClaim2">
                <p class="bold margin-none text-small">Hospital Name</p>
                <p class="margin-none text-small">1234 Nicollet Ave</p>
                <p class="text-small">Minneapolis, MN 55403</p>
              </div>
            </div>
            <p class="bold color-gray margin-none">Service Dates:</p>
            <p class="color-gray">10/01/2016 - 10/10/2016</p>
            <p class="color-gray"><span class="bold">Days used:</span> 2</p>
            <p class="color-gray"><span class="bold">Plan code:</span> A01</p>
          </div>
          <div class="col-md-9 match-height border-left margin-small">
            <div class="row margin-small">
              <div class="col-md-3">
                <p class="bold margin-none">$200.00</p>
                <span class="italic text-small">
                  {{#if planPays}}Plan Pays Per Day{{else}}Daily Amount{{/if}}
                </span>
              </div>
              <div class="col-md-3">
                <p class="bold margin-none">$20.00</p>
                <span class="italic text-small">Your Plan Paid</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <span class="italic text-small">Insert bill line note here lorem ipsum.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{!-- Close container --}}
</div></div></div></div>
<div class="container--base">
  <div class="container">
    {{!-- Claim Totals --}}
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3 match-height margin-small">
                <p class="h4 color-blue medium margin-none">Claim Totals</p>
              </div>
              <div class="col-md-9 match-height border-left margin-small">
                <div class="row margin-small">
                  <div class="col-md-3">
                    <p class="h5 text-no-wrap light margin-none">$200.00</p>
                    <span class="italic text-small">
                      {{#if planPays}}Plan Pays Per Day{{else}}Daily Amount{{/if}}
                    </span>
                  </div>
                  <div class="col-md-3">
                    <p class="h5 text-no-wrap light margin-none">$20.00</p>
                    <span class="italic text-small">Your Plan Paid</span>
                  </div>
                  <div class="col-md-3">
                    <p class="h5 text-no-wrap light margin-none">$20.00</p>
                    <span class="italic text-small">Your Plan Paid</span>
                    <div class="display-block">
                      <a href="#collapseAdjustments" role="button" data-toggle="collapse" style="white-space: nowrap;"
                        aria-expanded="false" aria-controls="collapseAdjustments" class="margin-extra-small display-inline-block lowercase text-small">
                        Adjustment <span id="details-text">Details<span class="material-icons">keyboard_arrow_down</span></span>
                      </a>
                      <div class="collapse-wrapper">
                        <div class="collapse" id="collapseAdjustments">
                          <div class="table-body--no-padding">
                            <div class="table-body-row">
                              <div class="table-body-cell"></div>
                              <div class="table-body-cell">
                                <p class="margin-none italic text-small">$30.00</p>
                                <p class="margin-extra-small italic text-small">Payable Amount</p>
                              </div>
                            </div>
                            <div class="table-body-row">
                              <div class="table-body-cell">-</div>
                              <div class="table-body-cell">
                                <p class="margin-none italic text-small">$10.00</p>
                                <p class="margin-none italic text-small">Payment Adjustment</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
