<div class="divider"></div>
<section class="container--base">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="h3 medium margin-small">Explanation of Benefits</h2>
        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="block">
          <section class="block-body">
            <h3 class="h5 medium margin-small">SHIP EOB</h3>
            <a href="#" class="btn btn--secondary">Search your history</a>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
{{> form-disclaimer }}
<div class="container--base">
  <div class="container">
    <div class="row">
      <div class="col-md-12 margin-none">
        <a href="#" class="link link--icon-left link--icon-circled" data-icon="&#xE314;">
            Claim Search
        </a>
      </div>
    </div>
  </div>
</div>
