<div class="container--base gray">
  <div class="container">
    {{!-- Claim 1 --}}
    <div class="row">
      <div class="col-md-12 mc-summary-margin">
        {{!-- Learn more collapse --}}
        <a href="#collapseInfo" role="button" data-toggle="collapse"
          aria-expanded="false" aria-controls="collapseInfo" class="display-block collapse-expand">
          Learn More About Your Cost Breakdown
          <span class="material-icons">keyboard_arrow_down</span>
        </a>
        <div class="collapse-wrapper margin-small">
          <div class="collapse" id="collapseInfo">
            <p class="bold margin-none">Amount charged</p>
            <p>
              Qui aute quis laboris culpa velit dolore id cillum cupidatat
              officia in ex velit ea sint exercitation. Proident non mollit
              pariatur minim officia ad officia sit magna aute labore.
            </p>
            <p class="bold margin-none">Adjustments</p>
            <p>
              Qui aute quis laboris culpa velit dolore id cillum cupidatat
              officia in ex velit ea sint exercitation. Proident non mollit
              pariatur minim officia ad officia sit magna aute labore.
            </p>
            <p class="bold margin-none">Plan Paid</p>
            <p>
              Qui aute quis laboris culpa velit dolore id cillum cupidatat
              officia in ex velit ea sint exercitation. Proident non mollit
              pariatur minim officia ad officia sit magna aute labore.
            </p>
            <p>
              To determine the total amount your plan will pay, subtract the discount,
              deductible and co-pay/co-insurance amounts from the total bill.
            </p>
            <p class="bold margin-none">You Paid</p>
            <p>
              To determine your total patient cost, add your deductible,
              co-pay/co-insurance and any remaining amount not covered* by the plan.
            </p>
            <p>
              *You may or may not be responsible for paying this amount. You'll
              need to wait until you receive your provider bill to see if you owe
              any money after insurance payments have been made. If your provider
              billed over the allowable amount, you WILL NOT be required to pay
              these costs. If your service is not covered, then you WILL be required
              to pay this amount. Again, please refer to your provider bill to determine
              what amount, if any, you owe.
            </p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3 match-height-inner">
                <p class="subtitle">Lab Work</p>
                <p class="color-gray">Service provided 10/01/2016</p>
                <p class="color-gray"><span class="bold">Billing code:</span> 123</p>
              </div>
              <div class="col-md-9 match-height-inner border-left">
                <div class="row margin-small">
                  <div class="col-md-3">
                    <p class="bold margin-none">$750.00</p>
                    <span class="italic text-small">Amount provider billed the plan</span>
                  </div>
                  <div class="col-md-3">
                    <p class="bold margin-none">$00.00</p>
                    <span class="italic text-small">Adjustments</span>
                  </div>
                  <!-- clearfix -->
                  <div class="clearfix visible-xs-block"></div>
                  <div class="col-md-3">
                    <p class="bold margin-none">$700.00</p>
                    <span class="italic text-small">Plan's share</span>
                  </div>
                  <div class="col-md-3">
                    <p class="bold margin-none">$50.00</p>
                    <span class="italic text-small">Your share</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{!-- Claim 2 --}}
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3 match-height-inner">
                <p class="subtitle">&lt;Title of Service&gt;</p>
                <p class="color-gray">Service provided 10/01/2016</p>
                <p class="color-gray"><span class="bold">Billing code:</span> 123</p>
              </div>
              <div class="col-md-9 match-height-inner border-left">
                <div class="row margin-small">
                  <div class="col-md-3">
                    <p class="bold margin-none">$1,750.00</p>
                    <span class="italic text-small">Amount provider billed the plan</span>
                  </div>
                  <div class="col-md-3">
                    <p class="bold margin-none">$00.00</p>
                    <span class="italic text-small">Adjustments</span>
                  </div>
                  <!-- clearfix -->
                  <div class="clearfix visible-xs-block"></div>
                  <div class="col-md-3">
                    <p class="bold margin-none">$1,600.00</p>
                    <span class="italic text-small">Plan's share</span>
                  </div>
                  <div class="col-md-3">
                    <p class="bold margin-none">$150.00</p>
                    <span class="italic text-small">Your share</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="container--base">
  <div class="container">
    {{!-- Claim 1 --}}
    <div class="row">
      <div class="col-md-12">
        {{!-- Claim totals --}}
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3">
                <h2 class="h4 color-blue medium margin-none">Claim Totals</h2>
              </div>
              <div class="border-left col-md-9">
                <div class="row margin-small">
                  <div class="col-md-3">
                    <p class="h5 text-no-wrap light margin-none">
                      $2,500.00
                    </p>
                    <span class="text-small">
                      Amount provider billed the plan
                    </span>
                  </div>
                  <div class="col-md-3">
                    <p class="h5 text-no-wrap light margin-none">
                      $00.00
                    </p>
                    <span class="text-small">
                      Adjustments
                    </span>
                  </div>
                  <div class="col-md-3">
                    <p class="h5 text-no-wrap light margin-none">
                      $2,300.00
                    </p>
                    <span class="text-small">
                      Plan's share
                    </span>
                  </div>
                  <div class="col-md-3">
                    <p class="h5 text-no-wrap light margin-none">
                      $200.00
                    </p>
                    <span class="text-small">
                      Your share
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{!-- Notes --}}
    <div class="row">
      <div class="col-md-12">
        <p class="margin-none">
          <span class="bold">Note: </span>
          The amounts shown here reflect only the claims that have been
          processed to date. Recent claims may not be included in these totals.
          If you have questions about your claims, please
          <a href="#" class="lowercase">contact UnitedHealthcare</a>
          toll-free at the number on the back of your member ID card.
        </p>
      </div>
    </div>
  </div>
</section>
