{{!-- Collapse --}}
<a href="#providerDetailsCollapse-{{id}}" role="button" data-toggle="collapse"
  aria-expanded="false" aria-controls="providerDetailsCollapse-{{id}}" class="display-block collapse-expand">
  Provider Address
  <span class="material-icons">keyboard_arrow_down</span>
</a>
<div class="collapse-wrapper margin-small">
  <div class="collapse" id="providerDetailsCollapse-{{id}}">
    <p class="bold margin-none text-small">Hospital Name</p>
    <p class="margin-none text-small">1234 Nicollet Ave</p>
    <p class="text-small">Minneapolis, MN 55403</p>
  </div>
</div>
