<div class="container--base gray">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="card">
          <div class="card-body">
            <p class="bold color-red margin-large"><img src="/images/icon-svgs/important.svg" alt="Important" class="img-text"> The link to reset your password has expired. Go back to Username and Password Assistance.</p>
            <a href="#">Username and Password Assistance</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
