<div class="container--base gray">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="card">
          <div class="card-body">
            <p class="margin-large">Lorem Ipsum Dolor deserunt magna magna consequat cillum non amet nisi do irure consectetur fugiat aute ipsum in laboris.</p>
            <p class="margin-large"><span class="bold">Your username:</span> &lt;Username&gt;</p>
            <div class="btn-group">
              <a href="#" class="btn btn--primary">Sign In</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
