<div class="container--base gray">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="card">
          <div class="card-header">
            <h2 class="h4 margin-none">Password Change Confirmation</h2>
          </div>
          <div class="card-body">
            <p class="margin-large">Dolore enim aliquip excepteur labore aute dolore ad non sit eu anim minim do Nostrud exercitation nisi voluptate pariatur cupidatat adipisicing proident veniam quis anim sunt proident velit incididunt sunt reprehenderit.</p>
            <div class="btn-group">
              <a href="#" class="btn btn--primary">Sign In</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
