{{!-- Start: Blood and Packed Red Blood Cells --}}
<div class="row">
  <div class="col-md-8 margin-small">
    <h2 class="h4 color-blue medium margin-small">Blood and Packed Red Blood Cells</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
    </p>
    <a href="#">LEARN MORE</a>
  </div>
</div>
<div class="row">
  {{!-- Card 1 --}}
  <div class="col-md-6">
    <div class="card match-height">
      <header class="card-header margin-small">
        <span class="subtitle">Blood or Packed Red Blood Cells Under Part A</span>
      </header>
      <section class="card-body">
        First 3 pints Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </section>
    </div>
  </div>
  {{!-- Card 2 --}}
  <div class="col-md-6">
    <div class="card match-height">
      <header class="card-header margin-small">
        <span class="subtitle">Blood or Packed Red Blood Cells Under Part B</span>
      </header>
      <section class="card-body">
        First 3 pints Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </section>
    </div>
  </div>
</div>
