<div class="row">
  <div class="col-md-8">
  {{!-- Start: medical copays or coinsurances section --}}
    <h2 class="h4 color-blue medium margin-small">Medical and Emergency Care</h2>
    <p>
      Below is a summary of your plan benefits. For more information, call 1-800-523-5800
      (TTY 711), or check your Certificate of Insurance. Your Certificate of Insurance is
      your insurance contract and provides all of the terms and conditions of your insurance
      coverage. It includes benefit descriptions, definitions, exclusions and limitations of
      your coverage.
    </p>
  </div>
</div>
<div class="row">
  {{!-- Card 1 --}}
  <div class="col-sm-6 col-md-6">
    <div class="card match-height">
      <header class="card-header margin-small">
        <span class="subtitle">Medical Care</span>
      </header>
      <section class="card-body">
        <div class="margin-medium">
          <p class="bold">Days 1-60</p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            <span class="bold">20%</span> sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua.
          </p>
          <p class="margin-none">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            <span class="bold">$165.00</span>
          </p>
        </div>
      </section>
    </div>
  </div>
  {{!-- Card 2 --}}
  <div class="col-sm-6 col-md-6">
    <div class="card match-height">
      <header class="card-header margin-small">
        <span class="subtitle">Emergency Care in Foreign Countries</span>
      </header>
      <section class="card-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p class="margin-none">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </section>
    </div>
  </div>
</div>
