{{!-- Start: extended care section --}}
<div class="row">
  {{!-- Card 1 --}}
  <div class="col-md-6">
    <div class="card match-height">
      <div class="card-header margin-small">
        <span class="subtitle">Hospital Stay</span>
      </div>
      <div class="card-body">
        <p class="bold">Days 1-60</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p class="bold">Days 61-90</p>
        <p>
          Lorem ipsum dolor sit amets, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </p>

        <p class="bold">Days 91 and Beyond</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p class="bold">Days 91 and Beyond After Lifetime Reserve has Been met</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
  </div>
  {{!-- Card 2 --}}
  <div class="col-md-6">
    <div class="card match-height">
      <div class="card-header margin-small">
        <span class="subtitle">Skilled Nursing Facility Stay</span>
      </div>
      <div class="card-body">
        <p class="bold">Days 1-20</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p class="bold">Days 21-100</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.
        </p>
        <p>* Must follow a hospital stay</p>
      </div>
    </div>
  </div>
  {{!-- Card 3 --}}
  <div class="col-md-6">
    <div class="card match-height">
      <div class="card-header margin-small">
        <span class="subtitle">Hospice Care</span>
      </div>
      <div class="card-body">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et deolore magna aliqua.
        </p>
      </div>
    </div>
  </div>
  {{!-- Card 4 --}}
  <div class="col-md-6">
    <div class="card match-height">
      <div class="card-header margin-small">
        <span class="subtitle">Blood or Packed Red Blood Cells Under Part A</span>
      </div>
      <div class="card-body">
        First 3 pints Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
    </div>
  </div>
</div>
<div class="row">
  {{!-- Card 2 --}}
  <div class="col-md-6">
    <div class="card match-height">
      <div class="card-header margin-small">
        <span class="subtitle">Blood or Packed Red Blood Cells Under Part B</span>
      </div>
      <div class="card-body">
        First 3 pints Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </div>
    </div>
  </div>
</div>
