{{!-- Start: out-of-pocket maximum section --}}
<div class="row">
  <div class="col-md-8 margin-small">
    <h3 class="h4 color-blue medium margin-small">Out-of-Pocket Maximum</h3>
    <p>
      Section heading tool tip copy goes here.
      Lorem ipsum medical copays are like a type of cost sharing lorem ipsum.
      out-of-pocket maximum is a lorem of cost ipsum, lorem ipsum...
    </p>
  </div>
</div>
<div class="row">
  {{!-- Card 1 --}}
  <div class="col-sm-6 col-md-3">
    <div class="card match-height">
      <div class="card-header margin-small">
        <span class="subtitle">In-Network</span>
      </div>
      <div class="card-body">
        <div class="margin-medium">
          <p class="h4 margin-none">$XXXX.XX</p>
        </div>
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        </span>
      </div>
    </div>
  </div>
  {{!-- Card 2 --}}
  <div class="col-sm-6 col-md-3">
    <div class="card match-height">
      <div class="card-header margin-small">
        <span class="subtitle">Out-of-Network</span>
      </div>
      <div class="card-body">
        <div class="margin-medium">
          <p class="h4 margin-none">$XXXX.XX</p>
        </div>
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
        </span>
      </div>
    </div>
  </div>
</div>
