{{!-- Start: primary care provider section --}}
<div class="row">
  <div class="col-md-8 margin-small">
    <h3 class="h4 color-blue medium margin-small">Ancillary Benefits</h3>
    <p>
      These are benefits available as part of your group plan lorem ipsum.
    </p>
  </div>
</div>
<div class="row">
  {{!-- Card 1 --}}
  <div class="col-md-6">
    <div class="card match-height">
      <div class="card-header margin-small">
        <span class="subtitle">Hearing</span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <p class="bold margin-small">Routine Hearing Exams</p>
            <span>$XX Copay or %XX Co-insurance</span>
          </div>
          <div class="col-sm-6">
            <p class="bold margin-small">Vendor Information</p>
            <p class="h5 margin-small">Lorem Ipsum Name</p>
            <p>
              1234 Main Street <br>
              Plainsville, MN 55415
            </p>
            <p>
              612-123-4567
            </p>
            <a href="#" class="lowercase">www.loremipsum.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- Card 2 --}}
  <div class="col-md-6">
    <div class="card promo blue match-height">
      <div class="card-header margin-small">
        <div class="block">
          <div class="block-body block-flex">
            <div>
              <img src="/images/icon-svgs/hearing-aid.svg" alt="Hearing Aid" class="img-medium" />
            </div>
            <div>
              <h4 class="h4 margin-extra-small">Exclusive hearing savings</h4>
              <span class="subtitle">Just for UHC Members</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <p class="margin-medium">
          Instead of paying thousands of dollars for hearing aids, you will pay only
          the discounted price of $599-$799 for each hearing aid purchased.
        </p>
        <a href="#" class="btn btn--secondary margin-small">Learn More</a>
        <a href="#collapsePromo" role="button" data-toggle="collapse"
          aria-expanded="false" aria-controls="collapsePromo" class="collapse-expand display-block link-black">
          Disclaimer
          <span class="material-icons">keyboard_arrow_down</span>
        </a>
        <div class="collapse-wrapper">
          <div class="collapse" id="collapsePromo">
            Magna id eu incididunt ad excepteur eu duis cillum ex nostrud.
            Consectetur ea aute duis aute dolore duis nulla ullamco in do nostrud
            consequat amet mollit incididunt adipisicing.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  {{!-- Card 3 --}}
  <div class="col-md-6">
    <div class="card match-height">
      <div class="card-header margin-small">
        <span class="subtitle">Vision</span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <p class="margin-small bold">Routine Eye Exams</p>
            <p class="margin-medium">$XX Copay or %XX Co-insurance</p>
            <p class="margin-small bold">Routine Eye Wear</p>
            <p class="margin-extra-small">$XX.XX Copay or %XX Co-insurance</p>
            <p class="italic margin-medium text-small">for plans with contact lens coverage</p>
            <p class="margin-extra-small">$XX.XX Copay or %XX Co-insurance</p>
            <p class="italic margin-none text-small">for plans without contact lens coverage</p>
          </div>
          <div class="col-sm-6">
            <p class="bold margin-small">Vendor Information</p>
            <p class="h5 margin-small">Lorem Ipsum Name</p>
            <p>
              1234 Main Street <br>
              Plainsville, MN 55415
            </p>
            <p>
              612-123-4567
            </p>
            <a href="#" class="lowercase">www.loremipsum.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- Card 4 --}}
  <div class="col-md-6">
    <div class="card match-height">
      <div class="card-header margin-small">
        <span class="subtitle">Dental</span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <p class="bold margin-small">Routine Dental Exams</p>
            <span>$XX Copay or %XX Co-insurance</span>
          </div>
          <div class="col-sm-6">
            <p class="bold margin-small">Vendor Information</p>
            <p class="h5 margin-small">Lorem Ipsum Name</p>
            <p>
              1234 Main Street <br>
              Plainsville, MN 55415
            </p>
            <p>
              612-123-4567
            </p>
            <a href="#" class="lowercase">www.loremipsum.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  {{!-- Card 5 --}}
  <div class="col-md-6">
    <div class="card match-height">
      <div class="card-header margin-small">
        <span class="subtitle">Chiropractic</span>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-6">
            <p class="bold margin-small">Routine Chiropractic Exams</p>
            <span>$XX Copay or %XX Co-insurance</span>
          </div>
          <div class="col-sm-6">
            <p class="bold margin-small">Vendor Information</p>
            <p class="h5 margin-small">Lorem Ipsum Name</p>
            <p>
              1234 Main Street <br>
              Plainsville, MN 55415
            </p>
            <p>
              612-123-4567
            </p>
            <a href="#" class="lowercase">www.loremipsum.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
