{{!-- Start: primary care provider section --}}
<div class="row">
  <div class="col-md-8 margin-small">
    <h3 class="h4 color-blue medium margin-small">Primary Care Provider (FPO)</h3>
    <p>
      Doctor's choice &lt;plan type&gt; with a &lt;plan type name&gt;, you have
      &lt;specific plan type text here&gt;
    </p>
  </div>
</div>
