{{!-- Start: primary care provider section --}}
<div class="row">
  <div class="col-md-8 margin-small">
    <h3 class="h4 color-blue medium margin-small">Primary Care Provider</h3>
  </div>
</div>
<div class="row">
  {{!-- Card 1 --}}
  <div class="col-md-3 col-sm-6">
    <div class="card match-height">
      <div class="card-header margin-small">
        <span class="subtitle">Your primary care provider</span>
      </div>
      <div class="card-body">
        <p class="h4 margin-medium">Nicholas L Finley, M.D.</p>
        <a href="#" class="btn btn--primary">Change your PCP</a>
      </div>
    </div>
  </div>
  {{!-- Card 2 --}}
  <div class="col-md-3 col-sm-6">
    <div class="card blue match-height">
      <div class="card-header margin-small">
        <span class="subtitle black">Search for a Physician</span>
      </div>
      <div class="card-body">
        <p class="margin-medium">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Mauris commodo elementum.
        </p>
        <a href="#" class="btn btn--secondary">Start Search</a>
      </div>
    </div>
  </div>
</div>
