---
title: Payments
layout: default
hasFooter: true
hasHeader: true
hasScript:
    - table
    - payments
    - payment-history
hasHelp: SHIP
---
<div class="payments">

    {{> payments-overview
        paymentsOverview.shipRecurringEFT
    }}
    {{> payments-history
        ShipHistory=true
        includedPayments=true
    }}
</div>

{{> edit-recurring-payment-modal }}
