<div class="container--base">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="carousel" class="margin-none" role="listbox">
          <div><img src="/images/partials/carousel.png" alt="Visits" class="img-responsive"></div>
          <div><img src="/images/partials/carousel.png" alt="Visits2" class="img-responsive"></div>
          <div><img src="/images/partials/carousel.png" alt="Visits3" class="img-responsive"></div>
        </div>
      </div>
    </div>
  </div>
</div>
