<div class="container--base gray">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header display-flex v-center margin-small">
            <img src="/images/icon-svgs/caregiver.svg" alt="Care Giver" class="img-medium">
            <span class="bold text-upper padding-left-small">Solutions For Caregivers</span>
          </div>
          <div class="card-body">
            <p class="margin-large">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat purus at magna feugiat volutpat.</p>
            <a href="#">Lorem Ipsum</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-header display-flex v-center margin-small">
            <img src="/images/icon-svgs/chart.svg" alt="Chart" class="img-medium">
            <span class="bold text-upper padding-left-small">Virtual Doctor Visit</span>
          </div>
          <div class="card-body">
            <p class="margin-large">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat purus at magna feugiat volutpat.</p>
            <a href="#">Lorem Ipsum</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <div class="card-header display-flex v-center margin-small">
            <img src="/images/icon-svgs/drugs.svg" alt="Drugs" class="img-medium">
            <span class="bold text-upper padding-left-small">Drug Look Up</span>
          </div>
          <div class="card-body">
            <p class="margin-large">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum feugiat purus at magna feugiat volutpat.</p>
            <a href="#">Lorem Ipsum</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
