<div id="table-medical">
  <div class="row">
    <div class="col-md-12">
      <h2 class="h4 margin-none">
        You have <span class="bold">20 medical claims</span> from the
        <span class="bold claim-days">Last 90 days</span>
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="margin-none">
        For more information about an individual claim, click on “More info”
        under “Claim Details.” Is there a provider listed below that you do
        not recognize? There are times when your doctor contracts with a
        facility or a lab for services. If you have any questions about a
        claim, <a href="#" class="lowercase">contact UnitedHealthcare</a>.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 margin-small">
      {{!-- Collapse --}}
      <a href="#collapseInfo2" role="button" data-toggle="collapse"
        aria-expanded="false" aria-controls="collapseInfo2" class="display-block collapse-expand">
        Learn More About Your Cost Breakdown
        <span class="material-icons">keyboard_arrow_down</span>
      </a>
      <div class="collapse-wrapper margin-small">
        <div class="collapse" id="collapseInfo2">
          <p class="bold margin-none">Claim type</p>
          <p>
            Qui aute quis laboris culpa velit dolore id cillum cupidatat
            officia in ex velit ea sint exercitation. Proident non mollit
            pariatur minim officia ad officia sit magna aute labore.
          </p>
          <p class="bold margin-none">Amount provider has billed for the plan</p>
          <p>
            Qui aute quis laboris culpa velit dolore id cillum cupidatat
            officia in ex velit ea sint exercitation. Proident non mollit
            pariatur minim officia ad officia sit magna aute labore.
          </p>
          <p class="bold margin-none">Claim Status</p>
          <p>
            Qui aute quis laboris culpa velit dolore id cillum cupidatat
            officia in ex velit ea sint exercitation. Proident non mollit
            pariatur minim officia ad officia sit magna aute labore.
          </p>
        </div>
      </div>
    </div>
  </div>
  {{!-- Table start --}}
  <div class="row">
    <div class="col-md-12 margin-large">
      <table class="table-responsive more-info">
        <tr>
          <th>Service Date</th>
          <th>Provider Name</th>
          <th data-tooltip="small" data-tooltip-label="Provider type tooltip" data-tooltip-mobile>Provider Type</th>
          <th data-tooltip="small" data-tooltip-label="Claim status tooltip" data-tooltip-mobile>Claim Status</th>
          <th data-tooltip="small" data-tooltip-label="Amount provider has billed tooltip" data-tooltip-mobile>Amount provider has billed the plan</th>
          <th>Claim Detail</th>
        </tr>
        {{!-- 1 --}}
        <tr>
          <td class="hidden-md hidden-lg"><span class="subtitle margin-none">Doogie Howser, M.D.</span><span>Service provided on XX/XX/XXXX</span></td>
          <td class="hidden-sm hidden-xs"><span class="table-responsive__value">XX/XX/XXXX</span><span class="table-responsive__key italic text-small">Service Date</span></td>
          <td class="hidden-sm hidden-xs"><span class="table-responsive__value">Doogie Howser, M.D.</span><span class="table-responsive__key italic text-small">Provider Name</span></td>
          <td><span class="table-responsive__value">Physician</span><span class="table-responsive__key italic text-small">Provider Type</span></td>
          <td><span class="table-responsive__value">Pending</span><span class="table-responsive__key italic text-small">Claim Status</span></td>
          <td><span class="table-responsive__value">$XXX.XX</span><span class="table-responsive__key italic text-small">Amount provider has billed the plan</span></td>
          <td><a href="/medical-claims/details/mapd-nice.html">More Info</a></td>
        </tr>
        {{!-- 2 --}}
        <tr>
          <td class="hidden-md hidden-lg"><span class="subtitle margin-none">Penrose St Francis</span><span>Service provided on XX/XX/XXXX</span></td>
          <td class="hidden-sm hidden-xs"><span class="table-responsive__value">XX/XX/XXXX</span><span class="table-responsive__key italic text-small">Service Date</span></td>
          <td class="hidden-sm hidden-xs"><span class="table-responsive__value">Penrose St Francis</span><span class="table-responsive__key italic text-small">Provider Name</span></td>
          <td><span class="table-responsive__value">Hospital</span><span class="table-responsive__key italic text-small">Provider Type</span></td>
          <td><span class="table-responsive__value">Pending</span><span class="table-responsive__key italic text-small">Claim Status</span></td>
          <td><span class="table-responsive__value">$XXX.XX</span><span class="table-responsive__key italic text-small">Amount provider has billed the plan</span></td>
          <td><a href="/medical-claims/details/mapd-nice.html">More Info</a></td>
        </tr>
        {{!-- 3 --}}
        <tr>
          <td class="hidden-md hidden-lg"><span class="subtitle margin-none">Doogie Howser, M.D.</span><span>Service provided on XX/XX/XXXX</span></td>
          <td class="hidden-sm hidden-xs"><span class="table-responsive__value">XX/XX/XXXX</span><span class="table-responsive__key italic text-small">Service Date</span></td>
          <td class="hidden-sm hidden-xs"><span class="table-responsive__value">Doogie Howser, M.D.</span><span class="table-responsive__key italic text-small">Provider Name</span></td>
          <td><span class="table-responsive__value">Physician</span><span class="table-responsive__key italic text-small">Provider Type</span></td>
          <td><span class="table-responsive__value">Pending</span><span class="table-responsive__key italic text-small">Claim Status</span></td>
          <td><span class="table-responsive__value">$XXX.XX</span><span class="table-responsive__key italic text-small">Amount provider has billed the plan</span></td>
          <td><a href="/medical-claims/details/mapd-nice.html">More Info</a></td>
        </tr>
        {{!-- 4 --}}
        <tr>
          <td class="hidden-md hidden-lg"><span class="subtitle margin-none">Doogie Howser, M.D.</span><span>Service provided on XX/XX/XXXX</span></td>
          <td class="hidden-sm hidden-xs"><span class="table-responsive__value">XX/XX/XXXX</span><span class="table-responsive__key italic text-small">Service Date</span></td>
          <td class="hidden-sm hidden-xs"><span class="table-responsive__value">Doogie Howser, M.D.</span><span class="table-responsive__key italic text-small">Provider Name</span></td>
          <td><span class="table-responsive__value">Physician</span><span class="table-responsive__key italic text-small">Provider Type</span></td>
          <td><span class="table-responsive__value">Pending</span><span class="table-responsive__key italic text-small">Claim Status</span></td>
          <td><span class="table-responsive__value">$XXX.XX</span><span class="table-responsive__key italic text-small">Amount provider has billed the plan</span></td>
          <td><a href="/medical-claims/details/mapd-nice.html">More Info</a></td>
        </tr>
        {{!-- 5 --}}
        <tr>
          <td class="hidden-md hidden-lg"><span class="subtitle margin-none">Doogie Howser, M.D.</span><span>Service provided on XX/XX/XXXX</span></td>
          <td class="hidden-sm hidden-xs"><span class="table-responsive__value">XX/XX/XXXX</span><span class="table-responsive__key italic text-small">Service Date</span></td>
          <td class="hidden-sm hidden-xs"><span class="table-responsive__value">Doogie Howser, M.D.</span><span class="table-responsive__key italic text-small">Provider Name</span></td>
          <td><span class="table-responsive__value">Physician</span><span class="table-responsive__key italic text-small">Provider Type</span></td>
          <td><span class="table-responsive__value">Pending</span><span class="table-responsive__key italic text-small">Claim Status</span></td>
          <td><span class="table-responsive__value">$XXX.XX</span><span class="table-responsive__key italic text-small">Amount provider has billed the plan</span></td>
          <td><a href="/medical-claims/details/mapd-nice.html">More Info</a></td>
        </tr>
        {{!-- 6 --}}
        <tr>
          <td class="hidden-md hidden-lg"><span class="subtitle margin-none">Doogie Howser, M.D.</span><span>Service provided on XX/XX/XXXX</span></td>
          <td class="hidden-sm hidden-xs"><span class="table-responsive__value">XX/XX/XXXX</span><span class="table-responsive__key italic text-small">Service Date</span></td>
          <td class="hidden-sm hidden-xs"><span class="table-responsive__value">Doogie Howser, M.D.</span><span class="table-responsive__key italic text-small">Provider Name</span></td>
          <td><span class="table-responsive__value">Physician</span><span class="table-responsive__key italic text-small">Provider Type</span></td>
          <td><span class="table-responsive__value">Pending</span><span class="table-responsive__key italic text-small">Claim Status</span></td>
          <td><span class="table-responsive__value">$XXX.XX</span><span class="table-responsive__key italic text-small">Amount provider has billed the plan</span></td>
          <td><a href="/medical-claims/details/mapd-nice.html">More Info</a></td>
        </tr>
        {{!-- 7 --}}
        <tr>
          <td class="hidden-md hidden-lg"><span class="subtitle margin-none">Doogie Howser, M.D.</span><span>Service provided on XX/XX/XXXX</span></td>
          <td class="hidden-sm hidden-xs"><span class="table-responsive__value">XX/XX/XXXX</span><span class="table-responsive__key italic text-small">Service Date</span></td>
          <td class="hidden-sm hidden-xs"><span class="table-responsive__value">Doogie Howser, M.D.</span><span class="table-responsive__key italic text-small">Provider Name</span></td>
          <td><span class="table-responsive__value">Physician</span><span class="table-responsive__key italic text-small">Provider Type</span></td>
          <td><span class="table-responsive__value">Pending</span><span class="table-responsive__key italic text-small">Claim Status</span></td>
          <td><span class="table-responsive__value">$XXX.XX</span><span class="table-responsive__key italic text-small">Amount provider has billed the plan</span></td>
          <td><a href="/medical-claims/details/mapd-nice.html">More Info</a></td>
        </tr>
        {{!-- 8 --}}
        <tr>
          <td class="hidden-md hidden-lg"><span class="subtitle margin-none">Doogie Howser, M.D.</span><span>Service provided on XX/XX/XXXX</span></td>
          <td class="hidden-sm hidden-xs"><span class="table-responsive__value">XX/XX/XXXX</span><span class="table-responsive__key italic text-small">Service Date</span></td>
          <td class="hidden-sm hidden-xs"><span class="table-responsive__value">Doogie Howser, M.D.</span><span class="table-responsive__key italic text-small">Provider Name</span></td>
          <td><span class="table-responsive__value">Physician</span><span class="table-responsive__key italic text-small">Provider Type</span></td>
          <td><span class="table-responsive__value">Pending</span><span class="table-responsive__key italic text-small">Claim Status</span></td>
          <td><span class="table-responsive__value">$XXX.XX</span><span class="table-responsive__key italic text-small">Amount provider has billed the plan</span></td>
          <td><a href="/medical-claims/details/mapd-nice.html">More Info</a></td>
        </tr>
        {{!-- 9 --}}
        <tr>
          <td class="hidden-md hidden-lg"><span class="subtitle margin-none">Doogie Howser, M.D.</span><span>Service provided on XX/XX/XXXX</span></td>
          <td class="hidden-sm hidden-xs"><span class="table-responsive__value">XX/XX/XXXX</span><span class="table-responsive__key italic text-small">Service Date</span></td>
          <td class="hidden-sm hidden-xs"><span class="table-responsive__value">Doogie Howser, M.D.</span><span class="table-responsive__key italic text-small">Provider Name</span></td>
          <td><span class="table-responsive__value">Physician</span><span class="table-responsive__key italic text-small">Provider Type</span></td>
          <td><span class="table-responsive__value">Pending</span><span class="table-responsive__key italic text-small">Claim Status</span></td>
          <td><span class="table-responsive__value">$XXX.XX</span><span class="table-responsive__key italic text-small">Amount provider has billed the plan</span></td>
          <td><a href="/medical-claims/details/mapd-nice.html">More Info</a></td>
        </tr>
        {{!-- 10 --}}
        <tr>
          <td class="hidden-md hidden-lg"><span class="subtitle margin-none">Doogie Howser, M.D.</span><span>Service provided on XX/XX/XXXX</span></td>
          <td class="hidden-sm hidden-xs"><span class="table-responsive__value">XX/XX/XXXX</span><span class="table-responsive__key italic text-small">Service Date</span></td>
          <td class="hidden-sm hidden-xs"><span class="table-responsive__value">Doogie Howser, M.D.</span><span class="table-responsive__key italic text-small">Provider Name</span></td>
          <td><span class="table-responsive__value">Physician</span><span class="table-responsive__key italic text-small">Provider Type</span></td>
          <td><span class="table-responsive__value">Pending</span><span class="table-responsive__key italic text-small">Claim Status</span></td>
          <td><span class="table-responsive__value">$XXX.XX</span><span class="table-responsive__key italic text-small">Amount provider has billed the plan</span></td>
          <td><a href="/medical-claims/details/mapd-nice.html">More Info</a></td>
        </tr>
      </table>
    </div>
  </div>
</div>
