<section class="member-header">
    <div class="member-header__details">
        <div class="member-header__group">
           <div class="member-header__label">Member Name:</div>
            <div class="member-header__name bold">Jane Smith</div> 
        </div>
        <div class="member-header__group">
            <div class="member-header__label">Member ID:</div>
            <div class="member-header__id bold">12345678-99</div>
        </div>
    </div>
    {{#if status}}
    <div class="member-header__status">
        <div class="member-header__group">
            <div class="member-header__label">Today's Changes:</div>
            <div class="member-header__update bold">{{type}}</div>
        </div>  
    </div>
    {{/if}}
</section>