<div class="row">
    <div class="col-xs-12">
        <div class="payment-selection__more">
            <p>Learn more about how to <a href="#" data-toggle="modal" data-target="#ssaModal" class="lowercase">use your SSA deduction</a> for premium payments</p>
        </div>
    </div>
</div>