<!-- Desktop tables start -->
<div class="row">
  <div class="col-md-12">
    <table class="table-responsive">
      <tr>
        <th>Due Date</th>
        <th data-tooltip="small" data-tooltip-label="Amount billed tooltip">Amount Billed</th>
        <th>Paid Date</th>
        <th>Amount Paid</th>
        <th data-tooltip="small" data-tooltip-label="Balance due tooltip">Balance Due</th>
        <th class="table-responsive__col--wide">Monthly Bill</th>
      </tr>
      <tr>
        <td><span class="mobile-table-header">Due Date</span><div class="table-dots"></div><span class="table-responsive__value">XX/XX/XXXX</span></td>
        <td><span class="mobile-table-header"><span data-tooltip="small" data-tooltip-label="Amount billed tooltip 1">Amount Billed</span></span><div class="table-dots"></div><span class="table-responsive__value">$XX.XX</span></td>
        <td><span class="mobile-table-header">Paid Date</span><div class="table-dots"></div><span class="table-responsive__value">XX/XX/XXXX</span></td>
        <td><span class="mobile-table-header">Amount Paid</span><div class="table-dots"></div><span class="table-responsive__value">$XX.XX</span></td>
        <td><span class="mobile-table-header"><span data-tooltip="small" data-tooltip-label="Balance Due tooltip 1">Balance Due</span></span><div class="table-dots"></div><span class="table-responsive__value">$XX.XX</span></td>
        <td><span class="mobile-table-header">Monthly Bill</span><div class="table-dots"></div><a href="#">Download</a></td>
      </tr>
      <tr>
        <td><span class="mobile-table-header">Due Date</span><div class="table-dots"></div><span class="table-responsive__value">XX/XX/XXXX</span></td>
        <td><span class="mobile-table-header"><span data-tooltip="small" data-tooltip-label="Amount billed tooltip 2">Amount Billed</span></span><div class="table-dots"></div><span class="table-responsive__value">$XX.XX</span></td>
        <td><span class="mobile-table-header">Paid Date</span><div class="table-dots"></div><span class="table-responsive__value">XX/XX/XXXX</span></td>
        <td><span class="mobile-table-header">Amount Paid</span><div class="table-dots"></div><span class="table-responsive__value">$XX.XX</span></td>
        <td><span class="mobile-table-header"><span data-tooltip="small" data-tooltip-label="Balance Due tooltip 2">Balance Due</span></span><div class="table-dots"></div><span class="table-responsive__value">$XX.XX</span></td>
        <td><span class="mobile-table-header">Monthly Bill</span><div class="table-dots"></div><span class="table-responsive__value">Not available</span></td>
      </tr>
      <tr>
        <td><span class="mobile-table-header">Due Date</span><div class="table-dots"></div><span class="table-responsive__value">XX/XX/XXXX</span></td>
        <td><span class="mobile-table-header"><span data-tooltip="small" data-tooltip-label="Amount billed tooltip 3">Amount Billed</span></span><div class="table-dots"></div><span class="table-responsive__value">$XX.XX</span></td>
        <td><span class="mobile-table-header">Paid Date</span><div class="table-dots"></div><span class="table-responsive__value">XX/XX/XXXX</span></td>
        <td><span class="mobile-table-header">Amount Paid</span><div class="table-dots"></div><span class="table-responsive__value">$XX.XX</span></td>
        <td><span class="mobile-table-header"><span data-tooltip="small" data-tooltip-label="Balance Due tooltip 3">Balance Due</span></span><div class="table-dots"></div><span class="table-responsive__value">$XX.XX</span></td>
        <td><span class="mobile-table-header">Monthly Bill</span><div class="table-dots"></div><span class="table-responsive__value">Not available</span></td>
      </tr>
    </table>
  </div>
</div>
