<div class="terms-conditions">
  <fieldset class="checkbox-block margin-small">
      <legend class="sr-only">Terms and conditions</legend>
      <div class="checkbox">
        <label for="termsAgree">
          <input type="checkbox" id="termsAgree">
          I agree to the following UHC Terms and Conditions
        </label>
      </div>
  </fieldset>
  <div class="scrollable-text-block">
    <p class="text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
    <p class="text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
