---
title: Dashboard
layout: default
hasFooter: true
hasHelp: FED
hasScript:
  - dashboard
---
<div class="dashboard">
  {{> db-header pdp="true" ship="true" }}
  {{> db-plan-details pdp="true" ship="true" }}
  {{> db-carousel pdp="true" ship="true" }}
  {{> db-links pdp="true" ship="true" }}
</div>
