---
title: Dashboard
layout: default
hasFooter: true
hasHelp: FED
hasScript:
  - dashboard
---
<div class="dashboard">
  {{> db-header ma="true" }}
  {{> db-plan-details ma="true" }}
  {{> db-carousel ma="true" }}
  {{> db-links ma="true" }}
</div>
