<section class="container--base gray">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="h3 medium margin-none">Annual Notice of Changes Documents</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="margin-small">
          <fieldset>
            <legend class="sr-only">
              ANCD
            </legend>
            <label for="lang-select-2" class="display-inline-block">View </label>
            <div class="select--inline">
              <select id="lang-select-2" class="lang-select">
                <option>ENGLISH</option>
                <option>SPANISH</option>
                <option>CHINESE</option>
              </select>
            </div>
            <span class="display-inline-block bold">documents</span>
          </fieldset>
        </div>
        <h3 class="h4 color-blue medium margin-small">2016</h3>
        {{> link-list resources-mapd-jan-sept.annual-changes.year-2016}}
        <p class="margin-none">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>
</section>

<section class="container--base">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="h3 medium margin-none">Annual Directories</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="margin-small">
          <fieldset>
            <legend class="sr-only">AD</legend>
            <label for="lang-select-3" class="display-inline-block">View </label>
            <div class="select--inline">
              <select id="lang-select-3" class="lang-select">
                <option>ENGLISH</option>
                <option>SPANISH</option>
                <option>CHINESE</option>
              </select>
            </div>
            <span class="display-inline-block bold">documents</span>
          </fieldset>
        </div>
        <h3 class="h4 color-blue medium margin-small">2016</h3>
        <ul class="document-list-new margin-large variation-el">
          <li><a href="#"><img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF">2016 Provider Directory <span class="doc-specs">(PDF, size)</span></a></li>
          <li><a href="#"><img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF">2016 Pharmacy Directory Information <span class="doc-specs">(PDF, size)</span></a></li>
        </ul>

        <ul class="document-utilities variation-el">
          <li>
            <a href="#"><img src="/images/icon-svgs/plus-outline.svg" alt="plus"> Provider Search</a>
            <p>You can also search for a physician, facility or medical group online and print directory results based on your specific search criteria.</p>
          </li>
          <li>
            <a href="#"><img src="/images/icon-svgs/pharmacy.svg" alt="pharmacy"> Pharmacy Locator</a>
            <p>Use the online directory to locate a pharmacy and map its location. For further information about network pharmacies, you can reference the Pharmacy Directory Information (PDF).</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
