<div class="divider"></div>
<section class="container--base" id="resources">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="h3 medium margin-none">Forms and Resources</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <a class="collapse-header--alt{{#if variation}} pdf-list{{/if}}" role="button" data-toggle="collapse" href="#collapse-0" aria-expanded="false" aria-controls="collapse-0">
          <span class="header-text">
            Prescription Drug Mail-Order Form
          </span>
        </a>
        <div class="collapse-wrapper">
          <div id="collapse-0" class="collapse">
            {{#if variation}}
            <div class="variation-el">
              <div class="row">
                <div class="col-md-8">
                  <ul class="document-list-new">
                    <li><a href="#"><img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF">Prescription Mail Order For - Preferred Mail Service through OptumRx <span class="doc-specs">(PDF, size)</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
            {{/if}}

            {{#if variation}}<div class="variation-orig">{{/if}}
              {{> link-list resources-mapd.resources.drug-mail-order}}
            {{#if variation}}</div>{{/if}}
          </div>
          {{#if variation}}
          <a href="#" class="collapse-close variation-el v-fill">Close</a>
          {{/if}}
        </div>

        <a class="collapse-header--alt{{#if variation}} pdf-list{{/if}}" role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
          <span class="header-text">
            Premium Payment and Claim Reimbursement Forms
          </span>
        </a>
        <div class="collapse-wrapper">
          <div id="collapse-1" class="collapse">
            {{#if variation}}
            <div class="variation-el">
              <div class="row">
                <div class="col-md-8">
                  <ul class="document-list-new">
                    <li><a href="#"><img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF">How to read your bill <span class="doc-specs">(PDF, size)</span></a></li>
                    <li><a href="#"><img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF">Electronic Funds Transfer Form (EFT) <span class="doc-specs">(PDF, size)</span></a></li>
                    <li><a href="#"><img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF">Premium Deduction from Social Security Payment Form <span class="doc-specs">(PDF, size)</span></a></li>
                    <li><a href="#"><img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF">Medical Reimbursement Form <span class="doc-specs">(PDF, size)</span></a></li>
                    <li><a href="#"><img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF">Medical Reimbursement Form - For outside of United States and U.S. Territories<span class="doc-specs">(PDF, size)</span></a></li>
                    <li><a href="#"><img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF">Prescription Drug Reimbursement Form <span class="doc-specs">(PDF, size)</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
            {{/if}}
            {{#if variation}}<div class="variation-orig">{{/if}}
              {{> link-list resources-mapd.resources.premium-payment-claim}}
            {{#if variation}}</div>{{/if}}
          </div>
          {{#if variation}}
          <a href="#" class="collapse-close variation-el v-fill">Close</a>
          {{/if}}
        </div>

        <a class="collapse-header--alt{{#if variation}} pdf-list{{/if}}" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
          <span class="header-text">
            Authorization Forms
          </span>
        </a>
        <div class="collapse-wrapper">
          <div id="collapse-2" class="collapse">
            {{#if variation}}
            <div class="variation-el">
              <div class="row">
                <div class="col-md-8">
                  <ul class="document-list-new">
                    <li><a href="#">How to appoint a representative</a></li>
                    <li><a href="#">Appointment of Representative Form</a></li>
                    <li><a href="#"><img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF">Authorization to Share Personal Information Form <span class="doc-specs">(PDF, size)</span></a></li>
                    <li><a href="#"><img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF">Medication Prior Authorization Request Form <span class="doc-specs">(PDF, size)</span></a></li>
                    <li><a href="#"><img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF">Medicare Part D Coverage Determination Request Form  <span class="doc-specs">(PDF, size)</span></a></li>
                    <li><a href="#">Specialty Pharmacy Prior Authorization Request Forms</a></li>
                    <li><a href="#"><img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF">Redetermination Request Form  <span class="doc-specs">(PDF, size)</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
            {{/if}}
            {{#if variation}}<div class="variation-orig">{{/if}}
              {{> link-list resources-mapd.resources.authorization}}
            {{#if variation}}</div>{{/if}}
          </div>
          {{#if variation}}
          <a href="#" class="collapse-close variation-el v-fill">Close</a>
          {{/if}}
        </div>

        <a class="collapse-header--alt{{#if variation}} pdf-list{{/if}}" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
          <span class="header-text">
            Other Resources
          </span>
        </a>
        <div class="collapse-wrapper">
          <div id="collapse-3" class="collapse">
            {{#if variation}}
            <div class="variation-el">
              <div class="row">
                <div class="col-md-8">
                  <ul class="document-list-new">
                    <li><a href="#">Appeals and Grievances – Medicare Advantage Plans</a></li>
                    <li><a href="#"><img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF">Commitment to quality <span class="doc-specs">(PDF, size)</span></a></li>
                    <li><a href="#">UnitedHealthcare Medicare Advantage Coverage Summaries</a></li>
                    <li><a href="#">Member rights and responsibilities</a></li>
                    <li><a href="#"><img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF">Potential for Contract Termination  <span class="doc-specs">(PDF, size)</span></a></li>
                    <li><a href="#">Prescription drug coverage determinations and appeals, drug conditions and limitations and quality assurance policies</a></li>
                    <li><a href="#">Prescription Drug Transition Process</a></li>
                    <li><a href="#">Medication Therapy Management (MTM) Program</a></li>
                    <li><a href="#">60-day formulary change notice</a></li>
                    <li><a href="#">Seasonal flu shot information</a></li>
                  </ul>
                </div>
              </div>
            </div>
            {{/if}}
            {{#if variation}}<div class="variation-orig">{{/if}}
              {{> link-list resources-mapd.resources.other}}
            {{#if variation}}</div>{{/if}}
          </div>
          {{#if variation}}
          <a href="#" class="collapse-close variation-el v-fill">Close</a>
          {{/if}}
        </div>

        <a class="collapse-header--alt{{#if variation}} pdf-list{{/if}}" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
          <span class="header-text">
            Disenrollment Information
          </span>
        </a>
        <div class="collapse-wrapper">
          <div id="collapse-4" class="collapse">
            {{#if variation}}
            <div class="variation-el">
              <div class="row">
                <div class="col-md-8">
                  <ul class="document-list-new">
                    <li><a href="#">Disenrollement Form (Online)</a></li>
                    <li><a href="#"><img src="/images/icon-svgs/PDF_outlined.svg" alt="PDF">Disenrollement Form <span class="doc-specs">(PDF, size)</span></a></li>
                  </ul>
                </div>
              </div>
            </div>
            {{/if}}
            {{#if variation}}<div class="variation-orig">{{/if}}
              {{> link-list resources-mapd.resources.disenrollment}}
            {{#if variation}}</div>{{/if}}
          </div>
          {{#if variation}}
          <a href="#" class="collapse-close variation-el v-fill">Close</a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</section>
