<div class="container--base gray">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <a href="#collapseInfo" role="button" data-toggle="collapse"
          aria-expanded="false" aria-controls="collapseInfo" class="display-block collapse-expand">
          More Information
          <span class="material-icons">keyboard_arrow_down</span>
        </a>
        <div class="collapse-wrapper">
          <div class="collapse" id="collapseInfo">
            <p>This directory is current as of the first Sunday of each month.</p>
            <p>
              All network pharmacies may not be listed in this directory.
              Inclusion of a pharmacy does not guarantee that the pharmacy
              is open, is at the same location as listed in this online directory,
              or is included in the network. The pharmacy network may change
              at any time. You will receive notice when necessary. Please contact
              UnitedHealthcare® for details.
            </p>
            <p>
              If you would like a Pharmacy Directory mailed to you, please contact
              UnitedHealthcare. You can also print a directory from your online search results.
            </p>
            <p class="margin-none">
              AARP® Medicare Plans insured through UnitedHealthcare have contracts
              with pharmacies that equal or exceed CMS requirements for pharmacy access
              in your area.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
