<section class="container--base" id="resources">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="h3 medium margin-none">Forms and Resources</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        {{> link-list resources-ship.resources.resources}}
      </div>
    </div>
  </div>
</section>
