---
title: Communication Preferences
layout: default
backTitle: Profile & Preferences
backLink: /profile/profile-federal.html
hasFooter: true
hasHeader: true
hasHelp: FED
hasScript:
  - profile
---
<div class="profile">
  {{> gg-body federal="true" }}
  <div class="container--base">
    <div class="container">
      <div class="row">
        <div class="col-md-12 margin-none">
          <a href="/profile/profile-federal.html" class="link link--icon-left link--icon-circled" data-icon="&#xE314;">
              Profile & Preferences
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="divider"></div>
