<!-- Start: Authorization modal -->
<div id="authModal" tabindex="-1" role="alertdialog" aria-labelledby="authHeader" class="modal fade">
    <div role="document" class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <a class="link link--icon-right link--icon-circled align-right" data-icon="&#xE5CD;" data-dismiss="modal" aria-label="Close">Close</a>
                <div class="modal-title">
                    <h1 id="authHeader" class="h3 margin-none">Authorizing UHC to withdraw monthly payments</h1>
                </div>
            </div>
            <div class="modal-body">
                <p class="p--full">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad harum provident, sunt quos nisi modi quaerat quia! Consequuntur impedit maxime esse voluptas quidem veniam illo eligendi placeat aut, non temporibus.</p>
                <p class="p--full">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad harum provident, sunt quos nisi modi quaerat quia! Consequuntur impedit maxime esse voluptas quidem veniam illo eligendi placeat aut, non temporibus.</p>
                <p class="p--full">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad harum provident, sunt quos nisi modi quaerat quia! Consequuntur impedit maxime esse voluptas quidem veniam illo eligendi placeat aut, non temporibus.</p>
                <p class="p--full">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad harum provident, sunt quos nisi modi quaerat quia! Consequuntur impedit maxime esse voluptas quidem veniam illo eligendi placeat aut, non temporibus.</p>
            </div>
            <div class="modal-footer">
                <div class="btn-group--full-width">
                  <a href="#" data-dismiss="modal" class="btn btn--primary">
                      Close
                  </a>
                </div>
            </div>
        </div>
    </div>
</div>