<!-- Start: Cancel modal -->
<div id="cancelModal" tabindex="-1" role="alertdialog" aria-labelledby="cancelHeader" class="modal fade">
    <div role="document" class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <a class="link link--icon-right link--icon-circled align-right" data-icon="&#xE5CD;" data-dismiss="modal" aria-label="Close">Close</a>
                <div class="modal-title">
                    <h1 id="cancelHeader" class="h3 margin-none">Cancel One-Time Payment?</h1>
                </div>
            </div>
            <div class="modal-footer">
                <div class="btn-group--full-width">
                  <a href="#" class="btn btn--primary">
                      Cancel Payment
                  </a>
                  <a href="#" data-dismiss="modal" class="btn btn--secondary">
                      Stay On Page
                  </a>
                </div>
            </div>
        </div>
    </div>
</div>