<!-- Start: Cancel Automatic Payments modal -->
<div id="cancelAutomaticPaymentsModal" tabindex="-1" role="dialog" aria-labelledby="cancelAutomaticPaymentsModalLabel" class="modal fade">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close">
          {{> close}}
        </button>
        <div id="cancelAutomaticPaymentsModalLabel" class="modal-title">
          <h1 class="h3 margin-none">Cancel Your Automatic Payment</h1>
        </div>
      </div>
      <div class="modal-body">
          <p class="align-center p--full">Automatic payments are active for your account. Cancelling your existing payment will be reflected on your account on the first day of the next month.</p>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn--primary">
          Cancel Automatic Payment
        </button>
      </div>
    </div>
  </div>
</div>
