<!-- Start: Download Billing modal -->
<div id="downloadBillingModal" tabindex="-1" role="alertdialog" aria-labelledby="downloadBillingHeader" aria-modal="true" class="modal fade">
    <div role="document" class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <a class="link link--icon-right link--icon-circled align-right" data-icon="&#xE5CD;" data-dismiss="modal" aria-label="Close">Close</a>
                <div class="modal-title">
                    <h1 id="downloadBillingHeader" class="h3 margin-none">Download billing statements from the available PDF's below</h1>
                </div>
            </div>
            <div class="modal-body">
                <ul class="download-billing__list">
                    <li class="download-billing__item">
                        <a href="#" class="download-billing__link">October 2018<span class="material-icons">picture_as_pdf</span></a>
                    </li>
                    <li class="download-billing__item">
                        <a href="#" class="download-billing__link">September 2018<span class="material-icons">picture_as_pdf</span></a>
                    </li>
                    <li class="download-billing__item">
                        <a href="#" class="download-billing__link">August 2018<span class="material-icons">picture_as_pdf</span></a>
                    </li>
                    <li class="download-billing__item">
                        <a href="#" class="download-billing__link">July 2018<span class="material-icons">picture_as_pdf</span></a>
                    </li>
                    <li class="download-billing__item">
                        <a href="#" class="download-billing__link">June 2018<span class="material-icons">picture_as_pdf</span></a>
                    </li>
                    <li class="download-billing__item">
                        <a href="#" class="download-billing__link">May 2018<span class="material-icons">picture_as_pdf</span></a>
                    </li>
                    <li class="download-billing__item">
                        <a href="#" class="download-billing__link">April 2018<span class="material-icons">picture_as_pdf</span></a>
                    </li>
                    <li class="download-billing__item">
                        <a href="#" class="download-billing__link">March 2018<span class="material-icons">picture_as_pdf</span></a>
                    </li>
                    <li class="download-billing__item">
                        <a href="#" class="download-billing__link">February 2018<span class="material-icons">picture_as_pdf</span></a>
                    </li>
                    <li class="download-billing__item">
                        <a href="#" class="download-billing__link">January 2018<span class="material-icons">picture_as_pdf</span></a>
                    </li>
                    <li class="download-billing__item">
                        <a href="#" class="download-billing__link">December 2017<span class="material-icons">picture_as_pdf</span></a>
                    </li>
                    <li class="download-billing__item">
                        <a href="#" class="download-billing__link">November 2017<span class="material-icons">picture_as_pdf</span></a>
                    </li>
                    <li class="download-billing__item">
                        <a href="#" class="download-billing__link">October 2017<span class="material-icons">picture_as_pdf</span></a>
                    </li>
                    <li class="download-billing__item">
                        <a href="#" class="download-billing__link">September 2017<span class="material-icons">picture_as_pdf</span></a>
                    </li>
                    <li class="download-billing__item">
                        <a href="#" class="download-billing__link">August 2017<span class="material-icons">picture_as_pdf</span></a>
                    </li>
                    <li class="download-billing__item">
                        <a href="#" class="download-billing__link">July 2017<span class="material-icons">picture_as_pdf</span></a>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>