<!-- Start: Cancel Automatic Payments modal -->
<div id="editAutomaticPaymentsModal" tabindex="-1" role="dialog" aria-labelledby="editAutomaticPaymentsModalLabel" class="modal fade">
    <div role="document" class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <a class="link link--icon-right link--icon-circled align-right" data-icon="&#xE5CD;" data-dismiss="modal" aria-label="Close">Close</a>
                <div id="editAutomaticPaymentsModalLabel" class="modal-title">
                    <h1 class="h3 margin-none">Edit Automatic Payments</h1>
                </div>
            </div>
            <div class="modal-body">
                <p class="align-center p--full">Cancelling existing or setting up new automatic payments will be reflected on your account on the first day of the next month if completed by the 23rd of the month. If you would still like to make changes to your payments for next month and it is after the 23rd, call Customer Service at the number listed on the Contact Us webpage.</p>
            </div>
            <div class="modal-footer">
                <div class="btn-group--full-width">
                  <a href="/payments/federal/automatic/form.html" class="btn btn--primary">
                      Set Up New Automatic Payments
                  </a>

                  <a href="#" id="cancelExistingAutoPayButton" data-dismiss="modal" class="btn btn--secondary">
                      Cancel Existing Automatic Payments
                  </a>
                </div>
            </div>
        </div>
    </div>
</div>
