<!-- Start: Cancel Recurring Payments modal -->
<div id="editRecurringPaymentsModal" tabindex="-1" role="dialog" aria-labelledby="editRecurringPaymentsModalLabel" class="modal fade">
    <div role="document" class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
              <a class="link link--icon-right link--icon-circled align-right" data-icon="&#xE5CD;" data-dismiss="modal" aria-label="Close">Close</a>
                <div id="editRecurringPaymentsModalLabel" class="modal-title">
                    <h2 class="h3 margin-none">Edit Recurring Payments</h2>
                </div>
            </div>
            <div class="modal-body">
                <p class="align-center p--full">Cancelling existing or setting up new recurring payments will be reflected on your account on the first day of the next month if completed by the 23rd of the month. If you would still like to make changes to your payments for next month and it is after the 23rd, call Customer Service at the number listed on the Contact Us webpage.</p>
            </div>
            <div class="modal-footer">

                <div class="btn-group--full-width">
                  <a href="/payments/ship/recurring/form.html" class="btn btn--primary">
                      Edit Recurring Payments
                  </a>

                  <a href="#" id="cancelExistingRecurringPayButton" data-dismiss="modal" class="btn btn--secondary">
                      Cancel Existing Recurring Payments
                  </a>
                </div>

            </div>
        </div>
    </div>
</div>
