<!-- Start: More Info Modal -->
<div id="moreInfoModal" tabindex="-1" role="alertdialog" aria-labelledby="moreInfoHeader" aria-modal="true" class="modal right fade">
    <div role="document" class="modal-dialog modal-md">
        <div id="ways-to-pay-content" class="modal-content">
            <!-- ways to pay content -->
            <div id="ways-to-pay-content">
                <div class="modal-header">
                    <a class="link link--icon-right link--icon-circled align-right" data-icon="&#xE5CD;" data-dismiss="modal" aria-label="Close">Close</a>
                    <div class="modal-title">
                        <h1 id="moreInfoHeader" class="h3 margin-none">Learn more about ways to pay</h1>
                    </div>
                </div>
                <div class="modal-body">
                    
                    <h4>Automatic deduction from your checking account</h4>

                    <p>To sign up for automatic deductions from your checking account, select the setup automatic payments in the Premium Payments overview section of this page. You can also download and complete the form below and follow the instructions provided. <a href="#">Electronic Funds Transfer (EFT ) Form (PDF)</a></p>



                    <h4>Automatic deduction from your credit/debit account</h4>

                    <p>To sign up for automatic deductions from your credit/debit card, select the setup automatic payments in the Premium Payments overview section of this page.</p>



                    <h4>Monthly Billing</h4>

                    <p>You may pay by mail each month (we will provide you a monthly bill). You may also make advance payments. If making a payment for the entire year, you will only need to submit one bill along with a check for the total premium amount due for the year.</p>




                    <p>Mail your Medicare prescription drug plan payment with your bill to:

                    UnitedHealthcare</p>









                    <h4>SSA Deduction</h4>

                    <p>Processing the SSA deduction is completed through the Social Security Administration and may take up to two or more months to begin. During that time, you will receive a monthly bill to make your payments. The first deduction from your Social Security benefit check will include all premiums due from the Social Security deduction effective date.

                    <a href="#">Social Security Deduction Form (PDF)</a></p>

                    <p>If you are receiving help from a plan sponsor (former employer, union or trust administrator) or State Pharmaceutical Assistance Program (SPAP) you have the right to elect automatic deductions from your Social Security benefit check.</p>



                    <p>However, it is important that you know that Social Security does not know if you have other coverage that pays part of your premium, even when the other coverage is paying part of your premium to your Medicare plan.</p>


                </div>
                <div class="modal-footer">
                    
                </div>
            </div>
        </div>
        <!-- payment history content -->
        <div id="payment-history-content" class="modal-content"> 
            <div class="modal-header">
                <a class="link link--icon-right link--icon-circled align-right" data-icon="&#xE5CD;" data-dismiss="modal" aria-label="Close">Close</a>
                <div class="modal-title">
                    <h1 id="moreInfoHeader" class="h3 margin-none">Learn more about your payment history</h1>
                </div>
            </div>
            <div class="modal-body">
                
                <h4>Amount Billed</h4>

                <p>This is the amount of your current monthly premium payment. Some plans do not have a premium and reflect a Billed Amount of $0. If you are a Medicare Advantage or Medicare Advantage – Prescription Drug plan member and have any optional supplemental benefits (riders) on your plan, these payments are also included in your Billed Amount.</p>



                <p>If you are a prescription drug plan member and are paying a Late Enrollment Penalty (LEP), this amount is included in your Billed Amount.</p>



                <h4>Billed Due Date</h4>

                <p>This is the date that your bill was sent out. This is where more information will be presented regarding billing information.</p>



                <h4>Payment Date</h4>

                <p>This relates to the date your payment was sent.</p>



                <h4>Payment Amount</h4>

                <p>This is the amount that you have paid towards the corresponding bill.</p>



                <h4>Status</h4>

                <p>Refers the the status of your payment. There are two payment statuses that will display;

                Pending: Means that a payment has been sent, but not processed yet by UHC.

                Paid: Means that a payment has been sent and received by UHC.<p>



                <h4>Payment Method</h4>

                <p>Refers to how you made your payment. </p>





                <h4>Confirmation Number</h4>

                <p>Every payment you make will have an associated confirmation number. This number is helpful for record keeping purposes or to better identify if there is an issue with a particular payment.</p>
            </div>
            <div class="modal-footer"></div>
        </div>
        <!-- Amount Due content -->
        <div id="amount-due-content" class="modal-content">
            <div class="modal-header">
                <a class="link link--icon-right link--icon-circled align-right" data-icon="&#xE5CD;" data-dismiss="modal" aria-label="Close">Close</a>
                <div class="modal-title">
                    <h1 id="moreInfoHeader" class="h3 margin-none">Total Amount Due</h1>
                </div>
            </div>
            <div class="modal-body">
                <p>This is the amount of your current monthly premium payment, including any past due billed amount. Some plans do not have a premium and reflect a Total Amount Due of $0.00. If you are a Medicare Advantage or Medicare Advantage-Prescription Drug plan member and have any optional supplemental benefits (riders) on your plan, these payments are also included in your Total Amount Due.</p>
                <p>If you are a prescription drug plan member and are paying a Late Enrollment Penalty (LEP), this amount is included in your Total Amount Due.</p>
            </div>
            <div class="modal-footer"></div>
            
        </div>
        <!-- Next Payment content -->
        <div id="next-payment-content" class="modal-content">
            <div class="modal-header">
                <a class="link link--icon-right link--icon-circled align-right" data-icon="&#xE5CD;" data-dismiss="modal" aria-label="Close">Close</a>
                <div class="modal-title">
                    <h1 id="moreInfoHeader" class="h3 margin-none">Next Premium Payment</h1>
                </div>
            </div>
            <div class="modal-body">
                <p>This is the amount of your next month's premium payment. It does not include any past due billed amounts. You do not have to wait until the due date to make a payment for future premium amounts.</p>
            </div>
            <div class="modal-footer"></div>
        </div>
        <!-- Credit Balance content -->
        <div id="credit-balance-content" class="modal-content">
            <div class="modal-header">
                <a class="link link--icon-right link--icon-circled align-right" data-icon="&#xE5CD;" data-dismiss="modal" aria-label="Close">Close</a>
                <div class="modal-title">
                    <h1 id="moreInfoHeader" class="h3 margin-none">Credit Balance</h1>
                </div>
            </div>
            <div class="modal-body">
                <p>This includes any advance payments or adjustment that have resulted in a credit to your premium payment.</p>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>