<!-- Start: SSA modal -->
<div id="ssaModal" tabindex="-1" role="alertdialog" aria-labelledby="ssaHeader" class="modal fade">
    <div role="document" class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <a class="link link--icon-right link--icon-circled align-right" data-icon="&#xE5CD;" data-dismiss="modal" aria-label="Close">Close</a>
                <div class="modal-title">
                    <h1 id="ssaHeader" class="h3 margin-none">Paying with your SSA-Social Security Deduction</h1>
                </div>
            </div>
            <div class="modal-body">
                <p class="align-center p--full">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad harum provident, sunt quos nisi modi quaerat quia! Consequuntur impedit maxime esse voluptas quidem veniam illo eligendi placeat aut, non temporibus.</p>
            </div>
            <div class="modal-footer">
                <div class="btn-group--full-width">
                  <a href="/payments/federal/automatic/form.html" class="btn btn--primary">
                      Download Request Form
                  </a>

                  <a href="#" id="call-customer-service" data-dismiss="modal" class="btn btn--secondary">
                      Call Customer Service 111-222-5555
                  </a>
                </div>
            </div>
        </div>
    </div>
</div>