---
title: My Claims Detail
backTitle: Claim Search
layout: default
hasFooter: true
hasHeader: true
hasScript:
  - medical-claims
  - table
hasHelp: FED
---
<div class="medical-claims">
  {{> mc-details-intro }}
  {{> mc-details-claims }}
  {{> mc-details-info cosmos="true"}}
  <div class="divider"></div>
</div>
