---
title: My Claim Details
backTitle: Claim Search
layout: default
hasFooter: true
hasHeader: true
hasScript:
  - medical-claims
  - table
hasHelp: SHIP
---
<div class="medical-claims">
  {{> mc-details-intro-ship partb=true }}
  {{> mc-details-claims-ship }}
  {{> mc-details-info-ship }}
  <div class="divider"></div>
</div>
